.search-form {
	.site-header & {
		align-items: center;
	}
	&__field[type='search'] {
		.site-header & {
			@include font-size(1);
		}
	}
	&__submit[type='submit'] {
		.site-header &,
		.site-header .invert & {

			box-shadow: none;
			background: none;
			&:hover {
				transform: none;
				background: none;
			}

		}
	}
}