.widget-carousel {
	.inner {
		position: relative;
		.content-wrapper {
			position: absolute;
			bottom: 0;
			padding: 8px 20px;
			@include media-breakpoint-up(md) {
				padding: 9% 40px;
			}
		}

		.post-thumbnail__link {
			margin-bottom: 0;
			opacity: .6;
			
		}

		.post__excerpt {
			margin-top: .8em;
			overflow: hidden;
			@include media-breakpoint-down(md) {
				@include font-size(.875);
			}
		}

		.entry-title {
			margin-bottom: 0;
			overflow: hidden;
		}

		.entry-title,
		.entry-meta {
			a:hover {
				&,
				#tm_builder_outer_content & {
					text-decoration: underline;
				}
			}
		}

		.entry-footer {
			transition: .3s all ease;
			.link {
				margin-top: 0;
				i {
					transition: .3s all ease;
				}
				&:hover {
					i {
						margin-left: 10px;
					}
				}
			}
			@include media-breakpoint-up(md) {
				.link {
					margin-top: 12px;
					position: absolute;
					opacity: 0;
				}
			}
		}

		@include media-breakpoint-up(md) {
			&:hover {
				.post-thumbnail__link {
					opacity: .2;
				}

				.entry-footer {
					padding-bottom: 16px;
					.link {
						opacity: 1;
					}
				}
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
		transform: translateY(-50%);
		@include media-breakpoint-down(md) {
			display: none!important;
		}
	}

	.full-width-header-area &,
	.after-content-full-width-area & {
		padding-left: 0;
		padding-right: 0;
	}
}