.widget {
	.after-content-area &,
	.after-content-full-width-area & {
		&:last-child {
			margin-bottom: 28px;
		}
	}
	
	.full-width-header-area &,
	.after-content-full-width-area & {
		& + .widget {
			padding-top: 0;
			border-top: none;
		}
	}
}

.widget_archive,
.widget_categories {
	letter-spacing: .2em;
	li a:hover {
		&,
		#tm_builder_outer_content & {
			text-decoration: underline;
		}
	}
}

.widget_calendar caption {
	letter-spacing: .2em;
}

.widget_categories {
	letter-spacing: .2em;
	li::after {
		display: none;
	}
}

.widget_tag_cloud {
	.tagcloud {
		margin-left: -3px;
		margin-right: -3px;
		a {
			margin-left: 3px;
			margin-right: 3px;
		}
	}
}

.widget_recent_entries,
.widget_recent_comments {
	a {
		text-transform: uppercase;
	}
}

.footer-area {
	.widget_text {
		p {
			margin-bottom: 14px;
		}
		a[href^="mailto:"] {
			text-decoration: underline;
		}
	}
}