.widget-smart-slider {
	& + .widget-fpblock {
		border-top: none;
		padding-top: 0;
		margin-top: -70px;
	}
}

.widget-fpblock {
	&__item-title,
	.entry-meta {
		a:hover {
			&,
			#tm_builder_outer_content & {
				text-decoration: underline;
			}
		}
	}
}