.widget-news-smart-box {
	.link {
		i {
			transition: .3s all ease;
		}
		&:hover {
			i {
				margin-left: 10px;
			}
		}
	}

	.news-smart-box {
		&__navigation-title,
		&__navigation-terms-list-item {
			letter-spacing: .2em;
		}
		&__navigation-title {
			text-transform: uppercase;
		}
		&__navigation-terms-list-item {
			text-transform: none;
			@include font-size(14/16);
			&.is-active {
				text-decoration: underline;
			}
		}
	}

	.layout_type_2 .full-type {
		.entry-meta,
		.news-smart-box__item-title {
			a:hover {
				&,
				#tm_builder_outer_content & {
					text-decoration: underline;
				}
			}
		}
	}
}
