@import "../../../../../assets/sass/mixins/mixins-master";

@mixin terms-style() {
	@include font-size(1.25);
	margin: 0 3px 8px;
	border: 1px solid;
	padding: 0 5px;
	display: inline-block;
	@include border-radius;

	&:hover {
		box-shadow: 0 0;
		transform: translateX(2px) translateY(3px) translateZ(0);
	}
}

@mixin btn-skin {
	line-height: 1;
	display: inline-block;
	max-width: 100%;
	padding: $button__indents;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	vertical-align: top;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: $button__border;
	box-shadow: $button__box-shadow;
	transition: .3s;
	text-transform: uppercase;
	@include font-size(1);
	font-weight: 400;
	letter-spacing: 2.56px;
	@include border-radius();
}

@mixin btn-skin-hover{
	&:hover,
	.invert &:hover {
		transform: translateX(2px) translateY(3px) translateZ(0);
		box-shadow: 0 0 0 0;
	}
}