@import url(https://fonts.googleapis.com/css?family=Open+Sans);
h1 {
  font-family: "Open Sans", sans-serif;
  color: #ffffff; }

h2 {
  color: #303030; }

h3 {
  color: #303030; }

h4 {
  color: #303030; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #2962ff;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/transit/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #ffffff; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #ffffff; }

.rd-mobilepanel_title {
  font-size: 70px;
  font-weight: 300;
  top: 125px;
  width: 400px;
  line-height: 80px;
  text-transform: uppercase; }

.tm-title-caption {
  font-size: 30px;
  top: 215px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  line-height: 36px;
  width: 481px; }

@media (max-width: 1579px) {
  .rd-mobilepanel_title {
    top: 62px;
    width: 800px;
    font-size: 62px; }

  .tm-title-caption {
    top: 180px;
    width: 200px; } }
@media (max-width: 1600px) and (min-width: 1580px) {
  .rd-mobilepanel_title {
    top: 62px;
    width: 800px; }

  .tm-title-caption {
    top: 180px;
    width: 198px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 62px;
    width: 800px; }

  .tm-title-caption {
    top: 180px;
    width: 300px; } }
.rd-mobilemenu .logo {
  background-color: #ffffff; }

.rd-mobilemenu_ul ul a.focus {
  color: #2962ff; }

.rd-mobilepanel.fixed .rd-mobilepanel_title {
  top: -60px; }

.toTop {
  background-color: #2962ff;
  color: #ffffff; }
  .toTop:hover {
    background: #769aff; }
