button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button-style;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	font-weight: lighter;
	font-style: normal;
	font-size: .666rem;
	border-width: 1px;
	padding: $input__indents_with-border;
	box-shadow: none;
	border-radius: 0;

	&:focus {
		border-width: 1px;
		box-shadow: none;
	}
}

select {
	padding-top: 1.16em;
	padding-bottom: 1.17em;
	appearance: none;
	padding-right: 40px;
	background-image: url("assets/images/down-2.png");
	background-repeat: no-repeat;
	background-position: calc(100% - 16px) 50%;
	background-size: 9px 5px;
}
select::-ms-expand {
	opacity: 0;
}
