.search-form {
	&__input-wrap {
		i {
			display: none;

			& + .search-form__field[type="search"] {
				padding-left: 20px;

				.top-panel &,
				.site-header & {
					padding-left: 0;
				}
			}
		}
	}
	&__submit {
		flex-grow: 0;

		.site-header .invert & {
			&.btn.btn-primary {
				background-color: transparent;
			}
		}
	}
}
