.footer-menu {
	&__items {
		display: block;
		margin: 0;
		padding: 0;

		.menu-item {
			display: inline-block;
			padding: 0;

			a {
				@include font-size(14/16);
				text-transform: none;
				font-weight: 700;
			}
		}
	}
}
