.main-navigation {
	a {
		padding: 8px 22px;
		@include font-size(12/16);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 600;
	}
	.menu {
		> li {
			> a {
				@include media-breakpoint-up(md) {
					@include font-size(14/16);
				}
			}
		}
	}
	&:not(.vertical-menu) {
		.menu{
			.sub-menu {
				box-shadow: none;
			}
		}
	}
}
