.social-list {
	.social-list__items{
		.site-footer & {

		}
	}
	.menu-item {
		.site-footer &, .follow-block & {
			a {
				@include font-size(18/16);
				text-align: center;
				width: 54px;
				height: 54px;
				border-radius: 50%;

				&:before {
					line-height: 52px;
				}
			}
		}
	}
	&--footer, .follow-block & {
		.social-list__items {
			margin-left: -3px;
			margin-right: -3px;
		}
		.menu-item {
			padding-left: 3px;
			padding-right: 3px;
		}
	}
}
