.breadcrumbs {
	padding: 15px 0;
	.site & {
		background-color: transparent;
	}

	.error404 & {
		background-color: $color__background-body;
	}

	&:before {
		content: none;
	}

	.row {
		justify-content: center;
	}

	&__items {
		width: 100%;
		text-align: center;
	}
}