/* Skin */
.main-navigation {
	a {
		@include font-size(1);
		letter-spacing: 2.56px;
	}
	.menu {
		> li {
			> a {
				@include media-breakpoint-up(md) {
					@include font-size(1);
					.invert & {
						&:before {
							content: '';
							position: absolute;
							left: 0;
							right: 0;
							height: 1px;
							background: #ffffff;
							bottom: 10px;
							opacity: 0;
							transition: .3s;
						}
					}
				}
			}
			&.menu-item-has-children {
				> a {
					@include media-breakpoint-up(md) {
						&::after {
							top: 12.5px;
						}
					}
				}
			}
			&:hover,
			&.menu-hover,
			&.current_page_item,
			&.current_page_ancestor,
			&.current-menu-item,
			&.current-menu-ancestor {
				> a {
					@include media-breakpoint-up(md) {
						.invert & {
							&:before {
								bottom: 0;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	.sub-menu {
		li {
			&.menu-item-has-children {
				@include media-breakpoint-up(md) {
					> a:after {
						top: 11.5px;
					}
				}
			}
		}
		a {
			@include media-breakpoint-up(md) {
				@include font-size(1);
				font-weight: 400;
				text-transform: uppercase;
			}
		}
	}
}

.sub-menu-toggle {
	padding: 5px 22px;
}
