.social-list {
	.social-list__items{
		margin-left: -9px;
		margin-right: -9px;
		.site-header &,
		.site-footer:not(.style-2) & {
			margin-left: -9px;
			margin-right: -9px;
		}
	}
	.menu-item {
		padding-left: 9px;
		padding-right: 9px;

		.site-header &,
		.site-footer:not(.style-2) & {
			padding-left: 9px;
			padding-right: 9px;
		}

		> a {
			&::before {
				.site-footer:not(.style-2) & {
					@include font-size(1);
				}
			}
		}
	}
}