/*--------------------------------------------
Elements
---------------------------------------------*/
ul li:before{
	background-color: $regular_accent_color_1;
}

/*--------------------------------------------
Main Menu
---------------------------------------------*/
.invert .main-navigation:not(.vertical-menu) .sub-menu a{
	 color: $invert_text_color;
 }

.invert .main-navigation:not(.vertical-menu) .sub-menu a:hover{
	color: $regular_accent_color_1;
}

.invert .menu-toggle[aria-controls="main-menu"],
.invert .main-navigation .menu li .sub-menu-toggle{
	color: $invert_text_color;
}

.invert .main-navigation.isStuck .menu > li > a,
.invert .main-navigation.mobile-menu .menu > li > a{
	color: $invert_text_color;
}

.main-navigation:not(.vertical-menu) .menu .sub-menu{
	box-shadow: none;
}

.main-navigation:not(.vertical-menu) .sub-menu,
.main-navigation.mobile-menu {
	background: $header_bg_color;
}

/*--------------------------------------------
Headers
---------------------------------------------*/

.main-navigation{
	font-family: $h1_font_family;
}

/*--------------------------------------------
Builder Slider
---------------------------------------------*/

#tm_builder_outer_content .tm_pb_slider.invert .tm_pb_slide_description .tm_pb_slide_title,
#tm_builder_outer_content .tm_pb_slider.invert .tm_pb_slide_description .tm_pb_slide_content {
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_slider.invert .tm_pb_slide_description .tm_pb_slide_content {
	font-size: $h6_font_size{px};
	font-family: $h5_font_family;
	font-weight: $h5_font_weight;
}
@media (min-width: 544px){
	#tm_builder_outer_content .tm_pb_slider.invert .tm_pb_slide_description .tm_pb_slide_content {
	font-size: $h4_font_size{px};
	}
}

#tm_builder_outer_content .tm_pb_slider .tm-pb-controllers a {
	background-color: @alpha($regular_text_color, 80);
}

#tm_builder_outer_content .tm_pb_slider .tm-pb-controllers a:hover,
#tm_builder_outer_content .tm_pb_slider .tm-pb-controllers a.tm-pb-active-control {
	background-color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev {
	background-color: transparent;
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next:hover,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev:hover {
	color: $invert_text_color !important;
}

#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_slide_title:before {
	background-color: $regular_accent_color_1;
}

/*--------------------------------------------
Buttons
---------------------------------------------*/
.btn,
#tm_builder_outer_content .tm_pb_module .tm_pb_button {
	font-family: @font_family($h1_font_family);;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_promo .tm_pb_button{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_module.tm_pb_promo .tm_pb_button:hover{
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.link{
	color: $regular_accent_color_1;
}

.link:hover{
	color: $regular_text_color;
}
/*--------------------------------------------
Invert Buttons
---------------------------------------------*/
.invert .btn,
#tm_builder_outer_content .invert .tm_pb_module .tm_pb_button,
#tm_builder_outer_content .invert .tm_pb_promo_button{
	background-color: $invert_text_color;
	color: $regular_accent_color_3;
	border-color: $invert_text_color;
}

.invert .btn:hover,
#tm_builder_outer_content .invert .tm_pb_module .tm_pb_button:hover,
#tm_builder_outer_content .invert .tm_pb_promo_button:hover{
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.invert .link:hover{
	color: $invert_text_color;
}

.invert .search-form__submit{
	color: $invert_text_color;
}
/*--------------------------------------------
Builder Blurb
---------------------------------------------*/
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module h4 {
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

/*--------------------------------------------
Builder Typography
---------------------------------------------*/
.tm_pb_text h4:before {
	background-color: $regular_accent_color_1;
}

.tm_pb_text h2:before {
	background-color: $regular_accent_color_1;
}

.tm_pb_text h6:first-child:before {
	background-color: $regular_accent_color_1;
}

/*--------------------------------------------
Builder Posts
---------------------------------------------*/
#tm_builder_outer_content .tm_pb_posts .tm-posts_item_title {
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

/*--------------------------------------------
Widget Area
---------------------------------------------*/
.sidebar .widget, .tm_pb_column_1_4 .widget,
.tm_pb_column_1_3 .widget,
.footer-area:not(.footer-area--fullwidth) .widget{
	font-size: @font_size($body_font_size, multiple, ceil, 0.8888)px;
}

.site-footer .invert {
	color: $regular_text_color;
}

.footer-area-wrap a {
	color: $regular_accent_color_1;
}

.footer-area-wrap a:hover {
	color: $invert_text_color;
}

.footer-area-wrap.invert .widget_recent_comments a:hover {
	color: $regular_accent_color_1;
}
.footer-menu{
	font-family: $h1_font_family;
}
/*--------------------------------------------
Breadcrumbs
---------------------------------------------*/
.breadcrumbs{
	background-color: transparent;
}

.breadcrumbs .breadcrumbs__item a,
.breadcrumbs .breadcrumbs__item-target{
	color: $regular_text_color;
}

.breadcrumbs .breadcrumbs__item a:hover{
	color: $regular_accent_color_1
}

/*--------------------------------------------
Builder Promo
---------------------------------------------*/
#tm_builder_outer_content .tm_pb_promo h2 {
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}

#tm_builder_outer_content .tm_pb_promo h2:before {
	background-color: $regular_accent_color_1;
}

#tm_builder_outer_content .invert .tm_pb_promo h2:before {
	background-color: $invert_text_color;
}

/*--------------------------------------------
Builder Number Counter
---------------------------------------------*/

#tm_builder_outer_content .tm_pb_number_counter h3{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

#tm_builder_outer_content .invert .tm_pb_number_counter h3{
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_number_counter .percent{
	font-family: $h2_font_family;
	font-size: $h2_font_size{px};
	font-weight: $h2_font_weight;
	line-height: $h2_line_height;
}

/*--------------------------------------------
Builder Person
---------------------------------------------*/

#tm_builder_outer_content .tm_pb_team_member .tm_pb_team_member_name{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

#tm_builder_outer_content .tm_pb_team_member .tm_pb_member_position{
	color: $regular_accent_color_1;
}


/*--------------------------------------------
Cherry Team
---------------------------------------------*/
.team-heading_title{
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}

.team-heading_title:before{
	background-color: $regular_accent_color_1;
}

.cherry-team .team-listing .team-item .team-listing_name{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

.cherry-team .team-listing .team-item .team-meta_item,
.cherry-team.team-wrap.template-single .team-meta{
	color: $regular_accent_color_1;
}

.cherry-team.template-grid-boxes .team-listing .team-item .team-meta_item{
	color: $invert_text_color;
}

/*--------------------------------------------
Cherry Testi
---------------------------------------------*/
.tm-testi .tm-testi__item-name{
	font-family: $body_font_family;
	font-size: $body_font_size{px};
	font-weight: $body_font_weight;
	line-height: $body_line_height;
	color: $regular_accent_color_2;
}
/*--------------------------------------------
Builder Testimonial
---------------------------------------------*/
#tm_builder_outer_content .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_meta_wrap,
#tm_builder_outer_content .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_author{
	font-family: $body_font_family;
	font-size: $body_font_size{px};
	font-weight: $body_font_weight;
	line-height: $body_line_height;
	color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_content:before{
	color: $regular_accent_color_1;
}

/*--------------------------------------------
Builder Contact Form
---------------------------------------------*/
#tm_builder_outer_content .tm_pb_contact_form .tm_pb_contact_main_title{
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}
.tm_pb_contact_main_title:before{
	background-color: $regular_accent_color_1;
}
/*--------------------------------------------
Cherry Projects
---------------------------------------------*/
.cherry-projects-slider__instance .sp-arrow{
	background: transparent;
	color: @alpha($invert_text_color, 60);
}

.cherry-projects-slider__instance .sp-arrow:hover{
	background: transparent;
	color: @alpha($invert_text_color, 100);
}

.projects-terms-item .terms-grid-skin1 h5,
.projects-terms-item .terms-grid-skin1_1 h5{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

.terms-grid-skin1 .featured-image .cover{
	background-color: @alpha($regular_accent_color_3, 60);
}

.terms-grid-skin1:hover .cover{
	background-color: @alpha($regular_accent_color_3, 95);
}
.cherry-projects-wrapper .projects-item-instance .featured-image a .cover{
	background-color: transparent;
}

.cherry-projects-wrapper .projects-item-instance .grid-default-skin1 a .cover{
	background-color: @alpha($regular_accent_color_3, 95);
}

.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1 .hover-content,
.cherry-projects-terms-wrapper .projects-terms-container.masonry-layout .terms-grid-skin1_1 .project-terms-content,
.cherry-projects-terms-wrapper .projects-terms-container.masonry-layout .projects-terms-item:hover .terms-grid-skin1_1 .project-terms-content{
	background-color: transparent;
}

.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1 .term-permalink span{
	font-family: $h6_font_family;
}

.cherry-projects-wrapper .projects-item-instance .terms-grid-skin1 .simple-icon:hover,
.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1 .simple-icon:hover,
.cherry-projects-wrapper .terms-grid-skin1 ul.order-filters > li ul li:hover span{
	color: $regular_accent_color_1;
}

/*Cherry Project Terms Template Skin1_1*/
.cherry-projects-terms-wrapper .projects-terms-container.grid-layout .projects-terms-item .terms-grid-skin1_1 .project-terms-content{
	background-color: transparent;
}

.cherry-projects-terms-wrapper .projects-terms-container.grid-layout .terms-grid-skin1_1 .project-terms-content p,
.cherry-projects-terms-wrapper .projects-terms-container.masonry-layout .terms-grid-skin1_1 .project-terms-content p{
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}

.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1_1 .term-permalink span{
	font-family: $h6_font_family;
}

.cherry-projects-wrapper .projects-item-instance .terms-grid-skin1_1 .simple-icon,
.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1_1 .simple-icon,
.cherry-projects-wrapper .terms-grid-skin1_1 ul.order-filters > li ul li span{
	color: $regular_accent_color_1;
}

.cherry-projects-wrapper .projects-item-instance .terms-grid-skin1_1 .simple-icon:hover,
.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin1_1 .simple-icon:hover,
.cherry-projects-wrapper .terms-grid-skin1_1 ul.order-filters > li ul li:hover span{
	color: $regular_accent_color_2;
}

/*Cherry Single Project*/
.cherry-projects-single .project-entry-title {
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}

.cherry-projects-single .project-entry-title:before{
	background-color: $regular_accent_color_1;
}





/*Cherry Project Archive Page*/

.project-media.grid-default-skin1 .project-media-back .hover-content{
	background-color: transparent;
}

.project-media.grid-default-skin1 .hover-content .simple-icon:hover{
	color: $regular_accent_color_1;
}

.project-media.grid-default-skin1 .project-entry-title{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

@media (min-width: 1600px){
	.project-media.grid-default-skin1 .project-entry-title{
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	}
}

.project-terms-caption.grid-default-skin1 .project-terms-caption-header{
	background-color: $regular_accent_color_3;
}

.project-terms-caption.grid-default-skin1 .project-terms-caption-header .project-terms-title{
	color: $invert_text_color;
}

.project-terms-caption.grid-default-skin1 .project-terms-caption-content p:before,
.project-terms-caption.grid-default-skin1 .project-terms-caption-header .project-terms-title:before{
	background-color: $regular_accent_color_1;
}


/*Cherry Projects Filters*/
.cherry-projects-wrapper .projects-filters {
	font-family: $h6_font_family;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

/*--------------------------------------------
Paginations
---------------------------------------------*/
.site-content .page-links a,
.site-content .page-numbers,
#tm_builder_outer_content .pagination .page-numbers{
	background-color: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
}

/*--------------------------------------------
Sidebar Widgets
---------------------------------------------*/
.widget-title{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

.tagcloud a{
	background-color: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
}

.tagcloud a:before{
	background-color: transparent;
}

.widget_recent_entries a,
.widget_recent_comments a,
.widget_archive a{
	color: $regular_accent_color_1;
}

.widget_recent_entries a:hover,
.widget_recent_comments a:hover,
.widget_archive a:hover{
	color: $regular_text_color;
}

.widget_calendar tbody td:not(.pad),
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td:not(.pad){
	background-color: $invert_accent_color_1;
}

.widget_calendar tbody td a,
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td a{
	background-color: $invert_accent_color_2;
	border-color: $invert_accent_color_1;
}

/*--------------------------------------------
Posts and Pages
---------------------------------------------*/
.post .entry-title {
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
}

[class*="blog-grid"] .post .entry-title,
[class*="blog-masonry"] .post .entry-title,
[class*="blog-vertical-justify"] .post .entry-title{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

.post-author__title,
.comment-reply-title,
.comments-title{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
}

.post-author-bio .post-author__content{
	font-size: @font_size($body_font_size, multiple, ceil, 0.88)px;
}

.single .post .entry-title {
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}

.single .post .entry-title:before{
	background-color: $regular_accent_color_1;
}

.format-audio .post-featured-content,
.mejs-container-wrapper,
.format-quote .post-featured-content,
.single .format-quote .entry-content blockquote,
.single-modern-header{
	background-color: $invert_accent_color_1;
}

.comment-content-wrap{
	background-color: $invert_accent_color_1;
}
.comment-content-wrap:before{
	border-color: transparent $invert_accent_color_1; transparent transparent;
}

.comment .fn{
	font-family: $body_font_family;
	font-size: $body_font_size{px};
	font-weight: $body_font_weight;
	line-height: $body_line_height;
	color: $regular_accent_color_2;
}

.comment .comment-content p {
	font-size: @font_size($body_font_size, multiple, ceil, 0.88)px;
}


a[data-popup="magnificPopup"]:before,
.mini-gallery a:before{
	background-color: transparent;
}

/*--------------------------------------------
Gallery Post Swiper
---------------------------------------------*/
.swiper-button-next,
.swiper-button-prev{
	background-color: transparent;
	color:$invert_text_color;
}
.swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-button-prev:not(.swiper-button-disabled):hover{
	color: $invert_text_color;
}

/*--------------------------------------------
Blockquote
---------------------------------------------*/
blockquote{
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: $h5_font_family;
	font-weight:$h5_font_weight;
}
blockquote cite{
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: $body_font_family;
	font-weight: $body_font_weight;
}



/*--------------------------------------------
Cherry Services
---------------------------------------------*/

.tm_pb_cherry_services .services-item:nth-of-type(odd):before{
	background-color: $invert_accent_color_1;
}

.tm_pb_cherry_services .services-item .title_wrap{
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	font-weight: $h4_font_weight;
}

.tm_pb_cherry_services .services-item .title_wrap a{
	color: $regular_h4_color;
}

.tm_pb_cherry_services .services-item .title_wrap a:hover{
	color: $regular_accent_color_1;
}

.tm_pb_cherry_services .services-item .title_wrap a:before{
	background-color: $regular_accent_color_1;
}

/*Media Icon Template*/
.tm_pb_cherry_services .template-media-icon .services-item .title_wrap,
.tm_pb_cherry_services .template-media-icon-skin1 .services-item .title_wrap{
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: $h6_font_family;
	font-weight: $h6_font_weight;
}

.tm_pb_cherry_services .template-media-icon .services-item .title_wrap a,
.tm_pb_cherry_services .template-media-icon-skin1 .services-item .title_wrap a{
	color: $regular_h6_color;
}

.tm_pb_cherry_services .template-media-icon .services-item .title_wrap a:hover,
.tm_pb_cherry_services .template-media-icon-skin1 .services-item .title_wrap a:hover{
	color: $regular_accent_color_1;
}

.tm_pb_cherry_services .template-media-icon-skin1 .icon-block{
	background-color: $regular_accent_color_1;
	color: $invert_text_color;
}

.template-media-icon-skin1.cherry-services .service-icon {
	color: $invert_text_color;
}

.tm_pb_cherry_services .template-media-icon-skin1 .icon-block:before{
	background-color: $regular_accent_color_2;
}

.services-heading_title{
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	font-weight: $h4_font_weight;
}

.services-heading_title:before{
	background-color: $regular_accent_color_1;
}

/*Single service page*/
.services-single-item .title_wrap h2{
	color: $invert_text_color;
}

.services-single-item .title_wrap h2:before{
	background-color: $regular_accent_color_1;
}

.services-single-item .post-thumbnail{
	background-color: $regular_accent_color_3;
}

/*Single service Call to Action Block*/
.services-single-item .cta_wrap{
	background-color: $regular_accent_color_1;
}

.services-single-item .cta_wrap *{
	color: $invert_text_color;
}

.services-single-item .service-cta h3 {
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
}

.services-single-item .service-cta h3:before {
	background-color: $invert_text_color;
}

.services-single-item .service-cta .cta-button {
	background-color: $invert_text_color;
	color: $regular_accent_color_3;
	border-color: $invert_text_color;
}

.services-single-item .service-cta .cta-button:hover {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

/*--------------------------------------------
Pages
---------------------------------------------*/
.page-title:before{
	background: $regular_accent_color_1;
}


/*--------------------------------------------
Booked Calendar
---------------------------------------------*/

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date{
	background-color: $invert_accent_color_1 !important;
}


body .mptt-shortcode-wrapper .mptt-shortcode-table thead tr.mptt-shortcode-row th,
body .mptt-shortcode-wrapper .mptt-shortcode-table tr td.mptt-shortcode-event > .mptt-event-container:hover{
	background-color: $invert_accent_color_1;
}

.buddypress #buddypress #whats-new-form #whats-new-textarea textarea{
	background-color: $invert_accent_color_1;
}

.buddypress #buddypress div.item-list-tabs#subnav{
	background-color: $invert_accent_color_1;
}

#tribe-events #tribe-events-content .tribe-events-calendar tbody tr td > div:first-child,
#tribe-events #tribe-events-content .tribe-events-calendar tbody tr td.tribe-events-othermonth > div:first-child{
	background: @alpha($regular_accent_color_3, 30);
	color:$invert_text_color;
}

#tribe-events #tribe-events-content .tribe-events-calendar tbody tr td > div:first-child a,
#tribe-events #tribe-events-content .tribe-events-calendar tbody tr td.tribe-events-othermonth > div:first-child a{
	background: transparent;
	color:$invert_text_color;
}

#tribe-events #tribe-events-content .tribe-events-calendar tbody tr td.tribe-events-othermonth:hover > div:first-child,
#tribe-events #tribe-events-content .tribe-events-calendar tbody tr td.tribe-events-othermonth:hover > div:first-child a{
	background: @alpha($regular_accent_color_3, 50);
	color:$invert_text_color;
}

#tribe-events #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner #tribe-bar-date,
#tribe-events #tribe-bar-form .tribe-bar-filters .tribe-bar-filters-inner #tribe-bar-search{
	background-color: transparent;
	border-color:@alpha($regular_accent_color_3, 50);
}

#tribe-events #tribe-bar-form #tribe-bar-views .tribe-bar-views-inner .tribe-bar-views-list{
	background: transparent;
}

/*Woocommerce*/
.woocommerce.widget_shopping_cart ul.cart_list > li{
	color: $regular_text_color;
}

.widget-playlist-slider .sp-right-thumbnails .sp-thumbnail-container:not(.sp-selected-thumbnail):hover .sp-thumbnail-title{
	color: $regular_accent_color_1;
}

/*Buddy press*/
.buddypress.members #buddypress #members-dir-search #search-members-form #members_search,
.buddypress #buddypress #group-dir-search #search-groups-form #groups_search{
	background-color: transparent;
	border-color:@alpha($regular_accent_color_3, 50);
}

