//========================================================
//                     Variables
//========================================================

$primary-color: #4e7df1;
$primary-color-second: #131931;
$primary-color-light: #FFFFFF;
$header-background-image: '../../projects/wilson/img/header-bg.png';

@import url(//fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700);
$primary-font-family:'Montserrat', sans-serif;

//========================================================
//                     Color & Styles
//========================================================

h1 {
	//font-family: $primary-font-family;
	color: $primary-color-light;
}
h2 {
	color: $primary-color;
	//font-family: $primary-font-family;
}
h3 {
	color: $primary-color-second;
	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-second;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;

    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
	font-size: 40px;
	width:410px;
	height: 20px;
	top:114px;
}

.tm-title-caption {
	font-size: 32px;
	top: 180px;
	font-family: $primary-font-family;
    color: $primary-color;
    line-height: 36px;
    width: 430px;
}

@media (max-width: 1800px) and (min-width: 1601px){
	.tm-title-caption {	
		width:300px;
	}
}
@media (max-width: 1600px) and (min-width: 1440px){
	.rd-mobilepanel_title {
		top:28px;
	}
	.tm-title-caption {	
		width:185px;
		top:94px;
	}
}

@media (max-width: 1399px) {
	.tm-title-caption {	
		width:383px;
	}
}
.rd-mobilemenu {
	.logo{
		background-color: $primary-color;
	}
}

.toTop {
	background-color: $primary-color;
	&:hover {
    	background: lighten($primary-color, 20%);
	}
}