/* #Typography */
h1,
.h1-style {
	font-size: @font_size($h1_font_size, multiple, ceil, 0.57)px;
}
h2,
.h2-style {
	font-size: @font_size($h2_font_size, multiple, ceil, 0.65)px;
}
h3,
.h3-style {
	font-size: @font_size($h3_font_size, multiple, ceil, 0.65)px;
}
h4,
.h4-style {
	font-size: @font_size($h4_font_size, multiple, ceil, 0.81)px;
}
h5,
.h5-style {
	font-size: @font_size($h5_font_size, multiple, ceil, 0.81)px;
}
@media (min-width: 992px) {
	h1,
	.h1-style { font-size: $h1_font_size{px}; }

	h2,
	.h2-style { font-size: $h2_font_size{px}; }

	h3,
	.h3-style { font-size: $h3_font_size{px}; }

	h4,
	.h4-style { font-size: $h4_font_size{px}; }

	h5,
	.h5-style { font-size: $h5_font_size{px}; }
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	color: $regular_link_hover_color;
}

code {
	font-size: $body_font_size{px};
}

/* Sticky */
.posts-list .sticky__label{
	margin-top: calc(((@font_size($h4_font_size, multiple, ceil, 0.81)px * $h4_line_height) - 30px) / 2);
}
@media (min-width: 992px) {
	.posts-list .sticky__label{
		margin-top: calc((($h4_font_size{px} * $h4_line_height) - 30px) / 2);
	}
}

/* #Entry Meta */
.post__category {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
}

.post__category a {
	color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.post__category a:hover {
	background: $regular_accent_color_1;
	color: $invert_text_color;
}

.posted-by,
.posted-by a {
	color: $regular_link_color;
}

.posted-by a:hover {
	color: $regular_link_hover_color;
}

.invert .entry-meta a {
	color: $invert_link_color;
}
.invert .entry-meta a:hover {
	color: $invert_link_hover_color;
}

.invert.single-modern-header .posted-by a:hover {
	color: $invert_link_hover_color;
}

/* #Buttons */
.btn,
.btn.btn-primary,
.btn.btn-default{
	background: @alpha(regular_accent_color_1, 0);
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}
.btn:hover,
.btn.btn-primary:hover,
.btn.btn-default:hover{
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn:active,
.btn-primary:active,
.btn-default:active{
	box-shadow: 0 0 10px $regular_accent_color_1;
}
.btn.btn-secondary {
	background: @alpha(regular_accent_color_2, 0);
	color: $invert_accent_color_2;
	border-color: $regular_accent_color_2;
	box-shadow: 2px 3px 0 0 $regular_accent_color_2;
}
.btn.btn-secondary:hover {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn-secondary:active {
	box-shadow: 0 0 10px $regular_accent_color_2;
}

.invert .btn,
.invert .btn.btn-primary,
.invert .btn.btn-default {
	color: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
	box-shadow: 2px 3px 0 0 $invert_accent_color_1;
}
.invert .btn:hover,
.invert .btn.btn-primary:hover,
.invert .btn.btn-default:hover {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_1;
}
.invert .btn:active,
.invert .btn-primary:active,
.invert .btn-default:active {
	box-shadow: 0 0 10px $invert_accent_color_1;
}
.invert .btn.btn-secondary{
	color: $invert_accent_color_2;
	border-color: $invert_accent_color_2;
	box-shadow: 2px 3px 0 0 $invert_accent_color_2;
}
.invert .btn.btn-secondary:hover{
	color: $regular_accent_color_2;
	background-color: $invert_accent_color_2;
}
.invert .btn-secondary:active {
	box-shadow: 0 0 10px $invert_accent_color_2;
}
/* #Social-Share */
.share-btns__link,
.social-list a,
.team-socials a{
	color: @lighten($regular_text_color, 25%);
}
.share-btns__link:hover,
.social-list a:hover,
.team-socials a:hover {
	color: $regular_link_color;
}
.invert .share-btns__link,
.invert .social-list a {
	color: $invert_link_color;
}
.invert .share-btns__link:hover,
.invert .social-list a:hover {
	color: $invert_link_hover_color;
}

/* #Elements */
blockquote {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-size: @font_size($h5_font_size, multiple, ceil, 0.81)px;
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	color: $regular_h5_color;
	border-color: $regular_accent_color_1;
}

@media (min-width: 992px) {
	blockquote { font-size: $h5_font_size{px}; }
}

blockquote:after {
	background: $regular_accent_color_1;
}
blockquote cite {
	color: $regular_h5_color;
}

hr:not(.tm_pb_module),
hr:not(.tm_pb_module):after {
	border-color: $regular_accent_color_1;
}

.invert hr,
.invert hr:after,
.tm_pb_promo_description hr,
.tm_pb_promo_description hr:after{
	border-color: $invert_accent_color_1;
}

/* #Paginations */
.site-content .page-links a,
.site-content .page-numbers,
#tm_builder_outer_content .pagination .page-numbers {
	border-color: $regular_accent_color_1;
	color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}

.site-content .page-links a:hover,
.site-content .page-links > .page-links__item,
.site-content a.page-numbers:hover,
.site-content .page-numbers.current,
#tm_builder_outer_content .pagination a.page-numbers:hover,
#tm_builder_outer_content .pagination .page-numbers.current {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_text_color;
}

.site-content .page-numbers.next,
.site-content .page-numbers.prev,
#tm_builder_outer_content .pagination .page-numbers.next,
#tm_builder_outer_content .pagination .page-numbers.prev {
	color: $regular_link_color;
}
.site-content .page-numbers.next:hover,
.site-content .page-numbers.prev:hover,
#tm_builder_outer_content .pagination .page-numbers.next:hover,
#tm_builder_outer_content .pagination .page-numbers.prev:hover{
	color: $regular_link_hover_color;
}

/* #Post navigation*/
.comment-navigation .nav-previous > a,
.comment-navigation .nav-next > a,
.posts-navigation .nav-previous > a,
.posts-navigation .nav-next > a,
.post-navigation .nav-previous > a,
.post-navigation .nav-next > a {
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}

/* #Author-bio */
.post-author-bio .post-author__content {
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}

/* #Comments */
.comment .fn {
	font-style: $meta_font_style;
	font-size: $meta_font_size{px};
}
.comment .comment-date__link {
	color: $regular_link_color;
}
.comment .comment-date__link:hover {
	color: $regular_link_hover_color;
}
.comment-reply-link,
.comment-reply-title #cancel-comment-reply-link {
	font-style: $body_font_style;
}

/* #Comment, Contact, Password Forms */
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	background: @alpha(regular_accent_color_1, 0);
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}
.comment-form .submit:hover,
.wpcf7-submit:hover,
.post-password-form label + input:hover {
	color: $invert_text_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.comment-form .submit:active,
.wpcf7-submit:active,
.post-password-form label + input:active {
	box-shadow: 0 0 10px $regular_accent_color_1;
}

/* #Widget */
.sidebar .widget,
.tm_pb_column_1_4 .widget,
.tm_pb_column_1_3 .widget {
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}

/* #Widget Categories */
.widget_categories a {
	color: $regular_link_hover_color;
}
.invert .widget_categories a {
	color: $invert_link_color;
}
.widget_categories a:hover {
	color: $regular_link_color;
}
/* #Widget Comments */
.widget_recent_comments ul li .comment-author-link ~ a {
	font-size: $body_font_size{px};
}

/* #Widget Recent Posts, Recent Comments */
.widget_recent_entries a,
.widget_recent_comments a {
	color: $regular_link_color;
}
.widget_recent_entries a:hover,
.widget_recent_comments a:hover {
	color: $regular_link_hover_color;
}
.invert .widget_recent_entries a,
.invert .widget_recent_comments a {
	color: $invert_link_color;
}
.invert .widget_recent_entries a:hover,
.invert .widget_recent_comments a:hover {
	color: $invert_link_hover_color;
}

/* #Widget Tag Cloud */
.tagcloud a {
	color: $regular_accent_color_1;
	background-color: @alpha($regular_accent_color_1, 0);
	border-color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}
.tagcloud a:hover {
	color: $invert_text_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.tagcloud{
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
	color: $regular_accent_color_1;
}

/* #Widget Calendar */
.widget_calendar caption {
	color: $regular_accent_color_1;
}
.invert .widget_calendar caption {
	color: $invert_text_color;
}

.widget_calendar tbody td {
	font-size: $body_font_size{px};
}
.widget_calendar tbody td:not(.pad),
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td:not(.pad),
.widget_calendar tbody td#today,
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td#today{
	background-color: @alpha($regular_accent_color_1, 0);
	color: $regular_accent_color_1;
}
.invert .widget_calendar tbody td:not(.pad),
#tm_builder_outer_content .invert .tm_pb_widget_area .widget_calendar table tbody td:not(.pad),
.invert .widget_calendar tbody td#today,
#tm_builder_outer_content .invert .tm_pb_widget_area .widget_calendar table tbody td#today{
	background-color: @alpha($regular_accent_color_1, 0);
	color: $invert_text_color;
}
.widget_calendar tbody td a,
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td a {
	border: 1px solid $regular_accent_color_1;
	background-color: @alpha($regular_accent_color_1, 0);
	color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}

.widget_calendar tbody td a:hover,
#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td a:hover {
	background-color: $regular_accent_color_1;
	color: $invert_text_color;
	border-color: $regular_accent_color_1;
}

.widget_calendar tfoot td#next a:before,
.widget_calendar tfoot td#prev a:before {
	line-height: calc( $body_line_height * $body_font_size / 24 );
}

/* #Swiper navigation */
.swiper-button-next,
.swiper-button-prev {
	color: $regular_accent_color_1;
}
.swiper-button-next {
	box-shadow: -2px 3px 0 0 $regular_accent_color_1;
}
.swiper-button-prev {
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}
.swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-button-prev:not(.swiper-button-disabled):hover{
	color: $invert_text_color;
	background: $regular_accent_color_1;
}

/* #Image Grid Widget */
.invert .widget-image-grid__author,
.invert .widget-image-grid__author a,
.invert .widget-image-grid__terms a {
	color: $invert_link_hover_color;
}
.invert .widget-image-grid__title a:hover{
	color: $invert_link_hover_color;
}
.invert .widget-image-grid__terms a:hover,
.invert .widget-image-grid__author a:hover{
	color: $invert_link_color;
}

.invert .widget-image-grid__content::before{
	background: $regular_accent_color_1;
}

/* #News Smart Box Widget */
.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a {
	color: $invert_link_color;
}

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content .entry-meta a:hover {
	color: $invert_link_hover_color;
}

/* #Smart Slider Slider */
.smart-slider__instance .sp-arrow {
	color: $regular_accent_color_1;
}
.smart-slider__instance .sp-horizontal .sp-next-arrow {
	box-shadow: -2px 3px 0 0 $regular_accent_color_1;
}
.smart-slider__instance .sp-horizontal .sp-previous-arrow {
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}
.smart-slider__instance .sp-next-arrow:hover,
.smart-slider__instance .sp-previous-arrow:hover {
	color: $invert_text_color;
	background: $regular_accent_color_1;
}

/* #Builder Module Button */
#tm_builder_outer_content .tm_pb_module.tm_pb_button,
#tm_builder_outer_content .tm_pb_module .tm_pb_button {
	border-color: $regular_accent_color_1;
	background-color: @alpha($regular_accent_color_1, 0);
	color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_button:hover{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_button:after{
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_button:hover:after{
	color: $invert_text_color;
}
/* #Invert Builder Module Button */
#tm_builder_outer_content .invert .tm_pb_module.tm_pb_button,
#tm_builder_outer_content .invert .tm_pb_module .tm_pb_button,
#tm_builder_outer_content .tm_pb_module .tm_pb_button.tm_pb_promo_button {
	border-color: $invert_accent_color_1;
	background-color: @alpha($invert_accent_color_1, 0);
	color: $invert_accent_color_1;
	box-shadow: 2px 3px 0 0 $invert_accent_color_1;
}
#tm_builder_outer_content .invert .tm_pb_button:hover,
#tm_builder_outer_content .tm_pb_module .tm_pb_button.tm_pb_promo_button:hover {
	background-color: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .invert .tm_pb_button:after,
#tm_builder_outer_content .tm_pb_module .tm_pb_button.tm_pb_promo_button:after{
	color: $invert_accent_color_1;
}
#tm_builder_outer_content .invert .tm_pb_button:hover:after,
#tm_builder_outer_content .tm_pb_button.tm_pb_promo_button:hover:after {
	color: $regular_accent_color_1;
}

/* CTA Builder Module */
#tm_builder_outer_content .tm_pb_promo h2{
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: @font_size($h1_font_size, multiple, ceil, 0.57)px;
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{em};
	text-align: $h1_text_align;
	color: $invert_h1_color;
}
@media (min-width: 992px) {
	#tm_builder_outer_content .tm_pb_promo h2 { font-size: $h1_font_size{px}; }
}

/* Cherry Testimonials */
.tm-testi__item-position,
.tm-testi__item-email,
.tm-testi__item-company{
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
}

/* Cherry Team Members */
.cherry-team.team-wrap .team-listing .team-listing_position{
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
}

.cherry-team.team-wrap .team-listing .team-listing_name {
	font-style: $h4_font_style;
}
.cherry-team.team-wrap.template-grid-boxes-2 .team-listing_image:before{
	background-color: @alpha($regular_accent_color_1, 50);
}

/* Cherry Services */
.service-features_label {
	color: $regular_text_color;
}

/* Booked */
.booked-calendar-shortcode-wrap .booked-calendar thead tr th .monthName {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 0.9333)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	color: $regular_h4_color;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr th .backToMonth:hover {
	color: $regular_link_hover_color;
}

.booked-calendar-shortcode-wrap .booked-calendar thead tr.days th {
	color: $regular_h1_color !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date .number {
	font-size: @font_size($h5_font_size, multiple, ceil, 0.7)px;
	font-weight: $h5_font_weight;
}
@media (min-width: 992px){
	.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date .number {
		font-size: $h5_font_size{px};
	}
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date .number{
	color: @alpha($regular_accent_color_1, 50%);
}
.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.prev-date .date .number{
	color: @alpha($regular_accent_color_1, 50%) !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.prev-month .date .number,
.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.next-month .date .number{
	color: @alpha($regular_accent_color_1, 10%) !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster .number,
body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active .date .number{
	color: $regular_accent_color_1;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.today .date.tooltipster:hover .number,
.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster:hover .number{
	color: $regular_accent_color_1 !important;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster:hover{
	background: @alpha($regular_accent_color_1, 10%) !important;
}

body .booked-calendar-shortcode-wrap .booked-calendar tbody tr td.active:hover .date .number{
	color: @alpha($regular_accent_color_1, 50%);
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock h2 {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot .timeslot-range,
.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot .spots-available{
	font-weight: $meta_font_weight;
	font-size: $meta_font_size{px};
	line-height: $meta_line_height;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot .timeslot-range {
	font-style: $meta_font_style;
	color: $regular_accent_color_1;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot .spots-available{
	font-style: $body_font_style;
}

.booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-people .button,
body .booked-modal .bm-window .booked-form .field > input.button,
body .booked-modal .bm-window .field button,
body #booked-profile-page #profile-edit #booked-page-form .form-submit input[type^="submit"],
body #booked-profile-page .login-submit input[type^="submit"],
body #booked-profile-page .wp-user-form input[type^="submit"],
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary {
	background:  @alpha($regular_accent_color_1, 0);
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

body .booked-calendar-shortcode-wrap .booked-calendar tbody tr.entryBlock .timeslot-people .button:hover,
body .booked-modal .bm-window .booked-form .field > input.button:hover,
body .booked-modal .bm-window .field button:hover,
body #booked-profile-page #profile-edit #booked-page-form .form-submit input[type^="submit"]:hover,
body #booked-profile-page .login-submit input[type^="submit"]:hover,
body #booked-profile-page .wp-user-form input[type^="submit"]:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover {
	border-color: $regular_accent_color_1;
	background:  $regular_accent_color_1 !important;
	color: $invert_text_color;
}

body #booked-profile-page input[type=submit].button-primary,
body table.booked-calendar input[type=submit].button-primary,
body .booked-list-view button.button,
body .booked-list-view input[type=submit].button-primary,
body .booked-modal input[type=submit].button-primary,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button,

body #booked-profile-page input[type=submit].button-primary:hover,
body table.booked-calendar input[type=submit].button-primary:hover,
body .booked-list-view button.button:hover,
body .booked-list-view input[type=submit].button-primary:hover,
body .booked-modal input[type=submit].button-primary:hover,
body table.booked-calendar .booked-appt-list .timeslot .timeslot-people button:hover {
	border-color: $regular_accent_color_1 !important;
}

/*mp-rm*/
.mprm-container[class*="mprm-taxonomy-items-"] .mprm-header.with-image .mprm-title {
	font-size: @font_size($h1_font_size, multiple, ceil, 0.57)px;
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{em};
}

@media (min-width: 992px) {
	.mprm-container[class*="mprm-taxonomy-items-"] .mprm-header.with-image .mprm-title { font-size: $h1_font_size{px}; }
}

.mprm-container.mprm-view-grid .mp_menu_item .mprm-title,
.mprm-container.mprm-view-grid .mprm-price-container .mprm-price {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
}

.mprm-container .mprm-price-container .mprm-price,
.mprm-container.mprm-view-grid .mprm-price-container .mprm-price {
	font-style: $meta_font_style;
}

.mprm-container .mprm-title a:hover {
	color: $regular_link_hover_color;
}

.mprm-container.mprm-shortcode-categories.mprm-view-list .mprm-title {
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: @font_size($h1_font_size, multiple, ceil, 0.57)px;
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{em};
	color: $regular_h1_color;
}

@media (min-width: 992px) {
	.mprm-container.mprm-shortcode-categories.mprm-view-list .mprm-title {
		font-size: $h1_font_size{px};
	}
}
.single .mprm-main-wrapper.mp_menu_item .content-wrapper .mprm-sidebar {
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}

.mprm-related-items a {
	color: $regular_link_color;
}
.mprm-related-items a:hover {
	color: $regular_link_hover_color;
}

/* buy button */
.mprm_menu_item_buy_button .mprm-submit.mprm-inherit:not(.plain),
.mprm_checkout a,
#mprm_purchase_submit .mprm-submit.mprm-inherit,
#mprm-next-submit-wrap .mprm-submit.mprm-inherit {
	color: $regular_accent_color_1;
	background-color: @alpha($regular_accent_color_1, 0);
	border-color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}

.mprm_menu_item_buy_button .mprm-submit.mprm-inherit:not(.plain):hover,
.mprm_checkout a:hover,
#mprm_purchase_submit .mprm-submit.mprm-inherit:hover,
#mprm-next-submit-wrap .mprm-submit.mprm-inherit:hover{
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_text_color;
}

.invert .mprm_menu_item_buy_button .mprm-submit.mprm-inherit:not(.plain),
.invert .mprm_checkout a{
	color: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
	box-shadow: 2px 3px 0 0 $invert_accent_color_1;
}

.invert .mprm_menu_item_buy_button .mprm-submit.mprm-inherit:not(.plain):hover,
.invert .mprm_checkout a:hover {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_1;
}

.mprm-payment-mode-label,
.mprm-payment-details-label,
.mprm-order-details-label {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}


/* Cherry Project */
.cherry-projects-terms-wrapper .terms-grid-skin6-tmpl h5 {
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: @font_size($h1_font_size, multiple, ceil, 0.5)px;
	line-height: $h1_line_height;
	font-family: @font_family( $h1_font_family );
	letter-spacing: $h1_letter_spacing{em};
}

.cherry-projects-terms-wrapper .terms-grid-skin6-tmpl p {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, ceil, 0.81)px;
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
}
@media (min-width: 992px) {
	.cherry-projects-terms-wrapper .terms-grid-skin6-tmpl h5 {
		font-size: $h1_font_size{px};
	}
	.cherry-projects-terms-wrapper .terms-grid-skin6-tmpl p {
		font-size: $h5_font_size{px};
	}
}

.cherry-projects-terms-wrapper .projects-terms-container .terms-grid-skin6-tmpl .hover-content {
	background-color: @alpha($regular_accent_color_1, 50);
}

.cherry-projects-wrapper .projects-pagination .page-link li {
	border-color: $regular_accent_color_1;
	background-color: @alpha($regular_accent_color_1, 0);
	color: $regular_accent_color_1;
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}

.cherry-projects-wrapper .projects-pagination .page-link li:hover,
.cherry-projects-wrapper .projects-pagination .page-link li.active {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_text_color;
}
.cherry-projects-wrapper .projects-pagination .page-navigation span:hover {
	color: $regular_link_hover_color;
}

.cherry-projects-slider__instance .sp-arrow {
	color: $regular_accent_color_1;
}
.cherry-projects-slider__instance .sp-horizontal .sp-next-arrow {
	box-shadow: -2px 3px 0 0 $regular_accent_color_1;
}
.cherry-projects-slider__instance .sp-horizontal .sp-previous-arrow {
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}
.cherry-projects-slider__instance .sp-next-arrow:hover,
.cherry-projects-slider__instance .sp-previous-arrow:hover {
	color: $invert_text_color;
	background: $regular_accent_color_1;
}

.cherry-projects-slider__instance .sp-image-container:before {
	background: @alpha($regular_accent_color_1, 50%);
	background: -webkit-linear-gradient(to top, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 50%));
	background: linear-gradient(to top, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 50%));
}

/* Contact block */
.site-footer.style-2 .contact-block__value-wrap {
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}

/* #Main Menu */
.main-navigation .menu > li > a,
.invert .main-navigation.vertical-menu .menu > li > a,
.invert .main-navigation .menu.isStuck > li > a,
.invert .main-navigation.mobile-menu .menu > li > a{
	color: $regular_link_color;
}
.invert .main-navigation > .menu > li > a {
	color: $invert_link_color;
}

@media( min-width: 768px ) {
	.invert .main-navigation .menu > li > a:hover,
	.invert .main-navigation .menu > li.menu-hover > a,
	.invert .main-navigation .menu > li.tm-mega-menu-hover > a,
	.invert .main-navigation .menu > li.current_page_item > a,
	.invert .main-navigation .menu > li.current_page_ancestor > a,
	.invert .main-navigation .menu > li.current-menu-item > a,
	.invert .main-navigation .menu > li.current-menu-ancestor > a {
		color: $invert_link_color;
	}
}

.main-navigation .menu > li > a:hover,
.main-navigation .menu > li.menu-hover > a,
.main-navigation .menu > li.tm-mega-menu-hover > a,
.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a,
.invert .main-navigation.vertical-menu .menu > li > a:hover,
.invert .main-navigation.vertical-menu .menu > li.menu-hover > a,
.invert .main-navigation.vertical-menu .menu > li.current_page_item > a,
.invert .main-navigation.vertical-menu .menu > li.current_page_ancestor > a,
.invert .main-navigation.vertical-menu .menu > li.current-menu-item > a,
.invert .main-navigation.vertical-menu .menu > li.current-menu-ancestor > a,
.invert .main-navigation .menu.isStuck > li > a:hover,
.invert .main-navigation .menu.isStuck > li.menu-hover > a,
.invert .main-navigation .menu.isStuck > li.current_page_item > a,
.invert .main-navigation .menu.isStuck > li.current_page_ancestor > a,
.invert .main-navigation .menu.isStuck > li.current-menu-item > a,
.invert .main-navigation .menu.isStuck > li.current-menu-ancestor > a,
.invert .main-navigation.mobile-menu .menu > li > a:hover,
.invert .main-navigation.mobile-menu .menu > li.menu-hover > a,
.invert .main-navigation.mobile-menu .menu > li.current_page_item > a,
.invert .main-navigation.mobile-menu .menu > li.current_page_ancestor > a,
.invert .main-navigation.mobile-menu .menu > li.current-menu-item > a,
.invert .main-navigation.mobile-menu .menu > li.current-menu-ancestor > a{
	color: $regular_link_hover_color;
}

.main-navigation ul ul a {
	color: $regular_link_color;
}
.main-navigation .sub-menu > li > a:hover,
.main-navigation .sub-menu > li.menu-hover > a,
.main-navigation .sub-menu > li.current_page_item > a,
.main-navigation .sub-menu > li.current_page_ancestor > a,
.main-navigation .sub-menu > li.current-menu-item > a,
.main-navigation .sub-menu > li.current-menu-ancestor > a {
	color: $regular_link_hover_color;
}

.menu-toggle[aria-controls="main-menu"],
.main-navigation .menu li .sub-menu-toggle {
	color: $regular_accent_color_1;
}
.menu-toggle .menu-toggle-inner,
.menu-toggle .menu-toggle-inner:before,
.menu-toggle .menu-toggle-inner:after {
	background-color: $regular_link_color;
}
.menu-toggle:hover .menu-toggle-inner,
.menu-toggle:hover .menu-toggle-inner:before,
.menu-toggle:hover .menu-toggle-inner:after {
	background-color: $regular_link_hover_color;
}
.invert .menu-toggle .menu-toggle-inner,
.invert .menu-toggle .menu-toggle-inner:before,
.invert .menu-toggle .menu-toggle-inner:after {
	background-color: $invert_link_color;
}
.invert .menu-toggle:hover .menu-toggle-inner,
.invert .menu-toggle:hover .menu-toggle-inner:before,
.invert .menu-toggle:hover .menu-toggle-inner:after{
	background-color: $invert_link_hover_color;
}

/* #Footer Menu */
.invert .footer-menu__items li a:hover,
.invert .footer-menu__items li.current-menu-item a,
.invert .footer-menu__items li.current_page_item a {
	color: $invert_link_hover_color;
}

/* Search form */
.top-panel .search-form__submit,
.header-container .search-form__submit,
.mobile-panel .search-form__submit{
	color: $regular_link_hover_color;
}
.top-panel .search-form__submit:hover,
.header-container .search-form__submit:hover,
.mobile-panel .search-form__submit:hover {
	color: $regular_link_color;
}

.top-panel.invert .search-form__submit:hover,
.header-container.invert .search-form__submit:hover,
.mobile-panel.invert .search-form__submit:hover{
	color: $invert_link_hover_color;
}

.invert .search-form__toggle:hover,
.invert .search-form__close:hover{
	color: $invert_link_hover_color;
}

/* Audio module */
#tm_builder_outer_content .tm_pb_audio_module {
	background-color: $regular_accent_color_2;
}

/* Post module */
#tm_builder_outer_content .tm_pb_posts .tm-posts_layout-3 .tm-posts_item_content {
	background: @alpha($regular_accent_color_1, 50%);
	background: -webkit-linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
	background: linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
}

/* Widgets overlay background */
.widget-fpblock__item-inner,
.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.widget-playlist-slider .sp-slide--content-visible .sp-layer{
	background: @alpha($regular_accent_color_1, 50%);
	background: -webkit-linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
	background: linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
}

/* Slider module */
.tm-pb-slider-arrows,
#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-next,
#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-prev {
	color: $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev {
	background-color: $invert_accent_color_1;
}

#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next {
	box-shadow: -2px 3px 0 0 $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev {
	box-shadow: 2px 3px 0 0 $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next:hover,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev:hover {
	color: $invert_accent_color_1 !important;
	background-color: $regular_accent_color_1;
}

/* Taxonomy module, widget */
#tm_builder_outer_content .tm_pb_taxonomy .tm_pb_taxonomy__inner:hover .tm_pb_taxonomy__content:before,
.widget-taxonomy-tiles__inner:hover .widget-taxonomy-tiles__content::before {
	background-color: $regular_accent_color_1;
}

/* Module blog */
#tm_builder_outer_content .tm_link_content,
#tm_builder_outer_content .tm_audio_content {
	background-color: @lighten($regular_accent_color_1, 20);
}
