<div class="single-service-header">
	<div class="post-thumbnail">
		%%IMAGE link="false"%%
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-xl-8 col-xl-push-2">
				%%TITLE wrap="h2"%%
			</div>
		</div>
	</div>
</div>
%%CONTENT%%
%%FEATURES%%
%%CTA%%
%%TESTI%%