<div class="service-header invert">
	%%IMAGE link="false" class="service-header__image"%%
	<div class="service-header__content container">
		%%TITLE wrap="h2"%%
	</div>
</div>
<div class="service-content">
	%%SLOGAN wrap="h5"%%
	%%CONTENT%%
	%%FEATURES%%
	%%CTA%%
	%%TESTI%%
</div>