@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700italic,400italic);
h1 {
  color: #ffffff;
  font-family: "Playfair Display", serif; }

h2 {
  color: #ff8a2b; }

h3 {
  color: #303030; }

h4 {
  color: #303030; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #ff8a2b;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/coffeera/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 100px;
  width: 410px;
  height: 20px;
  top: 114px; }

.tm-title-caption {
  font-size: 35px;
  top: 258px;
  font-family: "Playfair Display", serif;
  color: #ffffff;
  line-height: 36px;
  width: 430px;
  text-align: center; }

@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 35px; }

  .tm-title-caption {
    width: 300px;
    top: 178px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 35px; }

  .tm-title-caption {
    text-align: left;
    top: 178px; } }
@media (max-width: 1399px) {
  .tm-title-caption {
    width: 383px; } }
.rd-mobilemenu .logo {
  background-color: #ffffff; }

.toTop {
  background-color: #ff8a2b; }
  .toTop:hover {
    background: #ffc291; }
