button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	border-radius: 30px;
	@include font-size(1);
	text-transform: none;
	position: relative;
	z-index: 1;
	padding: 14px 27px;

}

input[type='button'],
input[type='reset'],
input[type='submit'] {
	&:hover{
		padding: 14px 27px !important;
	}
}