input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	border: 1px solid $color__background-input;
	background-color: $color__background-input;
	border-radius: 30px;
	@include font-size(0.8125);
	font-weight: normal;
	padding: 5px 20px;
	font-style: normal;
	line-height: 2.2;
	&:focus{
		background-color: $color__background-input;
	}
}