.site-header .contact-block{
	&__icon{
		@include font-size(1);
		margin-right: 5px;
	}

	&__inner{
		margin-left: -21px;
		margin-right: -21px;
	}

	&__item{
		padding: 5px 21px;
	}

	&__item:not(:last-child){
		border:none;
	}

	&__text, &__label{
		@include font-size(0.8125);
	}
}