@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
h1 {
  font-family: "Noto Sans", sans-serif;
  color: #04c4d9; }

h2 {
  color: #353a40; }

h3 {
  color: #000000; }

h4 {
  color: #000000; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #f9f9f9;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/cityherald/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 74px;
  top: 220px; }

.tm-title-caption {
  font-size: 33px;
  top: 330px;
  font-family: "Noto Sans", sans-serif;
  color: #000000;
  line-height: 36px;
  width: 365px;
  font-style: bold;
  text-align: center; }

.rd-mobilemenu .logo {
  background-color: #f3f9fa; }

.toTop {
  background-color: #353a40; }
  .toTop:hover {
    background: #333333; }

@media (max-width: 1600px) and (min-width: 976px) {
  .rd-mobilepanel_title {
    top: 74px; }

  .tm-title-caption {
    width: 259px;
    top: 180px;
    text-align: left;
    font-size: 21px !important; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 74px; }

  .tm-title-caption {
    width: 350px;
    top: 180px;
    text-align: left; } }
.rd-mobilepanel_toggle span {
  background-color: #000000; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #000000; }
