/*!
Skin Name: Skin 9
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Grid
# Typography
# Elements
	## Lists
	## Tables
	## Preloader
	## ToTop button
# Forms
# Navigation
	## Links
	## Top Menu
	## Main Menu
	## Footer Menu
	## Paginations
	## Breadcrumbs
	## Social List
# Modules
	## Accessibility
	## Alignments
	## Clearings
	## Comments
	## Swiper
	## Author Bio
	## Share Buttons
	## Magnific Popup
# Components
	## Card
# Content
	## Layout
	## Header
	## Posts and pages
	## Post Formats
	## Footer
	## 404
# Widgets
	## Defaults
	## About author
	## About Monstroid2
	## Banner
	## Carousel
	## Contact Information
	## Custom Posts
	## Featured Posts Block
	## Instagram
	## Image Grid
	## News Smart Box
	## Playlist Slider
	## Smart Slider
	## Subscribe
	## Taxonomy Tiles
# Media
	## Captions
	## Galleries
	## Embeds
# Plugins
	## BuddyPress
	## Events
	## Booked
	## Timeline
	## Events Schedule
	## Contact Form 7
	## Power Builder
	## Cherry Team Members
	## Cherry Testimonials
	## Cherry Project
	## Mega menu
# Woocommerce Part

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1 {
  margin: 0 0 7px;
}

h6 {
  margin: 0 0 20px;
}

body.single .post > .entry-content > p:first-of-type:first-letter,
body.single-team .team-content .post-content > *:first-child:first-letter {
  font-size: 66px;
  font-size: 4.125rem;
  background: transparent;
  padding: 0;
  margin: -5px 15px 0 0;
  float: left;
  position: relative;
  line-height: 1;
}

@-moz-document url-prefix() {
  body.single .post > .entry-content > p:first-of-type:first-letter,
  body.single-team .team-content .post-content > p:first-of-type:first-letter {
    padding: 0;
    margin: -5px 15px 0 0;
  }
}
body .dropcaps {
  font-size: 66px;
  font-size: 4.125rem;
  background: transparent;
  padding: 0;
  margin: -5px 15px 0 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
blockquote {
  margin-top: 32px;
  margin-bottom: 32px;
}
.single-post .post > .entry-content blockquote, .page > .entry-content blockquote {
  text-align: left;
}
.entry-content blockquote cite {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 13px;
}
blockquote::before {
  font-style: normal;
  line-height: 32px;
}
p + blockquote {
  margin-top: 52px;
}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.link {
  text-decoration: underline;
}
.link:hover {
  text-decoration: underline;
}
.link .linearicon {
  display: none;
}

/*--------------------------------------------------------------
## Fields
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Search-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comment-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Password-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Main Menu
--------------------------------------------------------------*/
.main-navigation .menu > .menu-item > a {
  font-weight: 700;
}

/*--------------------------------------------------------------
## Vertical menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Paginations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Social List
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Toggle buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
li.comment .comment-content p {
  font-size: 14px;
  font-size: 0.875rem;
}

/*--------------------------------------------------------------
## Swiper
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Suthor-bio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Share
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Magnific Popup
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header .contact-block__inner {
  margin-left: -15px;
  margin-right: -15px;
}
.site-header .contact-block__item {
  padding-left: 15px;
  padding-right: 15px;
}
.site-header .contact-block__item:not(:last-child) {
  border-right: none;
}
.site-header .contact-block__icon {
  font-size: 16px;
  font-size: 1rem;
  margin-right: 8px;
}
.site-header.style-6 {
  box-shadow: 0 2px 12px rgba(136, 136, 136, 0.26);
  z-index: 2;
}
.site-header.style-6 .header-container {
  padding: 20px 0;
}
@media (min-width: 768px) {
  .site-header.style-6 .header-container {
    padding: 30px 0 0;
  }
}
.site-header.style-6 .top-panel + .header-container {
  padding-top: 4px;
}
.site-header.style-6 .main-navigation {
  position: relative;
  margin-top: 42px;
  padding-top: 19px;
  padding-bottom: 20px;
}
.site-header.style-6 .main-navigation::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -100%;
  right: -100%;
  border-top: 1px solid #ECECEE;
}
.site-header.style-6.transparent .top-panel + .header-container {
  padding-top: 20px;
}
.site-header.style-6.transparent .main-navigation {
  margin-top: 3px;
}
.site-header.style-6.transparent .main-navigation::before {
  display: none;
}

.site-header.style-6 .top-panel__top, .site-header.style-6 .top-panel__bottom {
  border-bottom: none;
  padding: 20px 0 5px;
}
.site-header.style-6.transparent .top-panel__top, .site-header.style-6.transparent .top-panel__bottom {
  padding: 5px 0;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.site-content_wrap {
  margin-top: 5em;
}

/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
.posts-list--default .sticky__label {
  margin-top: 16px;
}

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer-copyright {
  color: #888;
}

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Defaults
--------------------------------------------------------------*/
.footer-area .widget_recent_comments li {
  color: #888;
}

/*--------------------------------------------------------------
## About author
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## About Monstroid2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Banner
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Carousel
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Information
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Custom Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Featured Posts Block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Instagram
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Image Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## News Smart Box
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Playlist Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Smart Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Subscribe
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Taxonomy Tiles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## bbPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Events
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Booked
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Timeline
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Events Schedule
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Form 7
--------------------------------------------------------------*/
.wpcf7-submit, .wpcf7 .wpcf7-submit + .ajax-loader {
  margin-top: 12px;
}

/*-------------------------------------------------------------
## Power Builder
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Misc
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Typography
--------------------------------------------------------------*/
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text:first-child h1:first-child::before,
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text:first-child h2:first-child::before,
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text:first-child h3:first-child::before,
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_cta:first-child h2:first-child::before {
  content: '';
  display: block;
  width: 35px;
  height: 2px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text:first-child h3:first-child::before,
  #tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_cta:first-child h2:first-child::before {
    margin-bottom: 43px;
  }
}
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text_align_center h1::before,
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text_align_center h2::before,
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text_align_center h3::before {
  margin-left: auto;
  margin-right: auto;
}
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text_align_right h1::before,
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text_align_right h2::before,
#tm_builder_outer_content .container:first-child .tm_pb_row:first-child .tm_pb_text_align_right h3::before {
  margin-left: auto;
}

#tm_builder_outer_content .tm_pb_slide_title::before {
  content: '';
  display: block;
  width: 35px;
  height: 2px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #tm_builder_outer_content .tm_pb_slide_title::before {
    margin-bottom: 43px;
  }
}
#tm_builder_outer_content .tm_pb_media_alignment_center .tm_pb_slide_title::before {
  margin-left: auto;
  margin-right: auto;
}
#tm_builder_outer_content .tm_pb_media_alignment_right .tm_pb_slide_title::before {
  margin-left: auto;
}

.service-header__content h2::before,
.single-team .team-name::before {
  content: '';
  display: block;
  width: 35px;
  height: 2px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .service-header__content h2::before {
    margin-bottom: 56px;
  }
}

@media (min-width: 768px) {
  .single-team .team-name::before {
    margin-bottom: 35px;
  }
}

/*--------------------------------------------------------------
### Accordion
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Audio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Blog
--------------------------------------------------------------*/
@media (min-width: 1200px) {
  #tm_builder_outer_content .tm_pb_blog.tm_pb_module .tm_pb_post {
    margin-bottom: 84px;
  }
}
#tm_builder_outer_content .tm_pb_blog.tm_pb_module .more-link {
  display: inline-block;
  font-weight: 700;
}
#tm_builder_outer_content .tm_pb_blog.tm_pb_module .more-link, #tm_builder_outer_content .tm_pb_blog.tm_pb_module .more-link:hover {
  text-decoration: underline;
}

/*--------------------------------------------------------------
### Blurb
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_main_blurb_image {
  margin-bottom: 26px;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_blurb_container h4 {
  margin-bottom: 21px;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm-pb-icon-circle-border {
  border-width: 2px;
}

/*--------------------------------------------------------------
### Brands Showcase
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Carousel
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Circle Counter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Contact-form
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_contact_form .tm_contact_bottom_container {
  text-align: center;
  margin-top: 15px;
}
#tm_builder_outer_content .tm_pb_contact_form .tm_pb_contact_right {
  margin-top: 0;
  margin-right: 10px;
}

/*--------------------------------------------------------------
### Countdown Timer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Counters
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Icon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Map
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Number Counter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Person
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Pricing Table
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Promo (Call to action)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Sidebar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Slider
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm_pb_slide_content {
  font-size: 14px;
  font-size: 0.875rem;
}
#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm_pb_slide_content h1 {
  line-height: 1;
}
#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm_pb_slide_content h2 {
  margin-top: 0;
}
#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm_pb_slide_content p {
  margin-bottom: 11px;
}
#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm-pb-arrow-prev,
#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm-pb-arrow-next {
  font-size: 40px;
  font-size: 2.5rem;
  background: transparent;
}
@media (min-width: 1440px) {
  #tm_builder_outer_content .tm_pb_slider.tm_pb_module:hover .tm-pb-arrow-prev {
    left: 160px;
  }
  #tm_builder_outer_content .tm_pb_slider.tm_pb_module:hover .tm-pb-arrow-next {
    right: 160px;
  }
}

/*--------------------------------------------------------------
### Social Media Follow
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Tabs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Taxonomy
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Testimonial
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Toggle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Video
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Video slider
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Team Members
--------------------------------------------------------------*/
.cherry-team .team-single-item {
  text-align: center;
}
.cherry-team .team-photo, .cherry-team .team-meta {
  float: none;
}
.cherry-team .team-name {
  margin-bottom: 5px;
}
.cherry-team .team-photo {
  padding: 0;
  margin-bottom: 50px;
}
.cherry-team .team-photo img {
  border-radius: 50%;
}
.cherry-team .team-meta_item::before {
  display: none;
}
.cherry-team .team-content {
  text-align: left;
}

.single-team .site-content_wrap {
  margin-top: 0;
}

/*-------------------------------------------------------------
## Cherry Testimonials
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Project
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Service List
--------------------------------------------------------------*/
/* Single Service */
.single-cherry-services .cherry-services {
  margin-bottom: 116px;
}
.cherry-services .services-single-item .cta-form_success {
  font-size: 16px;
  font-size: 1rem;
  background: rgba(47, 211, 174, 0.25);
}
.cherry-services .services-listing {
  counter-reset: count;
}
.cherry-services .services-listing .count {
  display: block;
}
.cherry-services .services-listing .count::before {
  line-height: 1;
  counter-increment: count;
  content: counter(count,decimal-leading-zero) ".";
}
.cherry-services .services-listing * + .title_wrap {
  margin-top: 26px;
}
.cherry-services .services-listing * + .descr_wrap {
  margin-top: 22px;
}
.cherry-services .services-listing .services-item {
  padding-bottom: 33px;
}
.cherry-services.template-single-skin9 hr {
  margin-left: auto;
  margin-right: auto;
}
.cherry-services.template-single-skin9 .features_wrap {
  margin-top: 35px;
}
.cherry-services.template-single-skin9 .service-features_title {
  margin-bottom: 17px;
}
.cherry-services.template-single-skin9 .service-features_row + .service-features_row {
  margin-top: 1px;
}
.cherry-services.template-single-skin9 .cta_wrap {
  margin-top: 80px;
}
@media (min-width: 1200px) {
  .cherry-services.template-single-skin9 .cta_wrap {
    margin-top: 105px;
  }
}
.cherry-services.template-single-skin9 .service-header {
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  margin-bottom: 80px;
  text-align: center;
}
@media (min-width: 768px) {
  .cherry-services.template-single-skin9 .service-header {
    padding: 120px 0;
    margin-bottom: 120px;
  }
}
@media (min-width: 1200px) {
  .cherry-services.template-single-skin9 .service-header {
    padding: 209px 0 259px;
    margin-bottom: 157px;
  }
}
.position-fullwidth .cherry-services.template-single-skin9 .service-header {
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.cherry-services.template-single-skin9 .service-header__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cherry-services.template-single-skin9 .service-header__image img {
  object-fit: cover;
  object-position: center;
  opacity: .4;
  width: 100%;
  height: 100%;
}
.cherry-services.template-single-skin9 .service-header__content {
  position: relative;
  z-index: 2;
}
.cherry-services.template-single-skin9 .service-header__content .title_wrap {
  display: inline-block;
  max-width: 600px;
}

.single-cherry-services .site-content_wrap {
  margin-top: 0;
}
