@import url(https://fonts.googleapis.com/css?family=Six+Caps:400,700,400);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700,400);
h1 {
  font-family: "Six Caps", sans-serif;
  color: #000; }

h2 {
  color: #000; }

h3 {
  color: #000; }

h4 {
  color: #000; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #edeef0;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/petstore/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 90px;
  font-weight: 400;
  top: 213px;
  width: 400px;
  line-height: 45px;
  font-style: bold;
  left: 174px; }
  .rd-mobilepanel_title:before {
    content: '';
    position: absolute;
    background-image: url(../../projects/petstore/img/im.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 58px;
    height: 115px;
    left: -75px;
    top: -10px; }

.tm-title-caption {
  font-size: 20px;
  top: 281px;
  font-family: "Work Sans", sans-serif;
  color: #000;
  line-height: 36px;
  width: 430px; }

.rd-mobilemenu .logo {
  background-color: #ffffff; }

.toTop {
  background-color: #141414; }
  .toTop:hover {
    background: white; }

.bold_text {
  font-weight: 600; }

.it_text {
  font-weight: 400;
  font-style: italic; }
