.posts-list {
	&__item {
		.post-list__item-content {
			position: relative;
		}
	}
}

/*--------------------------------------------------------------
### Entry (header, content, footer)
--------------------------------------------------------------*/
.entry{
	&-header, .posts-list--default &-header {
		.posts-list & {
			margin: 0 0 11px;
		}
		.single-modern-header & {
			margin: 0 0 40px;
		}
	}

	&-header {
		.single-post & h2.entry-title {
			margin-bottom: 35px;
		}
	}

	&-content {
		.posts-list & {
			margin: 0 0 15px;

			p {
				margin: 0;
			}
		}
		.posts-list:not(.posts-list--default) &,
		.search.search-results & {
			> *:first-child{
				margin-top: 0;
			}
		}
		.single:not(.single-post-modern) & {
			margin-top: 50px;
		}
	}

	&-footer {
		.posts-list & {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.share-btns__list {
				margin: 13px 0 0 10px;
			}
			a.btn.post-btn {
				margin: 13px 10px 0 0;
			}
		}
		.posts-list--grid-3-cols &,
		.posts-list--masonry-3-cols & {
			@media (min-width: 992px) and (max-width: 1200px) {
				flex-wrap: wrap;

				.share-btns__list {
					margin-left: 0;

					.share-btns__item:first-child {
						padding-left: 0;
					}
				}
			}
		}
		.posts-list:not(.posts-list--default) &,
		.single .hentry & {
			> * {
				&:first-child {
					margin-top: 47px;
				}
			}
		}
	}
	&-meta {
		.type-post &,
		.custom-posts &,
		.related-post &,
		.single-modern-header &,
		.widget-fpblock__item & {
			display: flex;
		}
		.type-post &__author-avatar {
			flex-shrink: 0;
		}

		.posted-by {
			a {
				font-weight: bold;
			}
		}
		&__author-avatar {
			padding-bottom: 20px;

			img {
				border-radius: 50%;
			}
		}
		&__data {
			> div {
				display: block;
			}
		}
		&__author-avatar ~ &__data {
			padding-top: 12px;
			padding-bottom: 12px;
		}
		&-footer {
			margin-top: 15px;
			@include font-size(14/16);
			font-weight: 700;

			.single-modern-header & {
				margin: 45px 0 0;
			}
		}
		.single .hentry & {
			margin-bottom: 0px
		}
		.single-modern-header & {
			justify-content: center;
			text-align: left;

			.posted-by {
				margin: 0;
			}
		}
	}
}


/*--------------------------------------------------------------
### Post attributes (thumbnail, meta)
--------------------------------------------------------------*/
.post {
	&__cats {
		margin-bottom: 10px;

		a {
			@include font-size(14/16);
			line-height: 1.5;
			font-weight: 700;
			display: inline-block;
			margin: 0;
			padding: 2px 10px 1px;
			vertical-align: top;
			text-decoration: none;
		}
		.has-post-thumbnail .post-thumbnail &, .has-post-thumbnail .post-format-wrap &, .format-video .post-featured-content &, .tm_pb_image_container.has-post-thumbnail & {
			position: absolute;
			z-index: 99;
			top: 20px;
			left: 20px;
			margin: 0;
		}
		.single-post & {
			margin: 0 0 35px;
		}
		.single-modern-header & {
			margin: 0 0 40px;
		}
	}.single .format-quote .entry-content blockquote
	&__tags {
		@include font-size(14/16);

		.single-modern-header & {
			font-weight: 700;
		}
	}
	&-thumbnail {
		.has-post-thumbnail & {
			position: relative;
		}
		.posts-list &--fullwidth {
			margin-top: 0;
			margin-bottom: 1.6em;
		}
		.single-modern-header & {
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: .5;
				background-color: #242424;
			}
		}
		.single .hentry.has-thumb & {
			margin-top: 0;
			margin-bottom: 50px;
		}
	}
	&-author {
		&-bio {
			display: flex;
			align-items: center;
			padding: 40px 50px;
			margin-bottom: 100px;
			border: none;
		}
		&__avatar {
			flex-shrink: 0;
			float: none;
			margin: 0 30px 0 0;
		}
		&__title {
			margin-bottom: 0;
		}
		&__role {
			margin-bottom: 15px;

			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.single {
	&-modern-header {
		padding: 150px 0 165px;
	}

	.related-posts {
		padding-top: 0;
		border: none;
	}
}


/*--------------------------------------------------------------
### Hentry (WordPress native CSS-class for post/page article)
--------------------------------------------------------------*/
.hentry {
	.posts-list--default & {
		& + .hentry {
			padding-top: 50px;
		}
	}
}
