$color__light-gray: #c6c5c5;
$color__lighter-gray: #f8f8f8;
$color__lighter-gray-2: #f7f7f7;
$color__gray: #ebebeb;

$color__background-hr: #e5e5e5;

$color__white-alpha: rgba(255,255,255,.2);
$color__white: #fff;
$color__black: #000;
