$button__left-right-indent: 38px;
$button__indents: 15px $button__left-right-indent;

$input__left-right-indent: 20px;
$input__indents: 0 $input__left-right-indent;
$input__indents_with-border: 1.195em $input__left-right-indent;
$input__indents_with-no-border: 1.27em $input__left-right-indent;
