.widget-banner {
	.full-width-header-area &,
	.after-content-full-width-area & {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
	&__img {
		display: inline-block;
		vertical-align: top;
	}
	&__link {
		display: inline-block;
		&:hover{
			transform: scale(1.01);
			box-shadow: $box__shadow_banner;
		}
	}
}