.subscribe-follow {
	&__custom-bg {
		padding: 15px;
	}
	&__wrap {
		.full-width-header-area &,
		.after-content-full-width-area & {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}

		.full-width-header-area &,
		.after-content-full-width-area &,
		.before-content-area &,
		.after-content-area &,
		#tm_builder_outer_content .tm_pb_column_4_4 .tm_pb_module.tm_pb_widget_area & {
			text-align: center;

			.follow-block,
			.subscribe-block {
				max-width: 650px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}

.follow-block {
	&__message {
		margin-bottom: 2em;
	}
}
.subscribe-block {
	&__form {
		.full-width-header-area &,
		.after-content-full-width-area &,
		#tm_builder_outer_content .tm_pb_column_4_4 .tm_pb_module.tm_pb_widget_area & {
			max-width: 470px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.follow-block + & {
		margin-top: 36px;
	}
	&__input-group {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		margin: 0 -5px -5px;
	}
	&__input-wrap {
		position: relative;
		margin: 5px;
		flex: 5 1 150px;
		min-width: 150px;
		i {
			pointer-events: none;
			position: absolute;
			top: 50%;
			font-size: 24px;
			left: 15px;
			transform: translateY(-50%);
			&.linearicon.linearicon-envelope {
				top: 48%;
			}
			@include media-breakpoint-up(md) {
				left: 25px;
			}
			.sidebar & {
				@include media-breakpoint-only(lg) {
					left: 15px
				}
			}
			.tm_pb_column_1_3 & {
				@include media-breakpoint-between(md,lg) {
					left: 15px
				}
			}
			.footer-area:not(.footer-area--fullwidth) &,
			.tm_pb_column_1_4 & {
				@include media-breakpoint-up(md) {
					left: 15px
				}
			}
			.sidebar-1-4 .sidebar & {
				@include media-breakpoint-up(lg) {
					left: 15px
				}
			}
		}

		.sidebar-1-4 .sidebar & {
			@include media-breakpoint-up(lg) {
				flex: 5 1 150px;
				min-width: 150px;
			}
		}
	}
	&__input[type='email'] {
		width: 100%;
		min-width: 50px;
		max-width: 100%;
		i + & {
			padding-left: $input__indents_x + 30px;
			@include media-breakpoint-up(md) {
				padding-left: $input__indents_x + 40px;
			}
			.sidebar & {
				@include media-breakpoint-only(lg) {
					padding-left: $input__indents_x + 30px;
				}
			}
			.tm_pb_column_1_3 & {
				@include media-breakpoint-between(md,lg) {
					padding-left: $input__indents_x + 30px;
				}
			}
			.footer-area:not(.footer-area--fullwidth) &,
			.tm_pb_column_1_4 & {
				@include media-breakpoint-up(md) {
					padding-left: $input__indents_x + 30px;
				}
			}
			.sidebar-1-4 .sidebar & {
				@include media-breakpoint-up(lg) {
					padding-left: $input__indents_x + 30px;
					padding-right: 10px;
				}
			}
		}

		&.error {
			border-color: $color__not-valid;
		}
	}
	&__submit {
		margin: 5px;
		padding-left: 30px;
		padding-right: 30px;
		flex: 1 0 auto;
		@include media-breakpoint-only(xs) {
			padding-left: 15px;
			padding-right: 15px;
		}
		.sidebar & {
			@include media-breakpoint-only(lg) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.tm_pb_column_1_3 & {
			@include media-breakpoint-between(md,lg) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.footer-area:not(.footer-area--fullwidth) &,
		.tm_pb_column_1_4 & {
			@include media-breakpoint-up(md) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.sidebar-1-4 .sidebar & {
			@include media-breakpoint-up(lg) {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&__message {
		margin-bottom: 2em;
	}

	&__error,
	&__success {
		margin-top: 5px;
		@include font-size(14/16);
		line-height: 1.714285;
		font-style: italic;
	}
	&__error{
		color: $color__not-valid;
	}
	&__success {
		color: $color__valid;
	}
}