@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff; }

h4 {
  color: #4d6a84; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #4d6a84;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/happylearning/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #ffffff; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #ffffff; }

.rd-mobilepanel_title {
  font-size: 60px;
  font-weight: 800;
  top: 83px;
  width: 700px;
  line-height: 100px;
  text-transform: uppercase; }

.tm-title-caption {
  font-size: 30px;
  top: 200px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  line-height: 36px;
  width: 481px; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 80px; }

  .tm-title-caption {
    top: 180px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 80px; }

  .tm-title-caption {
    top: 180px;
    width: 200px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 80px; }

  .tm-title-caption {
    top: 180px;
    width: 700px; } }
.rd-mobilemenu .logo {
  background-color: #ffffff; }

.rd-mobilemenu_ul ul a.focus {
  color: #4d6a84; }

.toTop {
  background-color: #4d6a84;
  color: #ffffff; }
  .toTop:hover {
    background-color: #273644; }

.rd-mobilepanel.fixed .rd-mobilepanel_title {
  top: -70px; }
