/*--------------------------------------------------------------
## Widget Categories - Archive
--------------------------------------------------------------*/
.widget_categories,
.widget_archive {
	.widget-title {
		.sidebar & {
			margin-bottom: 0.5em;
		}
	}
	ul {
		@include font-size(1.25);
		font-style: italic;
	}
}
/*--------------------------------------------------------------
## Widget Search
--------------------------------------------------------------*/
.widget_search {
	.widget-title {
		.sidebar & {
			margin-bottom: 0.8em;
		}
	}
}

/*--------------------------------------------------------------
## Widget Recent Posts
--------------------------------------------------------------*/
.widget_recent_entries {
	.widget-title {
		.sidebar & {
			margin-bottom: 0.3em;
		}
	}
	ul li {
		.post-date {
			@include font-size(1.25);
			display: inline;
			margin-top: 0;
		}
	}
}

/*--------------------------------------------------------------
## Widget Recent Comments
--------------------------------------------------------------*/
.widget_recent_comments {
	.widget-title {
		.sidebar & {
			margin-bottom: 0.3em;
		}
	}
	ul li {
		@include font-size(1.25);
		&:before {
			@include clearfix;
		}
		&:after {
			@include clearfix-after;
		}
		.comment-author-link {
			margin-right: 0;
			& ~ a {
				margin-top: 0 !important;
				&:before {
					content: none;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
## Widget Tag Cloud
--------------------------------------------------------------*/
.tagcloud {
	margin: 0 -3px -8px;
	a {
		@include terms-style();
	}
}

/*--------------------------------------------------------------
## Widget Calendar
--------------------------------------------------------------*/
.widget_calendar {
	.calendar_wrap {
		position: relative;
	}
	table {
		border-spacing: 5px;
	}
	caption {
		margin-bottom: 10px;
		text-align: center;
	}
	thead th {
		text-align: center;
		font-style: italic;
	}
	tbody td {
		font-style: italic;
		@include border-radius();
		line-height: 34px;
		@include media-breakpoint-up(xl) {
			line-height: 44px;
		}

		a {
			@include border-radius();

			&:hover {
				box-shadow: 0 0;
				transform: translateX(2px) translateY(3px) translateZ(0);
			}
		}
	}
	tfoot {
		font-size: 0;
		td {
			padding-top: 0;

			a {
				&:before {
					@include linear-icon;
					@include font-size(1.5);
				}
			}
			&#prev,
			&#next {
				position: absolute;
				top: 0;
			}
			&#prev {
				left: 0;
				a:before {
					content: '\e943';
				}
			}
			&#next {
				right: 0;
				a:before {
					content: '\e944';
				}
			}
		}
	}
}