.widget-taxonomy-tiles {
	&__desc {
		@include font-size(1);
		line-height: 1.5;
	}
	&__post-count {
		@include font-size(1);
		line-height: 1.5;
	}

	&__inner {
		&:hover {
			.widget-taxonomy-tiles__content::before {
				opacity: .95;
			}
		}
	}

	&__content {
		&:before {
			opacity: 0.75;
		}
	}
}