@import url(https://fonts.googleapis.com/css?family=Lato);
h1 {
  font-family: "Lato", sans-serif;
  color: #ffffff; }

h2 {
  color: #ffcc42; }

h4 {
  color: #ffcc42; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #261a40;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px top; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/pokemania/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
  top: 185px; }

.tm-title-caption {
  font-size: 14px;
  top: 256px;
  line-height: 36px;
  width: 481px;
  color: #ffffff; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 198px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 300px; } }
.rd-mobilemenu .logo {
  background-color: #ffffff; }

.toTop {
  background-color: #261a40; }
  .toTop:hover {
    background: #513789; }
