/*--------------------------------------------------------------
## Widget Categories
--------------------------------------------------------------*/
.widget_categories {
	ul li{
		.sidebar &,
		.tm_pb_column_1_3 &,
		.tm_pb_column_1_4 & {
			position: relative;
			padding-right: 15px;
			&:after {
				content: '\e944';
				position: absolute;
				right: 0;
				top: 5px;
				@include linear-icon();
			}
		}
	}
}