@import url(https://fonts.googleapis.com/css?family=Syncopate:normal);
@import url(https://fonts.googleapis.com/css?family=Raleway:normal);
h1 {
  font-family: "Raleway", sans-serif;
  color: #ffffff; }

h2 {
  color: #000; }

h3 {
  color: #000; }

h4 {
  color: #000; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #999b9a;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/stargaze/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #ffffff; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #ffffff; }

.rd-mobilepanel_title {
  font-size: 80px;
  font-weight: 400;
  top: 213px;
  width: 400px;
  line-height: 45px;
  font-style: normal; }

.tm-title-caption {
  font-size: 20px;
  top: 294px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  line-height: 36px;
  width: 481px;
  letter-spacing: 5px;
  left: 156px; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 198px;
    left: 100px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 300px;
    left: 96px; } }
.rd-mobilemenu .logo {
  background-color: #dddcdc; }

.rd-mobilemenu_ul ul a.focus {
  color: #999b9a; }

.toTop {
  background-color: #999b9a;
  color: #ffffff; }
  .toTop:hover {
    background-color: #303030; }
