.instagram__cover {
	background-color: @alpha($regular_accent_color_1, 80%);
}
.widget-instagram .instagram__date {
	font-style: $meta_font_style;
	color: $regular_accent_color_1;
}
.widget-instagram .instagram__caption {
	color: $regular_accent_color_2;
}