.site {

	&-main{
		margin-bottom: 80px;

		.use-tm-pb-builder & {
			margin-bottom: 80px;
		}
	}

	&-content_wrap {
		margin-top: 70px;

		.use-tm-pb-builder.position-fullwidth & {
			margin-top: 0;
		}

		.use-tm-pb-builder.position-fullwidth .breadcrumbs + & {
			margin-top: 70px;
		}
	}
}
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
