/* #Button Appearance Styles (regular scheme) */
.link {
	color: $regular_link_hover_color;
}
.invert .link {
	color: $invert_link_color;
}
.link:hover,
.invert .link:hover {
	color: $regular_link_color;
}

.btn,
.btn-primary,
.btn-secondary,
.btn:hover,
.btn-primary:hover,
.btn-secondary:hover,
.invert .btn-primary,
.invert .btn-secondary,
.invert .btn-primary:hover,
.invert .btn-secondary:hover{
	color: $invert_link_color;
}
.btn,
.btn-primary {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn:hover,
.btn-primary:hover {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn:active,
.btn-primary:active {
	box-shadow: 0 0 10px $regular_accent_color_2;
}
.btn-secondary {
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}
.btn-secondary:hover {
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn-secondary:active {
	box-shadow: 0 0 10px $regular_accent_color_1;
}

.error-404 .btn-secondary:hover {
	color: $invert_link_color;
	border-color: $invert_link_color;
	background-color: transparent;
}

.btn-default {
	color: $regular_accent_color_2;
}
.btn-default:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.btn-default:active {
	box-shadow: 0 0 10px $regular_accent_color_1;
}

/* #Button Appearance Styles (invert scheme) */
.invert .btn,
.invert .btn-primary,
.invert .btn-secondary,
.invert .btn-default {
	color: $invert_link_color;
	border-color: $invert_link_color;
	background-color: transparent;
}
.invert .btn-primary:hover,
.invert .btn-secondary:hover,
.invert .btn-default:hover {
	color: $regular_link_hover_color;
	border-color: $invert_link_color;
	background-color: $invert_link_color;
}