@import url(//fonts.googleapis.com/css?family=Montserrat:400,700|Montserrat+Alternates:400,700);
h1 {
  font-family: "Montserrat", sans-serif; }

h2 {
  color: #1082FC;
  font-family: "Montserrat", sans-serif; }

h3 {
  color: #312F44;
  font-family: "Montserrat", sans-serif; }

h4 {
  color: #1082FC; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% top; } }

.rd-mobilepanel {
  background-color: #312F44;
  background-position: right top; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px top; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/wildride/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 82px; }

.tm-title-caption {
  font-size: 32px;
  top: 200px;
  font-family: "Montserrat", sans-serif;
  color: #1082FC;
  line-height: 36px;
  width: 430px; }

.rd-mobilemenu .logo {
  background-color: #1082FC; }
