@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,bold,);
h1 {
  font-family: "Poppins", sans-serif;
  color: #222627; }

h4 {
  color: #000; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #f8f9fd;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/quickwind/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #007a8b; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #007a8b; }

.rd-mobilepanel_title {
  font-size: 50px;
  font-weight: 800;
  top: 213px;
  width: 400px;
  left: 134px;
  line-height: 45px; }

.tm-title-caption {
  font-size: 26px !important;
  top: 260px;
  font-family: "Poppins", sans-serif;
  color: #222627;
  line-height: 36px;
  width: 481px;
  left: 165px; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 223px; }

  .tm-title-caption {
    top: 265px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 198px;
    left: 127px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 300px;
    left: 136px; } }
.rd-mobilemenu .logo {
  background-color: #ffffff; }

.rd-mobilemenu_ul ul a.focus {
  color: #007a8b; }

.toTop {
  background-color: #007a8b;
  color: #ffffff; }
  .toTop:hover {
    background-color: #a9b5e6; }
