.isStuck {
	@include media-breakpoint-up(md) {
		position: fixed !important;
		z-index: 1000;
		margin: 0 !important;
		transform: none;

		&#main-menu {
			position: fixed !important;
			right: 0;
			left: 0;
			padding-top: 15px;
			padding-bottom: 15px;
			background: #fff;
			width: 100%;
			justify-content: center;
		}

		&.vertical-toggle {
			top: 30px !important;

			.site-header.style-3 & {
				right: 25px;
			}
			.site-header.style-7 & {
				left: 25px;
			}
		}
	}
}