@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,bold,);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,);
h1 {
  font-family: "Playfair Display", serif;
  color: #252525; }

h4 {
  color: #000; }

.page-content.active .rd-mobilepanel {
  background-position: 58% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 48% bottom; } }

.rd-mobilepanel {
  background-color: #fff;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/thelegalway/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #cca776; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #cca776; }

.rd-mobilepanel_title {
  font-size: 60px;
  font-weight: 800;
  top: 237px;
  left: 83px;
  width: 500px; }

.tm-title-caption {
  font-size: 26px !important;
  top: 308px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 36px;
  width: 481px;
  left: 138px; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 74px; }

  .tm-title-caption {
    top: 140px;
    left: 104px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 93px;
    left: 97px; }

  .tm-title-caption {
    top: 180px;
    width: 198px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 104px;
    left: 98px; }

  .tm-title-caption {
    top: 180px;
    width: 269px;
    left: 117px; } }
.rd-mobilemenu .logo {
  background-color: #ffffff; }

.rd-mobilemenu_ul ul a.focus {
  color: #cca776; }

.toTop {
  background-color: #cca776;
  color: #ffffff; }
  .toTop:hover {
    background-color: #cccccc; }
