/* #Elements */
.swiper-button-next, .swiper-button-prev,
.smart-slider__instance .sp-arrow {
	background: transparent;
	color: $regular_accent_color_1;
}

.swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-button-prev:not(.swiper-button-disabled):hover,
.smart-slider__instance .sp-arrow,
.menu-toggle[aria-controls="main-menu"],
.main-navigation .menu li .sub-menu-toggle {
	color: $regular_accent_color_1;
}

#toTop:hover {
	background-color: $regular_text_color;
}

/* #Typography */
code {
	background: $regular_accent_color_3;
	border-color: $regular_accent_color_3;
	color: $regular_text_color;
}

article .entry-content ol >li:before {
	color: $regular_accent_color_1;
}

/* #Logo */
.site-logo__link {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 0.9333)px;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	color: $regular_h4_color;
}

.site-logo__link:hover {
	color: $regular_h4_color;
}

/* #Blockquote */
blockquote {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	border-left-color: $regular_accent_color_1;
	color: $regular_accent_color_1;
}

blockquote cite {
	line-height: $h5_line_height;
	color: inherit;
}

/* #Buttons */
.btn,
.link,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.wpcf7-submit,
.comment-form .submit,
.post-password-form label + input {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
}

.link {
	color: $regular_link_color;
}

.link:hover {
	color: $regular_link_hover_color;
}

.btn,
.btn-primary,
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	background: transparent;
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.btn.btn-default {
	border-color: $regular_accent_color_1;
}

.btn:hover,
.btn-primary:hover,
.comment-form .submit:hover,
.wpcf7-submit:hover,
.post-password-form label + input:hover {
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.invert .btn,
.invert .btn-primary {
	background: transparent;
	color: $invert_accent_color_1;
}

.invert .btn.btn-default {
	border-color: $invert_accent_color_1;
}

.invert .btn:hover,
.invert .btn-primary:hover {
	color: $regular_accent_color_1;
	background: $invert_accent_color_1;
	border-color: $invert_accent_color_1;
}

.main-navigation-buttons .navigation-button {
	color: $regular_link_color;
}

/* #Social */
.social-list a {
	color: @alpha($regular_link_color, 55);
}

.social-list a:hover {
	color: $regular_link_hover_color;
}

.invert .social-list a:hover {
	color: $invert_text_color;
}

/* #Fields */

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	font-style: $meta_font_style;
	font-size: $meta_font_size{px};
	font-weight: $meta_font_weight;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
}

/* #Widgets */
.widget_categories,
.widget_archive,
.widget_calendar caption,
.widget_recent_entries a,
.widget_recent_comments ul li a,
.news-smart-box__navigation-terms-list,
.news-smart-box__navigation-title {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
}

.widget_recent_entries a,
.widget_recent_comments a {
	letter-spacing: $h6_letter_spacing{em};
}

.widget_recent_entries a:hover,
.widget_recent_comments a:hover {
	color: $regular_link_color;
}

.widget_categories a,
.widget-news-smart-box .news-smart-box__navigation-terms-list .is-active,
.widget_archive a:hover,
.posted-by a:hover {
	color: $regular_link_hover_color;
}

.widget_archive a,
.widget_calendar caption  {
	color: $regular_link_hover_color;
}

.widget_calendar #today a {
	color: $invert_text_color;
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.widget_tag_cloud .tagcloud a,
.widget_recent_entries ul li .post-date,
.widget_recent_comments ul li,
.widget_recent_comments ul li .comment-author-link,
.subscribe-block__error,
.subscribe-block__success,
.comment-date__time,
.wpcf7 .wpcf7-not-valid-tip,
.wpcf7 .wpcf7-response-output {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-family: @font_family( $meta_font_family );
	letter-spacing: $meta_letter_spacing{em};
}

.widget_recent_entries ul li .post-date,
.custom-posts .entry-title a:hover {
	color: $regular_text_color;
}

.widget-smart-slider h2 a {
	color: $regular_accent_color_1;
}

.widget-smart-slider h2 a:hover {
	color: $regular_text_color;
}

.widget-smart-slider .btn {
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.widget-smart-slider .btn:hover {
	color: $invert_accent_color_1;
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.smart-slider__instance .sp-button,
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
	background-color: @alpha( $regular_accent_color_1, 30 );
}

.smart-slider__instance .sp-bottom-thumbnails .sp-selected-thumbnail,
.smart-slider__instance .sp-top-thumbnails .sp-selected-thumbnail {
	border-color: @alpha( $regular_accent_color_1, 30 );
}

.widget-fpblock__item-inner {
	background: @alpha($regular_accent_color_1, 50%);
	background: -webkit-linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
	background: linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
}

.full-width-header-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.after-content-full-width-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.before-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.after-content-area .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content,
.tm_pb_column_4_4 .news-smart-box__instance.layout_type_2 .full-type .news-smart-box__item-content {
	background: @alpha($regular_accent_color_1, 50%);
	background: -webkit-linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
	background: linear-gradient(to bottom, @alpha($regular_accent_color_1, 0%), @alpha($regular_accent_color_1, 80%));
}

.news-smart-box__navigation-title {
	color: $regular_accent_color_1;
}

.widget-carousel .inner,
.widget-image-grid .widget-image-grid__content::before {
	background-color: $regular_accent_color_1;
}

.widget-image-grid .widget-image-grid__title a:hover {
	color: $invert_text_color;
}

.widget-carousel .inner .entry-title {
	max-height: calc($h5_font_size{px} * $h5_line_height * 2);
}

.widget-carousel .entry-footer .link:hover {
	color: $invert_text_color;
}

@media (max-width: 767px) {
	.widget-carousel .inner .entry-title {
		font-size: @font_size($h5_font_size, multiple, ceil, 0.75)px;
		max-height: calc(@font_size($h5_font_size, multiple, ceil, 0.75)px * $h5_line_height * 3 );
	}
}

.widget-taxonomy-tiles__inner:hover .widget-taxonomy-tiles__content::before {
	background-color: $regular_accent_color_3;
}

.widget-taxonomy-tiles__inner:hover .widget-taxonomy-tiles__title a,
.widget-taxonomy-tiles__inner:hover .widget-taxonomy-tiles__post-count {
	color: $regular_accent_color_1
}

.widget-carousel .inner .post__excerpt {
	max-height: calc($body_font_size{px} * $body_line_height *3);
}

/* #Post and Pages */
.invert .post__cats,
.invert .post__tags,
.widget-news-smart-box .full-type .entry-meta,
.invert .posted-by a:hover {
	color: $invert_link_hover_color;
}

/* #Post Formats */
.format-link .post-featured-content {
	background-color: $regular_accent_color_3;
}

/* #Single Post */
.single-modern-header .entry-meta {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
}

.comment .comment-date {
	color: $regular_text_color;
}

.comment .comment-date:hover {
	color: $regular_link_hover_color;
}

.comment .comment-reply-link,
.navigation.post-navigation .nav-links a {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
	color: $regular_link_hover_color;
}

.comment .comment-reply-link:hover,
.navigation.post-navigation .nav-links a::before,
.navigation.post-navigation .nav-links a::after {
	color: $regular_link_color;
}

.navigation.post-navigation .nav-links a:hover::before,
.navigation.post-navigation .nav-links a:hover::after {
	color: $regular_link_hover_color;
}

.navigation.post-navigation .nav-links a {
	letter-spacing: $h6_letter_spacing{em};
}

/* #Header */
.menu-toggle .menu-toggle-inner,
.menu-toggle .menu-toggle-inner::before,
.menu-toggle .menu-toggle-inner::after {
	background-color: $regular_text_color;
}

.main-navigation a,
.main-navigation .sub-menu a {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-family: @font_family( $h6_font_family );
}

.main-navigation .menu > li > a,
.main-navigation .sub-menu a {
	color: $regular_link_color;
}
.invert .main-navigation > .tm-mega-menu > li.current-menu-ancestor > a,
.invert .main-navigation > .tm-mega-menu > li.current-menu-parent > a,
.invert .main-navigation > .tm-mega-menu > li.tm-mega-menu-hover > a {
	color: @alpha($invert_text_color, 60);
}

/* #Footer */
.footer-copyright {
	font-style: $meta_font_style;
	font-weight: $meta_font_weight;
	font-family: @font_family( $meta_font_family );
	font-size: $meta_font_size{px};
	letter-spacing: $meta_letter_spacing{em};
}

/* #Cherry Team */
.cherry-team.team-wrap.template-grid-boxes .team-listing_content .team-listing_name a:hover,
.cherry-team.team-wrap.template-grid-boxes .team-listing_content .team-listing_socials a:hover  {
	color: $invert_text_color;
}

/* Builder */
#tm_builder_outer_content div.tm_pb_audio_module.tm_pb_module .tm_audio_container .mejs-controls .mejs-time-rail .mejs-time-total,
#tm_builder_outer_content .tm_pb_audio_module.tm_pb_module .tm_audio_container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, #tm_builder_outer_content .tm_pb_module .tm_audio_content .tm_audio_container .mejs-controls .mejs-time-rail .mejs-time-total
#tm_builder_outer_content .tm_pb_module .tm_audio_content .tm_audio_container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	background-color: $regular_accent_color_2;
}