#tm_builder_outer_content .tm_pb_counters.tm_pb_module .tm_pb_counter_amount_number,
#tm_builder_outer_content .tm_pb_counters.tm_pb_module .tm_pb_counter_title{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
}

#tm_builder_outer_content .tm_pb_counters.tm_pb_module .tm_pb_counter_amount,
#tm_builder_outer_content .tm_pb_counters.tm_pb_module .tm_pb_counter_title{
	color: $regular_h6_color;
}
