/* #Global */
	.site-branding .site-description,
	.widget-about__tagline {
		font-size: @font_size($h6_font_size, multiple, ceil, 0.71)px;
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
	}
	.invert .site-description {
		color: $invert_link_color;
	}
	.breadcrumbs__item-link {
		color: $regular_text_color;
	}
	.breadcrumbs__item-link:hover,
	.breadcrumbs__item-target {
		color: $regular_link_color;
	}
	#toTop,
	.error-404 p,
	.invert .search-form__toggle,
	.invert .search-form__close,
	.header-container.invert .search-form__field,
	.page-template-page-without-header-footer .invert p,
	#tm_builder_outer_content .tm_pb_countdown_timer_container,
	#tm_builder_outer_content .tm_pb_countdown_timer_container h4,
	body .mptt-shortcode-wrapper .mptt-shortcode-table tr td.mptt-shortcode-event > .mptt-event-container a.event-title,
	.mptt-shortcode-wrapper .mptt-shortcode-table tbody .mptt-event-container p.timeslot,
	.booked-calendar-shortcode-wrap .booked-calendar tbody tr td .date.tooltipster:hover .number,
	body .booked-modal .bm-window .field button {
		color: $invert_accent_color_3;
	}
	.booked-calendar-shortcode-wrap .booked-calendar tbody tr td.prev-date.today .date .number {
		color: $invert_accent_color_3 !important;
	}
	.header-container.invert .search-form__field::-webkit-input-placeholder { color: $invert_accent_color_3; }
	.header-container.invert .search-form__field::-moz-placeholder { color: $invert_accent_color_3; }
	.header-container.invert .search-form__field:-moz-placeholder { color: $invert_accent_color_3; }
	.header-container.invert .search-form__field:-ms-input-placeholder { color: $invert_accent_color_3; }

	.invert .search-form__submit.btn.btn-primary:hover,
	.menu-toggle:hover .menu-toggle-inner,
	.menu-toggle:hover .menu-toggle-inner::before,
	.menu-toggle:hover .menu-toggle-inner::after,
	.invert .menu-toggle:hover .menu-toggle-inner,
	.invert .menu-toggle:hover .menu-toggle-inner::before,
	.invert .menu-toggle:hover .menu-toggle-inner::after {
		color: $invert_link_hover_color;
	}
	.invert .menu-toggle .menu-toggle-inner,
	.invert .menu-toggle .menu-toggle-inner::before,
	.invert .menu-toggle .menu-toggle-inner::after,
	.body .booked-modal .bm-window,
	body .booked-modal .bm-window p.booked-title-bar,
	body .booked-modal .bm-window .booked-scrollable {
		background-color: $invert_accent_color_3;
	}
	body .booked-calendar-shortcode-wrap .booked-calendar thead,
	body .booked-calendar-wrap table.booked-calendar tr.week td.active .date {
		background-color: $invert_accent_color_3 !important;
	}
	.mptt-shortcode-wrapper .mptt-shortcode-table tbody .mptt-event-container:hover p.timeslot {
		color: $invert_accent_color_2;
	}

	/* Text Styles */
	.tm_pb_text h1 strong,
	.tm_pb_text strong h1 {
		@font_weight_diff($h1_font_weight)
	}
	.tm_pb_text h2 strong,
	.tm_pb_text strong h2 {
		@font_weight_diff($h2_font_weight)
	}
	.tm_pb_text h3 strong,
	.tm_pb_text strong h3 {
		@font_weight_diff($h3_font_weight)
	}
	.tm_pb_text h4 strong,
	.tm_pb_text strong h4 {
		@font_weight_diff($h4_font_weight)
	}
	.tm_pb_text h5 strong,
	.tm_pb_text strong h5 {
		@font_weight_diff($h5_font_weight)
	}
	.tm_pb_text h6 strong,
	.tm_pb_text strong h6 {
		@font_weight_diff($h6_font_weight)
	}

	/* Button Styles */
	.btn,
	.link,
	.more-link,
	.post-edit-link,
	.mprm-add-to-cart,
	.mprm-submit,
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.buddypress.members #buddypress #members-dir-search #search-members-form #members_search_submit,
	.buddypress #buddypress #group-dir-search #search-groups-form #groups_search_submit {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		font-size: @font_size($h6_font_size, multiple, ceil, 0.84)px;
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
	}
	.btn.btn-default,
	.btn.btn-secondary,
	.link,
	.more-link {
		color: $regular_link_color;
	}
	.btn,
	.btn.btn-primary,
	.btn.btn-primary:hover,
	.btn.btn-secondary:hover,
	.invert .btn,
	.invert .btn.btn-primary,
	.invert .btn.btn-primary:hover,
	.post-edit-link,
	.post-edit-link:hover,
	.mprm-add-to-cart,
	.mprm-add-to-cart:hover,
	.mprm-submit,
	.mprm-submit:hover,
	.buddypress.members #buddypress #members-dir-search #search-members-form #members_search_submit,
	.buddypress #buddypress #group-dir-search #search-groups-form #groups_search_submit {
		color: $invert_link_color;
	}
	.btn.btn-default:hover,
	.link:hover,
	.more-link:hover {
		color: $regular_link_hover_color;
	}
	.btn.btn-secondary,
	.btn.btn-secondary:hover {
		border-color: $regular_link_color;
	}
	.post-edit-link,
	.mprm-add-to-cart,
	.mprm-submit
	.buddypress.members #buddypress #members-dir-search #search-members-form #members_search_submit,
	.buddypress #buddypress #group-dir-search #search-groups-form #groups_search_submit {
		background-color: $regular_link_color;
	}
	.post-edit-link:hover,
	.mprm-add-to-cart:hover,
	.mprm-submit:hover {
		background-color: $regular_accent_color_2;
	}
	.invert .btn,
	.invert .btn.btn-primary {
		background: $invert_link_hover_color;
		border-color: $invert_link_hover_color;
	}
	.invert .btn:hover,
	.invert .btn.btn-primary:hover,
	.invert .header-btn.btn-default.btn:hover,
	.error404 .btn.btn-secondary:hover {
		background: $invert_link_color;
		border-color: $invert_link_color;
		color: $invert_accent_color_2;
	}
	.invert .btn.btn-default:hover {
		color: $invert_link_hover_color;
	}
	.invert .btn.btn-secondary {
		color: $invert_link_hover_color;
	}
	.invert .btn.btn-secondary:hover,
	.invert .header-btn.btn-default.btn,
	.error404 .btn.btn-secondary {
		color: $invert_link_color;
		border-color: $invert_link_color;
	}
	.header-search .search-form__submit {
		color: $regular_link_color;
	}
	.header-search .search-form__submit:hover {
		color: $regular_link_hover_color;
	}
	.invert .subscribe-block__submit.btn {
		border-color: $invert_link_color;
	}

/* #Header */

	/* Main menu */
	.main-navigation .menu {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		font-size: $h6_font_size{px};
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
	}
	.main-navigation .menu > li > a,
	.invert .main-navigation.vertical-menu .menu > li > a,
	.invert .main-navigation.isStuck .menu > li > a,
	.invert .main-navigation.mobile-menu .menu > li > a {
		color: $regular_text_color;
	}
	.invert .main-navigation:not(.vertical-menu) .sub-menu {
		background-color: $header_bg_color;
	}
	.main-navigation .menu > li > a:hover,
	.main-navigation .menu > li.menu-hover > a,
	.main-navigation .menu > li.tm-mega-menu-hover > a,
	.main-navigation .menu > li.current_page_item > a,
	.main-navigation .menu > li.current_page_ancestor > a,
	.main-navigation .menu > li.current-menu-item > a,
	.main-navigation .menu > li.current-menu-ancestor > a,
	.invert .main-navigation.vertical-menu .menu > li > a:hover,
	.invert .main-navigation.vertical-menu .menu > li.menu-hover > a,
	.invert .main-navigation.vertical-menu .menu > li.current_page_item > a,
	.invert .main-navigation.vertical-menu .menu > li.current_page_ancestor > a,
	.invert .main-navigation.vertical-menu .menu > li.current-menu-item > a,
	.invert .main-navigation.vertical-menu .menu > li.current-menu-ancestor > a,
	.invert .main-navigation.isStuck .menu > li > a:hover,
	.invert .main-navigation.isStuck .menu > li.menu-hover > a,
	.invert .main-navigation.isStuck .menu > li.current_page_item > a,
	.invert .main-navigation.isStuck .menu > li.current_page_ancestor > a,
	.invert .main-navigation.isStuck .menu > li.current-menu-item > a,
	.invert .main-navigation.isStuck .menu > li.current-menu-ancestor > a,
	.invert .main-navigation.mobile-menu .menu > li > a:hover,
	.invert .main-navigation.mobile-menu .menu > li.menu-hover > a,
	.invert .main-navigation.mobile-menu .menu > li.current_page_item > a,
	.invert .main-navigation.mobile-menu .menu > li.current_page_ancestor > a,
	.invert .main-navigation.mobile-menu .menu > li.current-menu-item > a,
	.invert .main-navigation.mobile-menu .menu > li.current-menu-ancestor > a {
		color: $regular_link_hover_color;
	}
	.invert .main-navigation .menu > li > a,
	.invert .main-navigation:not(.vertical-menu) ul ul a {
		color: $invert_link_color;
	}
	.invert .main-navigation .menu > li > a:hover,
	.invert .main-navigation .menu > li.menu-hover > a,
	.invert .main-navigation .menu > li.current_page_item > a,
	.invert .main-navigation .menu > li.current_page_ancestor > a,
	.invert .main-navigation .menu > li.current-menu-item > a,
	.invert .main-navigation .menu > li.current-menu-ancestor > a {
		color: $invert_link_hover_color;
	}

	.contact-block__icon {
		color: $regular_accent_color_2;
	}
	.contact-block__item a {
		color: $regular_text_color;
	}
	.contact-block__item a:hover {
		color: $regular_accent_color_1;
	}

/* #Posts global */

	.posts-list--default .sticky__label{;
		margin-top: calc(((@font_size($h3_font_size, multiple, ceil, 0.9333)px * $h3_line_height * 1.1) - 30px) / 2)
	}
	@media (min-width: 992px) {
		.posts-list--default .sticky__label{
			margin-top: calc((($h3_font_size{px} * $h3_line_height * 1.1) - 30px) / 2);
		}
	}
	.post__cats a,
	.entry-meta a {
		color: $regular_text_color;
	}
	.post__cats a:hover,
	.entry-meta a:hover,
	.entry-footer .share-btns__list a:hover,
	.single-post-modern .invert .posted-by a:hover,
	.tm-posts_layout-3 .posted-by a:hover,
	.single-post-modern .invert .entry-footer .share-btns__list a:hover {
		color: $regular_link_color;
	}
	.single-post .post > .entry-content > p:first-of-type:first-letter,
	.dropcaps {
		background: $regular_accent_color_1;
		color: $invert_accent_color_3;
	}
	.single-post-modern .invert .entry-meta i,
	.single-post-modern .invert .posted-by,
	.single-post-modern .invert .posted-by a,
	.tm-posts_layout-3 .posted-by,
	.tm-posts_layout-3 .posted-by a,
	.single-post-modern .invert .entry-footer .share-btns__list a {
		color: $invert_accent_color_3;
	}

	/* Pagination / navigation */
	.site-content .page-links a,
	.site-content .page-numbers,
	#tm_builder_outer_content .pagination .page-numbers {
		font-style: $h5_font_style;
		font-weight: $h5_font_weight;
		font-size: $h5_font_size{px};
		line-height: $h5_line_height;
		font-family: @font_family( $h5_font_family );
		letter-spacing: $h5_letter_spacing{em};
		color: $regular_h5_color;
	}
	.site-content .page-numbers.next,
	.site-content .page-numbers.prev,
	#tm_builder_outer_content .pagination .page-numbers.next,
	#tm_builder_outer_content .pagination .page-numbers.prev {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		font-size: $h6_font_size{px};
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
	}
	.site-content a.page-numbers:hover,
	.site-content .page-numbers.current,
	#tm_builder_outer_content .pagination a.page-numbers:hover,
	#tm_builder_outer_content .pagination .page-numbers.current,
	.site-content .page-links a:hover,
	.site-content .page-links > .page-links__item {
		color: $regular_link_color;
	}

/* #Post Formats*/

	/* Gallery Format */
	.swiper-button-next,
	.swiper-button-prev,
	.smart-slider__instance .sp-arrow {
		color: $invert_link_color;
		background: $invert_accent_color_2;
	}
	.swiper-button-next:hover,
	.swiper-button-prev:hover,
	.smart-slider__instance .sp-arrow:hover {
		background-color: $invert_link_color;
	}
	.swiper-button-next:hover,
	.swiper-button-prev:hover,
	.swiper-button-next:hover:not(.swiper-button-disabled),
	.swiper-button-prev:hover:not(.swiper-button-disabled) {
		color: $invert_accent_color_2;
	}

	/* Link Format */
	.format-link .post-format-link {
		color: $invert_link_color;
		background-color: $invert_link_hover_color;
		font-size: $h5_font_size{px};
		line-height: $h5_line_height;
		font-family: @font_family( $h5_font_family );
		letter-spacing: $h5_letter_spacing{em};
	}
	.format-link .post-format-link:hover {
		background-color: $invert_accent_color_2;
	}
	.invert.invert_primary .post-format-link:hover {
		color: $invert_link_color;
	}

	/* Quote Format */
	blockquote {
		font-style: $h4_font_style;
		font-weight: $h4_font_weight;
		font-size: $h4_font_size{px};
		line-height: $h4_line_height;
		font-family: @font_family( $h4_font_family );
		letter-spacing: $h4_letter_spacing{em};
		color: $regular_h4_color;
	}
	blockquote cite {
		color: $regular_h4_color;
	}

/* #Widgets */
	h5.widget-title {
		font-style: $h4_font_style;
		font-weight: $h4_font_weight;
		font-size: $h4_font_size{px};
		line-height: $h4_line_height;
		font-family: @font_family( $h4_font_family );
		letter-spacing: $h4_letter_spacing{em};
	}

	.widget_categories ul li a,
	.widget_calendar #prev a::before,
	.widget_calendar #next a::before,
	.tagcloud a {
		color: $regular_accent_color_2;
	}
	.widget_categories ul li a:hover,
	.widget_calendar #prev a:hover::before,
	.widget_calendar #next a:hover::before,
	.tagcloud a:hover {
		color: $regular_accent_color_1;
	}
	.invert .widget_categories ul li a,
	.invert .widget_calendar #prev a::before,
	.invert .widget_calendar #next a::before,
	.invert .tagcloud a {
		color: $invert_link_color;
	}
	.invert .widget_categories ul li a:hover,
	.invert .widget_calendar #prev a:hover::before,
	.invert .widget_calendar #next a:hover::before,
	.invert .tagcloud a:hover {
		color: $invert_link_hover_color;
	}

	.widget_calendar caption,
	.widget_calendar tbody td:not(.pad) {
		font-size: @font_size($h5_font_size, multiple, ceil, 1.11)px;
		line-height: $h5_line_height;
		font-family: @font_family( $h5_font_family );
		letter-spacing: $h5_letter_spacing{em};
	}
	.widget_calendar thead th {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		font-size: $h6_font_size{px};
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
		color: $regular_h6_color;
	}
	.widget_calendar tbody td:not(.pad) {
		font-size: $h5_font_size{px};
		color: $regular_h5_color;
	}
	.widget_calendar tbody td a,
	#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td a {
		color: $invert_link_color;
		background-color: $regular_accent_color_1;
	}
	.widget_calendar tbody td a:hover,
	#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td a:hover {
		color: $invert_link_color;
		background-color: $regular_accent_color_2;
	}
	.widget_calendar tbody td#today,
	#tm_builder_outer_content .tm_pb_widget_area .widget_calendar table tbody td#today {
		color: $invert_link_color;
	}
	.follow-block .social-list--widget li a:hover::before,
	.widget-about__social ul li.menu-item a:hover::before {
		color: $regular_accent_color_1;
	}

	.widget_recent_entries ul li a,
	.widget_recent_comments ul li .comment-author-link ~ a {
		font-style: $h5_font_style;
		font-weight: $h5_font_weight;
		font-size: $h5_font_size{px};
		line-height: $h5_line_height;
		font-family: @font_family( $h5_font_family );
		letter-spacing: $h5_letter_spacing{em};
		color: $regular_h5_color;
	}
	.invert .widget_recent_entries ul li a,
	.invert .widget_recent_comments ul li .comment-author-link ~ a {
		color: $invert_link_color;
	}
	.invert .contact-information-widget .icon {
		color: $invert_accent_color_3;
	}
	.invert .contact-information__text a:hover,
	.invert .contact-information__text a[href^="tel"] {
		color: $invert_text_color;
	}
	.invert .widget_recent_entries ul li a:hover,
	.invert .widget_recent_comments ul li .comment-author-link ~ a:hover,
	.invert .contact-information__text a,
	.invert .contact-information__text a[href^="tel"]:hover {
		color: $invert_link_hover_color;
	}

	@media (min-width: 1200px) {
		.full-width-header-area .subscribe-follow__wrap .follow-block,
		.full-width-header-area .subscribe-follow__wrap .subscribe-block,
		.after-content-full-width-area .subscribe-follow__wrap .follow-block,
		.after-content-full-width-area .subscribe-follow__wrap .subscribe-block,
		#tm_builder_outer_content .tm_pb_column_4_4 .tm_pb_module.tm_pb_widget_area .subscribe-follow__wrap .follow-block,
		#tm_builder_outer_content .tm_pb_column_4_4 .tm_pb_module.tm_pb_widget_area .subscribe-follow__wrap .subscribe-block {
			max-width: $container_width{px};
		}
	}
	.before-content-full-width-area .widget-subscribe .widget-title,
	.after-content-full-width-area .widget-subscribe .widget-title,
	#tm_builder_outer_content .tm_pb_module.tm_pb_widget_area .subscribe-follow__wrap .widget-title {
		font-style: $h3_font_style;
		font-weight: $h3_font_weight;
		font-size: @font_size($h3_font_size, multiple, ceil, 0.8)px;
		font-size: $h3_font_size{px};
		line-height: $h3_line_height;
		font-family: @font_family( $h3_font_family );
		letter-spacing: $h3_letter_spacing{em};
	}
	#tm_builder_outer_content .tm_pb_module.tm_pb_widget_area .subscribe-follow__wrap.invert .widget-title {
		color: $invert_accent_color_3;
	}
	@media (min-width: 992px) {
		.before-content-full-width-area .widget-subscribe .widget-title,
		.after-content-full-width-area .widget-subscribe .widget-title,
		#tm_builder_outer_content .tm_pb_module.tm_pb_widget_area .subscribe-follow__wrap .widget-title {
			font-size: $h3_font_size{px};
		}
	}
	.before-content-full-width-area .subscribe-block__message,
	.after-content-full-width-area .subscribe-block__message,
	.before-content-full-width-area .follow-block__message,
	.after-content-full-width-area .follow-block__message,
	#tm_builder_outer_content .follow-block__message,
	#tm_builder_outer_content .subscribe-block__message {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		font-size: $h6_font_size{px};
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
	}
	.before-content-full-width-area .invert .follow-block .social-list--widget li a:hover,
	.after-content-full-width-area .invert .follow-block .social-list--widget li a:hover,
	.tm_pb_column_4_4 .invert .follow-block .social-list--widget li a:hover {
		background-color: $invert_accent_color_3;
	}
	.invert .subscribe-block__error,
	.widget-fpblock__item.invert .posted-by,
	.widget-fpblock__item.invert .posted-by a,
	.sp-slide.invert .posted-by,
	.sp-slide.invert .posted-by a,
	.invert .widget-image-grid__author,
	.invert .widget-image-grid__author a,
	.widget-playlist-slider .sp-thumbnail-container.sp-selected-thumbnail .sp-thumbnail .entry-meta,
	.widget-playlist-slider .sp-thumbnail-container.sp-selected-thumbnail .sp-thumbnail .posted-by,
	.widget-playlist-slider .sp-thumbnail-container.sp-selected-thumbnail .sp-thumbnail .sp-thumbnail-title,
	.invert .widget-taxonomy-tiles__post-count,
	.invert .post-count {
		color: $invert_accent_color_3;
	}
	.widget-fpblock__item.invert .posted-by a:hover,
	.sp-slide.invert .posted-by a:hover {
		color: $invert_accent_color_1;
	}
	.invert .widget_recent_entries .post-date {
		color: $invert_text_color;
	}

/* #Footer */
	.site-footer:not(.centered) .social-list .menu-item > a::before,
	.site-footer.centered .social-list .menu-item > a::before {
		color: $invert_text_color;
	}
	.site-footer:not(.centered) .social-list .menu-item > a:hover::before,
	.site-footer.centered .social-list .menu-item > a:hover::before,
	.invert .footer-copyright a:hover {
		color: $invert_link_color;
	}
	.invert .footer-copyright a {
		color: $invert_link_hover_color;
	}

/* #Builder */
	#tm_builder_outer_content .tm_pb_blurb.tm_pb_module h4,
	.tm_pb_blog .entry-title {
		font-style: $h4_font_style;
		font-weight: $h4_font_weight;
		font-size: $h4_font_size{px};
		line-height: $h4_line_height;
		font-family: @font_family( $h4_font_family );
		letter-spacing: $h4_letter_spacing{em};
	}
	#tm_builder_outer_content .tm_pb_testimonial.tm_pb_module .tm_pb_testimonial_author {
		font-style: $h5_font_style;
		font-weight: $h5_font_weight;
		font-size: $h5_font_size{px};
		line-height: $h5_line_height;
		font-family: @font_family( $h5_font_family );
		letter-spacing: $h5_letter_spacing{em};
	}
	#tm_builder_outer_content .tm_pb_module.tm_pb_button,
	#tm_builder_outer_content .tm_pb_module .tm_pb_button,
	#tm_builder_outer_content .tm_pb_contact_form_label,
	#tm_builder_outer_content .tm_pb_tabs.tm_pb_module .tm_pb_tabs_controls li {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		font-size: $h6_font_size{px};
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
	}
	#tm_builder_outer_content .tm_pb_module.tm_pb_button,
	#tm_builder_outer_content .tm_pb_module .tm_pb_button {
		font-size: @font_size($h6_font_size, multiple, ceil, 0.84)px;
		color: $regular_link_color;
		border-color: $regular_link_color;
	}
	#tm_builder_outer_content .tm_pb_module.tm_pb_button:hover,
	#tm_builder_outer_content .tm_pb_module .tm_pb_button:hover {
		border-color: $regular_link_hover_color;
		color: $regular_link_hover_color;
	}
	#tm_builder_outer_content .tm_pb_module .tm_pb_button.tm_pb_contact_submit {
		background-color: $regular_link_color;
		color: $invert_link_color;
	}
	#tm_builder_outer_content .tm_pb_module .tm_pb_button.tm_pb_contact_submit:hover {
		background-color: $regular_link_hover_color;
		border-color: $regular_link_hover_color;
		color: $invert_link_color;
	}
	#tm_builder_outer_content .tm_pb_contact_form .tm-pb-contact-message,
	#tm_builder_outer_content .tm_pb_contact_form .tm-pb-contact-message ul li::before {
		color: $invert_link_color;
	}
	.tm_pb_blog .entry-meta,
	.tm_pb_blog .entry-meta *,
	.tm_pb_blog .entry-meta a {
		color: $regular_text_color;
	}
	.tm_pb_blog .entry-meta a:hover {
		color: $regular_link_color;
	}
	.tm_pb_slide_content *,
	#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_slide_title {
		color: $invert_link_color;
	}
	#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-prev,
	#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-next,
	#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev,
	#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next {
		color: $invert_link_color;
		background: $invert_accent_color_2;
	}
	#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-prev:hover,
	#tm_builder_outer_content .tm_pb_video_slider .tm-pb-arrow-next:hover,
	#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev:hover,
	#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next:hover {
		background-color: $invert_link_color;
	}
	#tm_builder_outer_content .tm_pb_tabs.tm_pb_module .tm_pb_tabs_controls li a {
		color: $regular_text_color;
	}
	#tm_builder_outer_content .tm_pb_tabs.tm_pb_module .tm_pb_tabs_controls li a:hover,
	#tm_builder_outer_content .tm_pb_tabs.tm_pb_module .tm_pb_tabs_controls li.tm_pb_tab_active a {
		color: $regular_accent_color_2;
	}

/* # Motopress Booking */

	/* Loop rooms & services shortcode */
		.mphb-price,
		.jq-selectbox__select-text,
		.mphb-total-price .mphb-total-price-field .mphb-price {
			font-style: $h1_font_style;
			font-size: @font_size($h1_font_size, multiple, ceil, 0.5)px;
			line-height: $h1_line_height;
			font-family: @font_family( $h1_font_family );
			color: $regular_h1_color;
		}
		.invert .mphb-price {
			color: $invert_h1_color;
		}
		.single-mphb_room_type .entry-title {
			font-style: $h2_font_style;
			font-weight: $h2_font_weight;
			font-size: @font_size($h2_font_size, multiple, ceil, 0.6)px;
			line-height: $h2_line_height;
			font-family: @font_family( $h2_font_family );
			letter-spacing: $h2_letter_spacing{em};
		}
		.mphb-price-wrapper {
			font-size: @font_size($h1_font_size, multiple, ceil, 0.5)px;
			line-height: $h1_line_height;
		}
		.mphb-room-type-title,
		.mphb-service-title,
		.mphb-widget-room-type-title {
			font-style: $h3_font_style;
			font-weight: $h3_font_weight;
			font-size: @font_size($h3_font_size, multiple, ceil, 0.8)px;
			line-height: $h3_line_height;
			font-family: @font_family( $h3_font_family );
			letter-spacing: $h3_letter_spacing{em};
		}
		.mphb-room-type-title,
		.mphb-service-title a,
		.mphb-widget-room-type-title a {
			color: $regular_h3_color;
		}
		#tm_builder_outer_content .tm_pb_module h2.mphb-room-type-title a:hover,
		#tm_builder_outer_content .tm_pb_module h2.mphb-service-title a:hover,
		.mphb-widget-room-type-title a:hover {
			color: $regular_link_color;
		}
		@media (min-width: 1500px) {
			.jq-selectbox__select-text {
				font-size: $h1_font_size{px};
			}
		}
		@media (max-width: 1500px) {
			.mphb_sc_search-wrapper .showing-form .day,
			.jq-selectbox__select-text {
				font-size: @font_size($h1_font_size, multiple, ceil, 0.5)px;
			}
		}
		@media (min-width: 992px) {
			.mphb-price,
			.mphb-price-wrapper,
			.mphb-total-price .mphb-total-price-field .mphb-price {
				font-size: $h1_font_size{px};
			}
			.single-mphb_room_type .entry-title {
				font-size: $h2_font_size{px};
			}
			.mphb-room-type-title,
			.mphb-widget-room-type-title {
				font-size: $h3_font_size{px};
			}
		}
		.single-mphb_room_type .entry-content [id^="mphb-gallery-slider"] .gallery-item a::before,
		.mphb-room-type-gallery-wrapper .gallery > ul.slides,
		#tm_builder_outer_content .tm_pb_module .mphb-room-type-gallery-wrapper .gallery > ul.slides {
			background-color: $regular_accent_color_1;
		}
		.mphb-book-button {
			color: $invert_link_color;
			background-color: $regular_link_color;
		}
		.mphb-book-button:hover {
			background-color: $regular_accent_color_2;
		}
		.mphb-flexslider ul.flex-direction-nav li a {
			background: $invert_accent_color_2;
		}
		.mphb-flexslider ul.flex-direction-nav li a:before {
			color: $invert_link_color;
		}
		.mphb-flexslider ul.flex-direction-nav li a:hover {
			background-color: $invert_link_color;
		}
		.mphb-flexslider ul.flex-direction-nav li a:hover:before {
			color: $invert_accent_color_2;
		}
		.mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2)::before {
			background-color: $regular_accent_color_1;
		}
		.mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) .mphb-service-title a,
		#tm_builder_outer_content .tm_pb_module .mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) h2.mphb-service-title a,
		.mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) p,
		.mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) .mphb-price {
			color: $invert_link_color;
		}
		.mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) .mphb-service-title a:hover,
		#tm_builder_outer_content .tm_pb_module .mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) h2.mphb-service-title a:hover {
			color: $invert_accent_color_2;
		}
		.mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) a.btn {
			border-color: $invert_link_color;
		}
		.mphb_sc_services-wrapper .mphb_room_service:nth-child(4n+2) a.btn:hover {
			border-color: $invert_accent_color_2;
		}
		.datepick a,
		.datepick-month table th,
		.datepick-popup .datepick a,
		.datepick-popup .datepick .datepick-nav a.datepick-cmd,
		.datepick-popup .datepick .datepick-nav a.datepick-cmd.datepick-disabled:hover,
		.mphb-booking-form label,
		.mphb-booking-form label + strong,
		.mphb_sc_search-form label,
		.mphb_sc_search-form label + strong,
		.mphb_widget_search-form label,
		.mphb_widget_search-form label + strong,
		#mphb-customer-details label,
		#mprm_checkout_wrap label.mprm-label {
			font-style: $h6_font_style;
			font-weight: $h6_font_weight;
			font-size: $h6_font_size{px};
			line-height: $h6_line_height;
			font-family: @font_family( $h6_font_family );
			letter-spacing: $h6_letter_spacing{em};
			color: $regular_h6_color;
		}
		.datepick a,
		.datepick-popup .datepick a,
		.datepick-popup .datepick .datepick-nav a.datepick-cmd,
		.datepick-popup .datepick .datepick-nav a.datepick-cmd.datepick-disabled:hover {
			font-size: @font_size($h6_font_size, multiple, ceil, 0.85)px;
		}
		.datepick-popup .datepick a.datepick-cmd,
		.datepick-popup .datepick .datepick-nav a.datepick-cmd:hover {
			color: $regular_link_color;
		}
		.datepick a.mphb-available-date,
		.datepick a.mphb-not-available-date,
		.datepick-month-header,
		.datepick-month-header select,
		.datepick-month-header input,
		.datepick-popup .datepick-month-header,
		.datepick-popup .datepick-month-header select,
		.datepick-popup .datepick-month-header input,
		.mphb-calendar .datepick-month td,
		.datepick-popup .datepick-month td,
		.datepick-popup .datepick table a,
		.mphb_sc_search-results-count,
		.mphb_sc_search_results-not-found,
		.mphb_sc_search_results-info,
		.jq-selectbox li {
			font-style: $h5_font_style;
			font-size: $h5_font_size{px};
			line-height: $h5_line_height;
			font-family: @font_family( $h5_font_family );
			letter-spacing: $h5_letter_spacing{em};
			color: $regular_h5_color;
		}
		.datepick-month-header,
		.datepick-month-header select,
		.datepick-month-header input,
		.datepick-popup .datepick-month-header,
		.datepick-popup .datepick-month-header select,
		.datepick-popup .datepick-month-header input {
			font-size: @font_size($h5_font_size, multiple, ceil, 1.11)px;
		}
		.mphb-calendar .datepick-month td .mphb-booked-date,
		.datepick-popup .datepick-month td .mphb-booked-date,
		.mphb-calendar .datepick-month table td .datepick-weekend.mphb-booked-date {
			background-color: $regular_accent_color_2;
			color: $invert_accent_color_3;
		}
		.datepick-popup .datepick table a:hover,
		.mphb-datepick-popup .datepick-month tbody td a.datepick-highlight,
		.mphb-datepick-popup .datepick-month tbody td a.datepick-selected {
			color: $invert_link_color;
		}
		.mphb-datepick-popup .datepick-month tbody td a.datepick-highlight,
		.mphb-datepick-popup .datepick-month tbody td a.datepick-selected {
			background-color: $regular_accent_color_2;
		}
		.datepick .datepick-month td .datepick-today,
		.datepick-popup .datepick.mphb-datepick-popup .datepick-month table td a.datepick-today,
		.datepick-popup .datepick.mphb-datepick-popup .datepick-month table td a.datepick-today:hover,
		.datepick-popup .datepick-month table td a.datepick-today {
			background-color: $regular_accent_color_3;
			color: $regular_accent_color_2;
		}
		.datepick-popup .datepick table a.datepick-selected,
		.datepick-popup .datepick table a.datepick-selected:hover,
		.mphb-booking-form .mphb-reserve-btn,
		.mphb-booking-form .mphb_sc_search-submit-button-wrapper input,
		.mphb_sc_search-form .mphb-reserve-btn,
		.mphb_sc_search-form .mphb_sc_search-submit-button-wrapper input,
		.mphb_widget_search-form .mphb-reserve-btn,
		.mphb_widget_search-form .mphb_sc_search-submit-button-wrapper input,
		.mphb_widget_search-form .mphb_widget_search-submit-button-wrapper input,
		.mphb_sc_checkout-submit-wrapper .button,
		.widget_mprm_cart_widget .mprm_checkout a,
		.datepick-popup .mphb-datepick-popup .datepick-month td .mphb-check-in-date {
			background-color: $regular_accent_color_1;
			color: $invert_accent_color_3;
		}
		.datepick a.mphb-not-available-date {
			color: $regular_accent_color_3;
		}
		.mphb-booking-form .mphb-reserve-btn:hover,
		.mphb-booking-form .mphb_sc_search-submit-button-wrapper input:hover,
		.mphb_sc_search-form .mphb-reserve-btn:hover,
		.mphb_sc_search-form .mphb_sc_search-submit-button-wrapper input:hover,
		.mphb_widget_search-form .mphb-reserve-btn:hover,
		.mphb_widget_search-form .mphb_sc_search-submit-button-wrapper input:hover,
		.mphb_widget_search-form .mphb_widget_search-submit-button-wrapper input:hover,
		.mphb_sc_checkout-submit-wrapper .button:hover,
		.widget_mprm_cart_widget .mprm_checkout a:hover,
		.jq-selectbox li:hover,
		.jq-selectbox li.sel.selected,
		#tm_builder_outer_content .jq-selectbox li:hover,
		#tm_builder_outer_content .jq-selectbox li.sel.selected {
			background-color: $regular_accent_color_2;
			color: $invert_accent_color_3;
		}
		.mphb_sc_search-wrapper.availability-search .showing-form::after {
			color: $regular_accent_color_2;
		}
		.mphb_sc_search-wrapper.availability-search .showing-form .label {
			color: $regular_text_color;
		}
		.mphb-booking-details > h3,
		#mphb-services-details > h3,
		.mphb-room-price-breakdown-wrapper > h3,
		#mphb-customer-details > h3,
		.mphb-total-price {
			font-style: $h4_font_style;
			font-size: $h4_font_size{px};
			line-height: $h4_line_height;
			font-family: @font_family( $h4_font_family );
			letter-spacing: $h4_letter_spacing{em};
			color: $regular_h4_color;
		}
		.invert .mphb_widget_rooms-wrapper .mphb-widget-room-type-title > a {
			color: $invert_h4_color;
		}
		.mphb-booking-details span,
		.mphb-room-price-breakdown-wrapper .mphb-price-breakdown th,
		.mphb-room-price-breakdown-wrapper .mphb-price-breakdown th .mphb-price,
		.mphb_sc_checkout-wrapper #mphb-customer-details abbr {
			font-style: $h6_font_style;
			font-size: $h6_font_size{px};
			font-weight: $h6_font_weight;
			line-height: $h6_line_height;
			font-family: @font_family( $h6_font_family );
			letter-spacing: $h6_letter_spacing{em};
			color: $regular_h6_color;
		}
		.mphb-booking-details strong,
		.mphb-booking-details time,
		#mphb-services-details label,
		#mphb-services-details label .mphb-price,
		.mphb-room-price-breakdown-wrapper .mphb-price-breakdown tbody td,
		.mphb-room-price-breakdown-wrapper .mphb-price-breakdown tbody td .mphb-price {
			font-style: $body_font_style;
			font-weight: $body_font_weight;
			font-size: @font_size($body_font_size, multiple, ceil, 0.77)px;
			line-height: $body_line_height;
			font-family: @font_family( $body_font_family );
			letter-spacing: $body_letter_spacing{em};
			text-align: $body_text_align;
			color: $regular_text_color;
		}
		.mphb_sc_checkout-wrapper #mphb-customer-details abbr {
			color: $regular_accent_color_1;
		}
		.mphb_sc_search-wrapper .mphb_sc_search-form.loading::before {
			background-color: $regular_accent_color_1;
		}

/* #Cherry Testi */
	.tm-testi__title-main {
		font-style: $h2_font_style;
		font-weight: $h2_font_weight;
		font-size: @font_size($h2_font_size, multiple, ceil, 0.6)px;
		line-height: $h2_line_height;
		font-family: @font_family( $h2_font_family );
		letter-spacing: $h2_letter_spacing{em};
		color: $regular_h2_color;
	}
	@media (min-width: 992px) {
		.tm-testi__title-main {
			font-size: $h2_font_size{px};
		}
	}
	.tm-testi__title-sup {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		font-size: $h6_font_size{px};
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
		color: $regular_h6_color;
	}
	.tm-testi .tm-testi__item-name {
		font-style: $h5_font_style;
		font-weight: $h5_font_weight;
		font-size: $h5_font_size{px};
		line-height: $h5_line_height;
		font-family: @font_family( $h5_font_family );
		letter-spacing: $h5_letter_spacing{em};
		color: $regular_h5_color;
	}

/* Moto restaurant */
	.mprm-shortcode-items .mprm-title,
	.mprm-container .mp_menu_item .mprm-title,
	.mprm-container.mprm-view-grid .mp_menu_item .mprm-title,
	.mprm-container.mprm-view-grid .mprm-price-container .mprm-price,
	.mprm-container .mprm-price,
	.mp-menu-item .mprm-price,
	#mprm_purchase_form legend,
	.mprm-main-wrapper .mprm-taxonomy-title,
	.mprm-container .mprm-taxonomy-title {
		font-style: $h4_font_style;
		font-size: $h4_font_size{px};
		line-height: $h4_line_height;
		font-family: @font_family( $h4_font_family );
		letter-spacing: $h4_letter_spacing{em};
	}
	.mprm-shortcode-items .mprm-title,
	.mprm-shortcode-items .mprm-title a,
	.mprm-container .mp_menu_item .mprm-title,
	.mprm-container .mp_menu_item .mprm-title a,
	.mp-menu-item .mprm-price,
	#mprm_purchase_form legend,
	.mprm-main-wrapper .mprm-taxonomy-title,
	.mprm-container .mprm-taxonomy-title {
		color: $regular_h4_color;
	}
	.invert .mprm-container .mprm-taxonomy-title {
		color: $invert_h4_color;
	}
	.mprm-shortcode-items .mprm-title a:hover,
	.mprm-container .mp_menu_item .mprm-title a:hover,
	.mprm-shortcode-items .mprm-price,
	.mp-menu-item .mprm-price span {
		color: $regular_link_color;
	}
	.invert .mp-menu-item .mprm-price,
	.invert .mp-menu-item .mprm-price span {
		color: $invert_accent_color_3;
	}
	.mprm-shortcode-items .mprm-taxonomy-title,
	.widget_mprm_cart_widget .mprm_checkout a {
		font-style: $h6_font_style;
		font-weight: $h6_font_weight;
		line-height: $h6_line_height;
		font-family: @font_family( $h6_font_family );
		letter-spacing: $h6_letter_spacing{em};
	}
	.mprm-shortcode-items .mprm-taxonomy-title {
		font-size: $h6_font_size{px};
		color: $regular_h6_color;
	}
	.widget_mprm_cart_widget .mprm_checkout a {
		font-size: @font_size($h6_font_size, multiple, ceil, 0.84)px;
	}
	.mprm-container .mprm-tags a {
		background-color: $invert_accent_color_1;
		color: $invert_accent_color_3;
	}

/* Buddypress */
	.buddypress #buddypress #subnav.item-list-tabs ul li.last select,
	.buddypress #buddypress #subnav.item-list-tabs ul li#members-order-select select#members-order-by,
	.buddypress.members #buddypress #members-dir-search #search-members-form #members_search:focus,
	.buddypress #buddypress #group-dir-search #search-groups-form #groups_search:focus {
		background-color: $invert_accent_color_3;
	}

/* Cherry Projects */
	.cherry-projects-single-post .featured-image a::before,
	.cherry-projects-single-post .additional-image a::before,
	.cherry-projects-wrapper .projects-item-instance .featured-image a::before {
		color: $invert_link_color;
	}
