@import "https://fonts.googleapis.com/css?family=Cookie";
h1 {
  color: #303030; }

h2 {
  color: #fbcbd1; }

h3 {
  color: #303030; }

h4 {
  color: #fbcbd1; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #fbcbd1;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/talisman/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 120px;
  width: 410px;
  height: 20px;
  top: 200px;
  font-weight: 400;
  font-family: "Cookie", cursive; }

.tm-title-caption {
  font-size: 25px;
  top: 330px;
  color: #303030;
  line-height: 36px;
  width: 430px; }

@media (max-width: 1800px) and (min-width: 1601px) {
  .tm-title-caption {
    width: 300px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 47px; }

  .tm-title-caption {
    width: 185px;
    top: 153px; } }
@media (max-width: 1399px) {
  .tm-title-caption {
    width: 383px; } }
.rd-mobilemenu .logo {
  background-color: #ffffff; }

.toTop {
  background-color: #fbcbd1; }
  .toTop:hover {
    background: white; }
