.site-branding {
	text-align: center;

	.site-logo {}
	.site-description {
		text-transform: uppercase;
		letter-spacing: .5em;
		margin-top: -5px;
	}
}
.site-header {
	.contact-block__text,
	.contact-block__label {
		font-size: .66rem;
	}
	.contact-block__item {
		padding-top: 2px;
		padding-bottom: 8px;
	}
}

@import "header/layout-default";
@import "header/layout-centered";
@import "header/layout-modern";
@import "header/layout-minimal";
@import "header/layout-creative";
@import "header/top-panel";
@import "header/logo";
