.format {
	&-gallery {
		.post-gallery {
			&__caption,
			&__link {
				@include image-border();
			}
		}
		.swiper-pagination,
		.swiper-container.swiper-container-horizontal .swiper-pagination {
			position: relative;
			bottom: auto;
			margin: 20px 0 0;
		}
	}

	&-audio {
		&.posts-list__item .entry-header,
		&.no-thumb.posts-list__item .entry-header {
			margin-bottom: 24px;
		}
		.post-featured-content {
			padding: 0;

			.post-list__item-content & {
				background-color: transparent;
			}
			.posts-list--default:not(.featured-image--small) & {
				margin-top: 0;
			}
		}
		.entry-content .mejs-container-wrapper {
			.single & {
				padding: 0;

				@include image-border();
			}
		}
	}

	&-link {
		&.posts-list__item .entry-header,
		&.no-thumb.posts-list__item  .entry-header {
			margin-bottom: 29px;
		}
		.post-format-link {
			display: block;
			width: 100%;
			font-style: italic;
			padding: 14px 20px;
			margin: 26px 0 0;
			text-align: left;

			&:before {
				display: none;
			}
		}
		.post-featured-content {
			.single & {
				padding: 0;
			}
		}
	}

	&-quote {
		&.posts-list__item .entry-header,
		&.no-thumb.posts-list__item .entry-header {
			margin-bottom: 0;
		}
		.post-featured-content.post-quote {
			background-color: transparent;
			padding: 0;
			width: 100%;
		}
		.post-format-quote {
			max-width: inherit;
			text-align: left;
			margin: 24px 0 0;
		}
		.entry-content {
			blockquote {
				.single & {
					padding: 0 0 0 92px;

					> * {
						max-width: inherit;
					}
				}
				.single .site-main & {
					background-color: transparent;
				}
			}
		}
	}

	&-video {
		.entry-video {
			@include image-border();
		}
	}
}
