@import "https://fonts.googleapis.com/css?family=Poppins";
h1 {
  font-family: "Poppins", sans-serif; }

h2 {
  color: #ffb900; }

h4 {
  color: #ffb900; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #ececec;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/paintelle/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #ffffff; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #ffffff; }

.rd-mobilepanel_title {
  font-size: 80px;
  font-weight: 800;
  top: 213px;
  width: 400px;
  line-height: 45px; }

.tm-title-caption {
  font-size: 25px;
  top: 294px;
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  width: 342px;
  text-align: center; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 198px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 100px; }

  .tm-title-caption {
    top: 180px;
    width: 300px; } }
.rd-mobilemenu .logo {
  background-color: #ffb900; }

.rd-mobilemenu_ul ul a.focus {
  color: #ffb900; }

.toTop {
  background-color: #ececec;
  color: #ffffff; }
  .toTop:hover {
    background-color: #b9b9b9; }
