//========================================================
//                     Variables
//========================================================

$primary-color: #ffb900;
$primary-color-second: #ececec;

$header-background-image: '../../projects/paintelle/img/header-bg.png';

@import 'https://fonts.googleapis.com/css?family=Poppins';
$primary-font-family: 'Poppins', sans-serif;


//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;

}
h2 {
	color: $primary-color;
	//font-family: $primary-font-family;
}
h3 {

	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-second;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}
.rd-mobilepanel_toggle {
	span{
		background-color: #ffffff;
		&:before, &:after{
			background-color: #ffffff;
		}
	}
	
}

.rd-mobilepanel_title {
	font-size: 80px;
	font-weight:800;
	top:213px;
	width: 400px;
	line-height: 45px;
}

.tm-title-caption {
	font-size: 25px;
	top: 294px;
	font-family: $primary-font-family;
    line-height: 36px;
    width: 342px;
    text-align: center;
}
@media (max-width: 1439px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
	}
}
@media (max-width: 1600px) and (min-width: 1440px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
		width:198px;
	}
}
@media (max-width: 1800px) and (min-width: 1601px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
		width:300px;
	}
}
.rd-mobilemenu {
	.logo{
		background-color: $primary-color;
	}
}
.rd-mobilemenu_ul{
	ul{
		a{
			&.focus{
				color: $primary-color;
			}
		}
	}
}  

.toTop {
	background-color: $primary-color-second;
	color: #ffffff;
	&:hover {
    	background-color:darken($primary-color-second,20%);
	}
}