.site {
	&-content_wrap {
		.sidebar {
			.position-one-right-sidebar &,
			.position-one-left-sidebar & {
				@include media-breakpoint-up(lg) {
					&:before {
						display: none;
					}
				}
			}
			.position-one-right-sidebar & {
				@include media-breakpoint-up(xl) {
					padding-left: $grid-gutter-width / 2;
				}
			}
			.position-one-left-sidebar & {
				@include media-breakpoint-up(xl) {
					padding-right: $grid-gutter-width / 2;
				}
			}
		}
	}
}
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";
