h1 {
  color: #FFFFFF; }

h2 {
  color: #f62e46; }

h3 {
  color: #2a445d; }

h4 {
  color: #f62e46; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% top; } }

.rd-mobilepanel {
  background-color: #2a445d;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px top; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/cherryframework4/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 82px; }

.tm-title-caption {
  font-size: 32px;
  top: 200px;
  color: #f62e46;
  line-height: 36px;
  width: 430px; }

.rd-mobilemenu .logo {
  background-color: #f62e46; }
  .rd-mobilemenu .logo a {
    display: inline-block; }

.toTop {
  background-color: #f62e46; }
  .toTop:hover {
    background: #fa909d; }
