.top-panel__menu {
	&-list {
		text-align: center;
		margin: 0 -7px;
		.menu-item {
			margin: .25em 7px;
			@include font-size(12/16);
			a {
				text-decoration: none;
			}
			&.current-menu-item,
			&.current_page_item {
				a {	}
			}
		}
	}
}