@import url("https://fonts.googleapis.com/css?family=Poppins");
h1 {
  font-family: "Poppins", sans-serif;
  color: #000; }

h2 {
  color: #ff453f; }

h3 {
  color: #000; }

h4 {
  color: #ff453f; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #2c3f5e;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/innovi/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 74px;
  top: 220px; }

.tm-title-caption {
  font-size: 98px;
  top: 330px;
  font-family: "Poppins", sans-serif;
  color: #ff453f;
  line-height: 36px;
  width: 365px;
  font-style: italic;
  text-align: center; }

.rd-mobilemenu .logo {
  background-color: #FFFFFF; }

.toTop {
  background-color: #ff453f; }
  .toTop:hover {
    background: #ffa8a5; }

@media (max-width: 1600px) and (min-width: 976px) {
  .rd-mobilepanel_title {
    top: 53px; }

  .tm-title-caption {
    width: 259px;
    top: 176px;
    text-align: left;
    font-size: 50px !important; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 53px; }

  .tm-title-caption {
    width: 300px;
    top: 176px; } }
.rd-mobilepanel_toggle span {
  background-color: #ff453f; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #ff453f; }
