//========================================================
//                     Variables
//========================================================

$primary-color: #fe7646;
$primary-color-second: #312f44;
$primary-color-light: #FFFFFF;
$header-background-image: '../../projects/blogetti/img/header-bg.png';

@import url(//fonts.googleapis.com/css?family=Noto+Serif:400,700);
$primary-font-family:'Noto Serif', serif;

//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color-light;
}

h2 {
	color: $primary-color;
}

h3 {
	color: $primary-color-second;
}

h4 {
	color: $primary-color;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% top;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px top;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
	font-size: 82px;

}

.tm-title-caption {
	font-size: 32px;
	font-weight: 700;
	top: 200px;
	font-family: $primary-font-family;
    color: $primary-color-light;
    line-height: 36px;
    width: 430px;
}

.rd-mobilemenu {
	.logo{
		background-color: $primary-color-second;
	}
}

/*
.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
		}
	}
}

.rd-mobilepanel {
	background-image: url($header-background-image);
	background-color: $primary-color;
	background-position: right top;
	height: 600px;
}

.rd-mobilepanel_title {
	font-size: 82px;
	color: $primary-color-light;
	width: 430px;
}

.tm-title-caption {
	font-size: 32px;
	top: 200px;
	font-family: $primary-font-family;
}

.rd-mobilemenu {
	.logo{
		background-color: $primary-color-second;
	}
}*/