//========================================================
//                     Variables
//========================================================

$primary-color: #f6f8f7;
$primary-color-second: #333870;
$primary-color-light: #FFFFFF;
$primary-color-dark: #000000;
$header-background-image: '../../projects/gadnews/img/header-bg.png';

@import url(//fonts.googleapis.com/css?family=Montserrat|Merriweather:300);

$primary-font-family: 'Montserrat', sans-serif;;

$secondary-font-family: 'Merriweather', serif;

//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color-dark;
}
h2 {
	color: $primary-color-second;
	//font-family: $primary-font-family;
}
h3 {
	color: $primary-color-dark;
	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color-dark;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% top;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px top;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
	font-size: 62px;
	top: 100px;

}

.tm-title-caption {
	font-size: 32px;
	top: 210px;
	font-family: $secondary-font-family;
    color: $primary-color-second;
    line-height: 46px;
    width: 400px;
    font-family: $secondary-font-family;
}

.rd-mobilemenu {
	.logo{
		background-color: $primary-color-light;
	}
}
.toTop {
	background-color: $primary-color-second;
	&:hover {
    	background: lighten($primary-color-second, 20%);
	}
}

.rd-mobilepanel_toggle span::after,
.rd-mobilepanel_toggle span::before,
.rd-mobilepanel_toggle span {
	background-color: $primary-color-dark;
}