input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select,
textarea {
	@include font-size(14/16);
	line-height: inherit;
	font-style: italic;
	padding: 0 2px 10px;
	border-radius: 0;
	border: none;
	background: none;

	&.comment-form__field,
	.wpcf7 i + .wpcf7-form-control-wrap > & {
		padding-left: 0;
	}

	&:focus {
		border: none;
		outline: 0;
	}
	.invert &:focus,
	.tm_pb_with_background &:focus {
		background: none;
	}
}

button,
input[type='submit'],
input[type='reset'] {
	&:focus {
		outline: 0;
	}
}

select {
	-webkit-appearance:menulist;
		   -moz-appearance:menulist;
		        appearance:menulist;
	border-color: $color__background-hr;
	font-style: normal;

	.widget_categories &,
	.widget_archive & {
		width: 100%;
		max-width:none;
	}
}
