.alignleft {
	margin-bottom: 15px;
	@include media-breakpoint-up(md) {
		float: left;
		margin: 15px 30px 15px 0;
	}
}

.alignright {
	margin-bottom: 15px;
	@include media-breakpoint-up(md) {
		float: right;
		margin: 15px 0 15px 30px;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-bottom: 15px;
}
