.share-btns {
	&__list {
		margin-left: -10px;
		margin-right: -10px;
		line-height: 1;
		.single & {
			margin-left: -12px;
			margin-right: -12px;
		}

		.single-modern-header & {
			margin-top: 35px;
			@include media-breakpoint-up(lg) {
				margin-top: 55px;
			}
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
		padding-right: 10px;
		.single &{
			padding-left: 12px;
			padding-right: 12px;
		}
	}
	&__link {
		line-height: 1.5em;
		display: block;
		height: 1.5em;
		text-align: center;
		text-decoration: none;
		@include font-size(.9375);

		.single &{
			@include font-size(1.25);
		}
	}
}