/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/

.not-found.error-404 {
	margin: 48px 0 60px;
	@include media-breakpoint-up(md) {
		margin: 98px 0 110px;
	}
	p {
		max-width: 620px;
		margin-left: auto;
		margin-right: auto;
	}

	h2 {
		margin-bottom: 35px;
	}

	.btn {
		margin-top: 56px;
	}
}