/*
	Dynamic styles for Woo-elements
 */

header .woocommerce-currency-switcher-form ul.dd-options {
	background-color: $top_panel_bg;
}

/*
 * Woo-elements
 * Listing line Products
 */
.products .product h3,
.tm-categories-carousel-widget-container h3,
.products .product-category h3,
.tm-woowishlist-widget-product h3,
.tm-woocompare-widget-product h3 {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}


.tm_banners_grid_widget_banner_title{
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h3_letter_spacing{em};
	text-align: $h3_text_align;
	color: $regular_h3_color;
}


.products .product-category .title_count_block>span,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block>span {
	color: $regular_text_color;
}
.products .product-category > a h3:hover,
.tm-categories-carousel-widget-container h3:hover,
.products .product-category > a .title_count_block>span:hover,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block>span:hover {
	color: $regular_accent_color_1;;
}

.products .product.product-list h3, .related h4,
.woocommerce .page-title, .woocommerce-checkout h3,
.woocommerce-checkout .woocommerce-info,
.woocommerce-checkout-payment .payment_methods li label,
.woocommerce-checkout h2,
.tm_custom_menu_widget h3{
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: @font_size($h5_font_size, multiple, ceil, 1)px;
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{em};
	text-align: $h5_text_align;
	color: $regular_h5_color;
}


/*
 * Woo-elements
 * Woocommerce carousel-category-products
 */

.tm-categories-carousel-widget-container .swiper-button-next,
.tm-categories-carousel-widget-container .swiper-button-prev,
.woocommerce .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn,
.woocommerce-product-search label i {
	color: @lighten($regular_text_color, 25%);

}
.tm-categories-carousel-widget-container .swiper-button-next:hover,
.tm-categories-carousel-widget-container .swiper-button-prev:hover,
.woocommerce .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn:hover {
	color: $regular_accent_color_1;
}

.woocommerce .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	background: $regular_accent_color_2;
}
.woocommerce .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active,
.woocommerce .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover,
.site-header-cart .cart-contents .count {
	background: $regular_accent_color_1;
}


.tm_about_store_widget span {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 1)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
}

#tm_builder_outer_content .tm_pb_widget_area .tm_about_store_widget h3.widget-title {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 1)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{em};
}

#tm_builder_outer_content .tm_pb_widget_area .widget.tm_about_store_widget,
.tm_about_store_widget,
#tm_builder_outer_content .tm_pb_widget_area .tm_about_store_widget h3.widget-title{
	color: $invert_accent_color_1;;
}
/*
 * Woo-elements
 * Woocommerce price styles
 */

.woocommerce .products .product .price,
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.cart_list li .quantity .amount,
.woocommerce-cart .woocommerce .amount,
.woocommerce-checkout .woocommerce .amount,
.widget .woocs_price_code ins,
.price {
	color: $regular_accent_color_1;
}


.woocommerce .products .product .price del,
.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.widget .woocs_price_code del {
	color: $regular_text_color;
}

/*
 * Woo-elements
 * Woocommerce product widgets
 */

.woocommerce.widget .product-title,
.woocommerce.widget .product-title a,
.woocommerce ul.cart_list li>a,
.woocommerce ul.product_list_widget li>a {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 0.77)px;
	line-height: @font_size($h6_line_height, multiple, abs, 0.91);
	font-family: @font_family( $h6_font_family );
	color: $regular_h6_color;
}

.woocommerce.widget .product-title a:hover,
.woocommerce ul.cart_list li>a:hover,
.woocommerce ul.product_list_widget li>a:hover {
	color: $regular_accent_color_1;
}

/* Styles for product-categories */
.woocommerce > ul > li .product-widget-categories,
.woocommerce > ul > li .product-widget-categories a,
.woocommerce > ul span.reviewer,
.woocommerce.widget_shopping_cart .total span,
.woocommerce .widget_layered_nav ul li {
	color: $regular_text_color;
}

.woocommerce > ul > li .product-widget-categories a:hover,
.woocommerce.widget_shopping_cart .total strong,
.woocommerce.widget_shopping_cart ul.cart_list > li dl dt {
	color: $regular_accent_color_1;
}

.invert .site-header-cart .shopping_cart-dropdown-wrap .shopping_cart-header > * {
	color: $regular_h4_color;
}

.invert .woocommerce.widget_shopping_cart .cart_list li.empty {
	color: $regular_text_color;
}


/*
 * Woo-elements
 * Compare and wishlist buttons
 */
.woocommerce .tm-woocompare-button,
.woocommerce .tm-woowishlist-button {
	border-color: @lighten($regular_text_color, 25%);
}
.woocommerce .tm-woocompare-button:hover,
.woocommerce .tm-woowishlist-button:hover {
	border-color: $regular_accent_color_1;
}

.woocommerce .tm-woocompare-page-button.button.alt,
.woocommerce .tm-woowishlist-page-button.button.btn {
	color: @lighten($regular_text_color, 25%);
}

.woocommerce .tm-woocompare-page-button.button.alt:hover,
.woocommerce .tm-woowishlist-page-button.button.btn:hover {
	color: $regular_accent_color_2;
}

.woocommerce button.button.btn {
	color: @lighten($regular_text_color, 25%);
}

.woocommerce button.button.btn:hover {
	color: $invert_link_color;
	background: $regular_accent_color_1;
}

/*
 * Woo-elements
 * Sale-timer styles
 */
.tm-products-sale-end-date span {
	background: $regular_accent_color_1;
	color: $invert_link_color;
}

/*
 * Woo-elements
 * Styles for tags and categories list -- loop product
 */

.product-categories li,
.product-categories li a,
.product-widget-tags li,
.product-widget-tags li a {
	color: $regular_text_color;
}

.product-categories li a:hover,
.product-widget-tags li a:hover{
	color: $regular_accent_color_1;
}

.widget.widget_product_categories .product-categories li,
.widget.widget_product_categories .product-categories li a {
	color: $regular_accent_color_1;
}

.widget.widget_product_categories .product-categories li a:hover,
.widget.widget_product_categories .product-categories li.current-cat a {
	color: $regular_accent_color_2;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
	background: transparent;
	color: $regular_accent_color_2;
}

.woocommerce .widget_price_filter .price_slider_amount .button:hover {
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_link_color;
}

/*
 * Woo-elements
 * Buttons woo styles
 */
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce button.button.tm-woocompare-empty,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.button.add_to_cart_button.loading:hover,
.woocommerce button.button.btn.tm-wc-ajax-load-more-button {
	background: $regular_accent_color_1;
	color: $invert_link_color;
}

.woocommerce a.button.product_type_variable {
	color: $regular_accent_color_2;
}

.woocommerce a.button.product_type_variable:after{
	color: $regular_text_color;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce button.button.tm-woocompare-empty:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button.btn.tm-wc-ajax-load-more-button:hover {
	background: $regular_accent_color_2;
	color: $invert_link_color;
}

.woocommerce a.button.product_type_variable:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.woocommerce a.button.product_type_variable:hover:after{
	color: $invert_link_color;
}

.woocommerce a.button.product_type_variable:active {
	box-shadow: 0 0 10px $regular_accent_color_1;
}

/*disable button syles*/
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce input.button:disabled:hover,
.woocommerce input.button:disabled[disabled]:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce-cart table.cart input.header-btn:disabled {
	background: @darken( $regular_accent_color_1, 10% );
	color: $invert_link_color;
}


/*
 * Woo-elements
 * Woo-Badge styles
 */

.woocommerce span.featured,
.woocommerce span.onsale,
.woocommerce span.new {
	color: $invert_link_color;
}
.woocommerce span.onsale{
	background: $onsale_badge_bg;
}

.woocommerce span.featured {
	background: $featured_badge_bg;
}

.woocommerce span.new {
	background: $new_badge_bg;
}

/*
 * Woo-elements
 * Grid-list toggle buttons
 */

.tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler {
	color: $regular_accent_color_2;
}

.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler.disabled,
.tm-wc-ajax-products-wrapper .tm-woo-grid-list-toggle-button-wrapper .tm-woo-grid-list-toggle-button .tm-woo-grid-list-toggler:hover {
	color: $regular_accent_color_1;
}


/*
 * Woo-elements
 * Single-product styles
 */
.single-product div.product h1.product_title{
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 1)px;
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	text-align: $h4_text_align;
	color: $regular_h4_color;
}

.woocommerce.single-product #content div.product .product_meta,
.woocommerce-currency-switcher-form .dd-container .dd-selected label {
	color: $regular_text_color;
}

.woocommerce.single-product #content div.product .product_meta a{
	color: $regular_text_color;
}

.woocommerce.single-product #content div.product .product_meta a:hover {
	color: $regular_accent_color_1;
}

.woocommerce table.shop_attributes th {
	color: $regular_accent_color_2;
}

/*
 * Woo-elements
 * SmartBox widget
 */

.rd-material-tab.rd-material-tab-active a, .tm_custom_menu_widget .menu li a {
	color: $regular_accent_color_1;
}

.tm_custom_menu_widget .menu li a:hover{
	color: $regular_accent_color_2;
}

.tm-products-smart-box-widget__rd-material-tabs .product h3 {
	font-family: $body_font_family;
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: @font_size($body_font_size, multiple, ceil, 1)px;
	line-height: $body_line_height;
	letter-spacing: $body_letter_spacing{em};
}

.tm-products-smart-box-widget__rd-material-tabs .product h3:hover {
	color: $regular_accent_color_1;
}

.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:before{
	color: $regular_accent_color_2;
}

.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:hover,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:hover:before,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab.rd-material-tab-active a,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab.rd-material-tab-active a:before {
	color: $regular_accent_color_1;
}

.tm-products-smart-box-widget__rd-material-tabs .product span.price:hover,
.tm-products-smart-box-widget__rd-material-tabs .product span.price:hover ins,
.tm-products-smart-box-widget__rd-material-tabs .product span.price:hover del {
	color: $regular_text_color;
}
.tm-products-smart-box-widget__rd-material-tabs .product .price del .amount{
	font-size: @font_size($h4_font_size, multiple, ceil, 0.5333333333333333)px;
}
.tm-products-smart-box-widget__rd-material-tabs .product .price del .amount,
.tm-products-smart-box-widget__rd-material-tabs .product .price del {
	font-family: $body_font_family;
}

/**
 * Woo-elements
 * Cart page
 *
 */

.tm-woowishlist-remove,
.tm-woocompare-remove {
	color: @lighten($regular_text_color, 26.27%);
}

.tm-woowishlist-remove:hover,
.tm-woocompare-remove:hover {
	opacity: 1;
	color: $regular_accent_color_1;
}

.woocommerce a.remove{
	color: @lighten($regular_text_color, 26.27%) !important;
}

.woocommerce a.remove:hover{
	color: $regular_accent_color_1 !important;
}

.woocommerce table.shop_table thead tr {
	background-color: $invert_accent_color_2;
}

.woocommerce table.shop_table tbody tr.cart_item,
.woocommerce table.shop_table tbody tr.order_item {
	background-color: $invert_accent_color_3;
}

.woocommerce table.shop_table tbody tr.cart_item:nth-child(even),
.woocommerce table.shop_table tbody tr.order_item:nth-child(even) {
	background-color: $invert_accent_color_2;
}

.woocommerce table.shop_table tbody tr td.product-name {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: @font_family( $body_font_family );
	letter-spacing: $body_letter_spacing{em};
	text-align: $body_text_align;
	color: $regular_text_color;
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody tr td strong.product-quantity,
table.order_details tbody tr td strong.product-quantity {
	color: $regular_accent_color_1;
}

.woocommerce table.shop_table thead th,
.cart-collaterals div.cart_totals table tbody tr,
.cart-collaterals div.cart_totals table tbody td,
.cart-collaterals div.cart_totals table tbody td,
.cart-collaterals div.cart_totals table tbody th,
table.shop_table.woocommerce-checkout-review-order-table tfoot tr.cart-subtotal th,
table.shop_table.woocommerce-checkout-review-order-table tfoot tr.order-total th,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tbody tr td,
table.order_details tfoot tr,
.woocommerce .order_details li strong {
	color: $regular_accent_color_2;
}


.woocommerce table.shop_table tbody tr td.product-name a {
	color: $regular_accent_color_2;
}

.woocommerce table.shop_table tbody tr td.product-name a:hover{
	color: $regular_accent_color_1;
}

.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-attribute {
	border-color: $regular_accent_color_3;
	background: $regular_accent_color_3;
}

.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-reset.button {
	color: $regular_accent_color_1;
}

.tm-wc-ajax-products-wrapper .tm-wc-ajax-filters-wrapper .tm-wc-ajax-filters-reset.button:hover{
	color: $regular_accent_color_2;
}

/**
 * Woo-elements
 * Checkout page
 *
 */
.woocommerce-checkout .woocommerce-info > a,
.woocommerce form.login .form-row label.inline,
.woocommerce form .form-row .select2-container.country_to_state .select2-choice,
.woocommerce form .form-row.create-account label.checkbox,
.woocommerce div.product form.cart .variations label {
	 color: $regular_text_color;
}
.woocommerce-checkout .woocommerce-info > a:hover,
.woocommerce form.login .form-row label.inline:hover,
.woocommerce form .form-row.create-account label.checkbox:hover {
	color: $regular_accent_color_1;
}

.woocommerce form.checkout_coupon .form-row-last .button {
	background: $regular_accent_color_2;
}
.woocommerce form.checkout_coupon .form-row-last .button:hover {
	background: $regular_accent_color_1;
}

.woocommerce form label {
	color: $regular_accent_color_2;
}
.woocommerce form .form-row .required {
	color: $regular_accent_color_1;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: $invert_accent_color_2;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	color: $regular_accent_color_2;
}

/**
 * Woo-elements
 * Account page
 *
 */
.woocommerce-account.logged-in .entry-content .woocommerce {
	background-color: $invert_accent_color_2;
}

.woocommerce-account.logged-in .entry-content .woocommerce .woocommerce-MyAccount-content {
	background-color: $invert_accent_color_3;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation {
	font-family: $h6_font_family;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, .8)px;
	line-height: $h6_line_height;
	letter-spacing: $h6_letter_spacing{em};
}

@media (min-width: 992px) {
	.woocommerce-account.logged-in .woocommerce-MyAccount-navigation {
		font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	}
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation a {
	color: $regular_accent_color_2;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation a:hover,
.woocommerce-account.logged-in .woocommerce-MyAccount-navigation .is-active a {
	color: $regular_accent_color_1;
}

/**
 * Woo-elements
 * Wishlist&Compare style
 *
 */

.tm-woocompare-table .tm-woocomerce-list__product-title{
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}

.tm-woowishlist .tm-woowishlist-item .tm-woocomerce-list__product-title a,
.tm-woocompare-table .tm-woocomerce-list__product-title a,
.tm-woocompare-list table.tm-woocompare-table .tm-woocompare-row .title {
	 color: $regular_accent_color_2;
}

.tm-woowishlist .tm-woowishlist-item .tm-woocomerce-list__product-title a:hover,
.tm-woocompare-table .tm-woocomerce-list__product-title a:hover {
	color: $regular_accent_color_1;
}

.woocommerce .loader:before,
.woocommerce .blockUI.blockOverlay:before,
.woocommerce .blockUI.blockOverlay:before{
	border-top-color: $regular_accent_color_1;
	border-right-color: $regular_accent_color_1;
}
