/*
 * Elements
 * Main Navigation
 *
 */
.main-navigation ul ul a,
.main-navigation .menu > li > a { color: $regular_text_color; }

.main-navigation ul ul a:hover,
.main-navigation .sub-menu > li > a:hover,
.main-navigation .sub-menu > li.menu-hover > a,
.main-navigation .sub-menu > li.current_page_item > a,
.main-navigation .sub-menu > li.current_page_ancestor > a,
.main-navigation .sub-menu > li.current-menu-item > a,
.main-navigation .sub-menu > li.current-menu-ancestor > a,
.main-navigation .menu > li > a:hover,
.main-navigation .menu > li.menu-hover > a,
.main-navigation .menu > li.tm-mega-menu-hover > a,
.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a { color: $regular_accent_color_2; }


.invert .main-navigation.vertical-menu .menu > li > a,
.invert .main-navigation .menu.isStuck > li > a,
.invert .main-navigation.mobile-menu .menu > li > a {
	color: $invert_accent_color_1;
}

.invert .main-navigation.vertical-menu .menu > li > a:hover,
.invert .main-navigation.vertical-menu .menu > li.menu-hover > a,
.invert .main-navigation.vertical-menu .menu > li.current_page_item > a,
.invert .main-navigation.vertical-menu .menu > li.current_page_ancestor > a,
.invert .main-navigation.vertical-menu .menu > li.current-menu-item > a,
.invert .main-navigation.vertical-menu .menu > li.current-menu-ancestor > a,
.invert .main-navigation .menu.isStuck > li > a:hover,
.invert .main-navigation .menu.isStuck > li.menu-hover > a,
.invert .main-navigation .menu.isStuck > li.current_page_item > a,
.invert .main-navigation .menu.isStuck > li.current_page_ancestor > a,
.invert .main-navigation .menu.isStuck > li.current-menu-item > a,
.invert .main-navigation .menu.isStuck > li.current-menu-ancestor > a,
.invert .main-navigation.mobile-menu .menu > li > a:hover,
.invert .main-navigation.mobile-menu .menu > li.menu-hover > a,
.invert .main-navigation.mobile-menu .menu > li.current_page_item > a,
.invert .main-navigation.mobile-menu .menu > li.current_page_ancestor > a,
.invert .main-navigation.mobile-menu .menu > li.current-menu-item > a,
.invert .main-navigation.mobile-menu .menu > li.current-menu-ancestor > a,
.invert .main-navigation .menu > li > a:hover,
.invert .main-navigation .menu > li.menu-hover > a,
.invert .main-navigation .menu > li.tm-mega-menu-hover > a,
.invert .main-navigation .menu > li.current_page_item > a,
.invert .main-navigation .menu > li.current_page_ancestor > a,
.invert .main-navigation .menu > li.current-menu-item > a,
.invert .main-navigation .menu > li.current-menu-ancestor > a {
	color: $regular_accent_color_1;
}

/*
 * Elements
 * Header
 *
 */
.search-form__input-wrap i,
.search-form__toggle,
.search-form__close,
.site-header-cart .cart-contents i { color: $regular_accent_color_2; }

.search-form__toggle:hover,
.search-form__close:hover,
.header-container .search-form__submit:hover,
.site-header-cart .cart-contents:hover i { color: @lighten($regular_text_color, 25%); }

.site-header-cart .cart-contents .count {
	color: $invert_text_color;
	background: $regular_accent_color_2;
}

.woocommerce.widget_shopping_cart .buttons a.button,
.woocommerce.widget_shopping_cart .buttons a.button.checkout:hover {
	color: $regular_accent_color_2;
	background: @darken($regular_accent_color_3, 1.18);
	border-color: @darken($regular_accent_color_3, 1.18);
}

.woocommerce.widget_shopping_cart .buttons a.button:hover,
.woocommerce.widget_shopping_cart .buttons a.button.checkout {
	color: $invert_text_color;
	background: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.contact-block__icon { color: $regular_text_color; }

.contact-block__item a:not(:hover),
.top-panel__menu a:not(:hover) { color: $regular_text_color; }


/*
 * Elements
 * Link
 *
 */
.tm_pb_text a { color: $regular_accent_color_2; }

.tm_pb_text a:hover { color: $regular_accent_color_1; }

/*
 * Elements
 * Blockquote and Testimonial
 *
 */
blockquote:before,
.tm_pb_testimonial:before { color: $regular_accent_color_2; }

/*
 * Elements
 * Post
 *
 */
.dropcaps,
.single-timeline_post .timeline_post > .entry-content > p:first-of-type:first-letter { background: $regular_accent_color_2; }

.entry-meta { color: $regular_accent_color_2; }

#tm_builder_outer_content .tm_pb_blog .tm_pb_content_container h5.entry-title {
	font-family: $h6_font_family;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	line-height: $h6_line_height;
	letter-spacing: $h6_letter_spacing{px};
}

/*
 * Elements
 * Widget Title
 *
 */
#tm_builder_outer_content .tm_pb_widget_area .widget-title {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: @font_family( $h4_font_family );
	letter-spacing: $h4_letter_spacing{em};
	color: $regular_h4_color;
}

/*
 * Builder-elements
 * Blurb
 *
 */
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module h4 {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	letter-spacing: $h6_letter_spacing{em};
	color: $regular_h6_color;
}

/*
 * Builder-elements
 * Slider
 *
 */
#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm_pb_slide_description .tm_pb_more_button,
#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_more_button {
	color: $invert_text_color;
	background: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm_pb_slide_description .tm_pb_more_button:hover,
#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description .tm_pb_more_button:hover {
	color: $invert_text_color;
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_slider.tm_pb_module .tm_pb_slide_description h2,
#tm_builder_outer_content .tm_pb_slider .tm_pb_slide_description h2 { line-height: $h2_line_height; }

#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev { color: @lighten($regular_text_color, 24.70588235294118); }

#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-next:hover,
#tm_builder_outer_content .tm_pb_slider .tm-pb-arrow-prev:hover { color: $regular_accent_color_2 !important; }

/*
 * Widget-elements
 * Subscribe and Follow
 *
 */
.subscribe-block__submit.btn {
	font-weight: $h1_font_weight;
	color: $invert_text_color;
	background: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.subscribe-block__submit.btn:hover {
	color: $invert_text_color;
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

/*
 * Widget-elements
 * Contact Information
 *
 */
.widget.contact-information-widget a { color: $regular_text_color; }

.widget.contact-information-widget a:hover { color: $regular_link_color; }

/*
 * Elements
 * ToTop button
 *
 */
#toTop {
	color: $invert_text_color;
	background-color: $regular_accent_color_2;
}

#toTop:hover { background-color: $regular_accent_color_1; }

/*
 * Elements
 * Page Preloader
 *
 */
.page-preloader {
	border-top-color: $regular_accent_color_2;
	border-right-color: $regular_accent_color_2;
}

/*
 * Elements
 * Social
 *
 */
.social-list a:not(:hover),
.woo-social-buttons .custom a { color: @lighten($regular_text_color, 24.7); }

.team-socials .team-socials_item a:hover,
.team-socials .team-socials_item a,
.woo-social-buttons .custom a:hover { color: $regular_accent_color_2; }

.team-socials .team-socials_item a:hover { color: $regular_accent_color_1; }

/*
 * Woo-elements
 * Buttons woo styles
 *
 */
.woocommerce .wishlist_compare_button_block button.button.btn {
	color: @lighten($regular_text_color, 25%);
	background: $invert_accent_color_1;
	border-color: @lighten($regular_text_color, 25%);
}

.woocommerce a.button.add_to_cart_button:not(.product_type_variable) {
	background: @darken($regular_accent_color_3, 1.18);
	border-color: @darken($regular_accent_color_3, 1.18);
	color: $regular_accent_color_2;
}

.btn-primary,
.woocommerce a.button.add_to_cart_button:hover,
.woocommerce a.button.add_to_cart_button.loading,
.woocommerce a.button.add_to_cart_button.loading:hover,
.woocommerce a.button.product_type_variable:hover,
.woocommerce .wishlist_compare_button_block button.button.btn:hover,
.woocommerce .wishlist_compare_button_block button.button.btn.loading,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce input.button,
.woocommerce input.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce button.button.tm-woocompare-empty,
.woocommerce button.button.btn.tm-wc-ajax-load-more-button,
.woocommerce .wishlist_compare_button_block button.button.btn.loading,
.woocommerce form.checkout_coupon .form-row-last .button {
	color: $invert_text_color;
	background: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.btn:hover,
.btn-primary:hover,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce #respond input#submit.loading,
.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce a.button.loading,
.woocommerce input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce input.button.loading,
.woocommerce button.button:hover,
.woocommerce button.button.alt:hover,
.woocommerce button.button.btn:hover,
.woocommerce button.button.loading,
.woocommerce button.button.tm-woocompare-empty:hover,
.woocommerce button.button.btn.tm-wc-ajax-load-more-button:hover,
.woocommerce form.checkout_coupon .form-row-last .button:hover {
	color: $invert_text_color;
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}

.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt:disabled[disabled],
.woocommerce #respond input#submit.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt:disabled[disabled],
.woocommerce a.button.alt:disabled[disabled]:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt:disabled[disabled],
.woocommerce input.button.alt:disabled[disabled]:hover,
.woocommerce-cart table.cart input.header-btn:disabled {
	background: @darken($regular_accent_color_3, 1.18);
	border-color: @darken($regular_accent_color_3, 1.18);
	color: $regular_accent_color_2;
}

/*
 * Woo-elements
 * Woocommerce price styles
 *
 */
.woocommerce .products .product .price,
.woocommerce div.product span.price,
.woocommerce div.product p.price,
.cart_list li .quantity .amount,
.woocommerce-cart .woocommerce .amount,
.woocommerce-checkout .woocommerce .amount,
.widget .woocs_price_code ins,
.woocommerce .products .product .price ins,
.woocommerce div.product .woocommerce-variation-price span.price ins,
.woocommerce div.product span.price ins,
.woocommerce .price ins,
.woocommerce div.product p.price ins,
.woocommerce.widget .woocs_price_code ins,
.price { color: $regular_accent_color_2; }

/**
 * Woo-elements
 * Product Category
 *
 */
.products .product-category .title_count_block > span,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block > span { color: $regular_text_color; }

.products .product-category .title_count_block .count,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block .count {
	font-style: $meta_font_style;
	line-height: @font_size( $body_line_height[size], multiple, abs, .6349206349206349 );
	color: $regular_text_color;
}

.products .product-category .title_count_block a.count:hover,
.tm-categories-carousel-widget-container .tm-categories-carousel-widget-wrapper .title_count_block a.count:hover { color: $regular_accent_color_1; }

/*
 * Woo-elements
 * SmartBox Widget
 *
 */
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:before { color: $regular_text_color; }

.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:hover,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab a:hover:before,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab.rd-material-tab-active a,
.widget.tm_products_smart_box_widget .rd-material-tabs__list .rd-material-tab.rd-material-tab-active a:before { color: $regular_accent_color_2; }

/**
 * Woo-elements
 * Styles for Carousel
 *
 */
.swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-button-prev:not(.swiper-button-disabled):hover { color: $regular_accent_color_2; }

/**
 * Woo-elements
 * Cart
 *
 */
.woocommerce a.remove:hover { color: $regular_accent_color_2 !important; }

.woocommerce.widget_shopping_cart .total strong { color: $regular_accent_color_2; }

/*
 * Woo-elements
 * Styles for Product Categories in Footer
 *
 */
.footer-area .widget.widget_product_categories li a { color: $regular_accent_color_2; }

.footer-area .widget.widget_product_categories li a:hover { color: $regular_accent_color_1; }

.single-post .invert .entry-meta,
.single-post .invert .entry-meta a { color: $invert_accent_color_1; }

.single-post .invert .entry-meta a:hover,
.single-post .invert .posted-by a:hover,
.single-post .invert a.share-btns__link:hover { color: @darken($invert_accent_color_1, 20); }

.invert .posted-by a:hover { color: $invert_link_hover_color; }

.widget-image-grid__title {
	font-family: $h6_font_family;
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: @font_size($h6_font_size, multiple, ceil, 1)px;
	line-height: $h6_line_height;
	letter-spacing: $h6_letter_spacing{px};
}

.invert .widget-image-grid__title a:hover,
.invert .widget-image-grid__date:hover,
.invert .widget-image-grid__author,
.invert .widget-image-grid__author a { color: $invert_link_hover_color; }

.invert .widget-image-grid__author a { color: $invert_link_color; }

.invert .main-navigation.vertical-menu .menu > li > a,
.invert .main-navigation .menu.isStuck > li > a,
.invert .main-navigation.mobile-menu .menu > li > a { color: $regular_text_color; }

.cherry-projects-wrapper .projects-item-instance .simple-icon:hover,
.cherry-projects-terms-wrapper .projects-terms-container .simple-icon:hover,
.cherry-projects-wrapper ul.order-filters > li ul li:hover span { color: $invert_link_hover_color; }

.invert .main-navigation .menu > li.current-menu-ancestor > a,
.text-accent-1 { color: $invert_link_hover_color; }