@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
h1 {
  font-family: "Montserrat", sans-serif;
  color: #fff; }

h2 {
  color: #0edc75; }

h3 {
  color: #141414; }

h4 {
  color: #0edc75; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #0edc75;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/clubstome/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 79px;
  font-weight: 800;
  top: 115px; }

.tm-title-caption {
  font-size: 34px;
  top: 230px;
  font-family: "Montserrat", sans-serif;
  color: #141414;
  line-height: 36px;
  width: 481px; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 60px; }

  .tm-title-caption {
    top: 180px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 60px; }

  .tm-title-caption {
    top: 180px;
    width: 198px; } }
@media (max-width: 1900px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 60px; }

  .tm-title-caption {
    top: 180px;
    width: 300px; } }
.rd-mobilemenu .logo {
  background-color: #fff; }

.toTop {
  background-color: #0edc75; }
  .toTop:hover {
    background: #474747; }
