.widget {
	&-title {
		margin-bottom: 0.8em;

		.full-width-header-area &,
		.after-content-full-width-area &,
		.tm_pb_column_4_4 & {
			margin-bottom: 1.5em;
		}

		.footer-area:not(.footer-area--fullwidth) {
			@include font-size(1);
			line-height: 1.5;
		}
	}
}