.footer-area.widget-area .widget{
	line-height: 1.625;
}

.footer-area-wrap + .footer-container{
	padding: 10px 0;
}


.site-footer.default {
	.footer-container.invert{
		.site-info{
			.footer-logo ~ .site-info__bottom,
			.footer-menu ~ .site-info__bottom{
				border-top-color: rgba($color__background-hr, 0.2);
			}
		}
	}
}