.comment {

	.reply {
		@include media-breakpoint-up(sm) {
			float: right;
		}
	}

	.comment {
		&-reply-link {
			@include font-size(14/16);
			letter-spacing: .2em;
		}

		#cancel-comment-reply-link {
			text-transform: none;
			letter-spacing: .1em;
			font-style: inherit;
		}
	}

}