//========================================================
//                     Variables
//========================================================

$primary-color: #2651b2;
$primary-color-second: #2B5AC7;
$primary-color-dark: #29272a;
$primary-color-white: #ffffff;
$header-background-image: '../../projects/cherry-re/img/header-bg.png';


$primary-font-family: 'Myriad Pro', serif;


//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color-white;

}
h2 {
	color: $primary-color-second;
	//font-family: $primary-font-family;
}
h3 {
	color: $primary-color-dark;
	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color-second;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-second;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
	font-size: 68px;
	font-weight:800;
	top:115px;
}

.tm-title-caption {
	font-size: 30px;
	top: 226px;
	font-family: $primary-font-family;
    color: $primary-color-dark;
    line-height: 36px;
    width: 481px;
}
@media (max-width: 1600px) and (min-width: 1440px){
	.rd-mobilepanel_title {
		top:85px;
 	}
	.tm-title-caption {	
		width:220px;
		top:196px;
	}
}
@media (max-width: 1800px) and (min-width: 1601px){
	.tm-title-caption {	
		width:300px;
	}
}
.rd-mobilemenu {
	.logo{
		background-color: $primary-color;
	}
}

.toTop {
	background-color: $primary-color-second;
	&:hover {
    	background: lighten($primary-color-dark, 20%);
	}
}