.post-author {
	&-bio {
		padding-top: 30px;
		margin-bottom: 30px;
		border-top: 1px solid $color__background-hr;

		@include media-breakpoint-up(lg) {
			padding-top: 60px;
			margin-bottom: 60px;
		}
	}
	&__avatar {
		float: none;
		margin: 0 0 20px;

		@include media-breakpoint-up(sm) {
			float: left;
			margin: 10px 1em 10px 0;
		}
	}
	&__content {
		@include media-breakpoint-up(sm) {
			overflow: hidden;
		}
	}
}
