.custom-posts {
	&__item {
		padding-bottom: 60px;
	}
	.post-thumbnail {
		margin: 0 0 0;

		img {
			margin: 0;
		}
		.sidebar-1-3 .sidebar &,
		.tm_pb_column_1_3 &,
		.footer-area--2-cols & {
			float: none;
			margin: 0;

			img {
				width: 100%;
			}
		}
	}
	.has-post-thumbnail .post-thumbnail {
		&,
		.sidebar-1-3 .sidebar &,
		.tm_pb_column_1_3 &,
		.footer-area--2-cols & {
			margin: 0 0 1.5em;
		}
	}
	.post-content-wrap {
		.sidebar-1-3 .sidebar &,
		.tm_pb_column_1_3 &,
		.footer-area--2-cols & {

		}
	}
	.entry {
		&-header {

		}
		&-title {
			margin: 0;

			&,
			.sidebar &,
			.tm_pb_column_1_3 &,
			.tm_pb_column_1_4 &,
			.footer-area:not(.footer-area--fullwidth) & {
				a {
					@include font-size(18/16);
				}
			}
		}
		&-content {
			p {
				margin: 0.7em 0 1em;
			}
		}
		&-footer {
			.link {
				@include link-to-btn();
				margin-top: 1.5em;
			}
		}
	}
}
