.widget-fpblock {
	&__item {
		position: relative;

		.post__cats {
			position: absolute;
			z-index: 99;
			top: 20px;
			left: 20px;
			margin: 0;
		}
	}
	&__item-title {
		.widget-fpblock & {
			margin: 0;
		}
	}
	&__item-content {
		margin: 4px 0 10px;
	}
}
