@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
h1 {
  font-family: "Pinyon Script", cursive;
  color: #3d3a44; }

h2 {
  color: #3d3a44; }

h3 {
  color: #3d3a44; }

h4 {
  color: #e49c9f; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #dbeae9;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/kustrix/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 151px;
  font-weight: 400; }

.tm-title-caption {
  font-size: 44px;
  top: 261px;
  font-family: "Playfair Display", serif;
  color: #3d3a44;
  line-height: 36px;
  width: 481px; }

.rd-mobilemenu .logo {
  background-color: #fff; }

.toTop {
  background-color: #fff; }
  .toTop:hover {
    background: white; }
