//========================================================
//                     Variables
//========================================================

$primary-color: #fff;
$primary-color-second: #dbeae9;
$primary-color-light: #3d3a44;
$primary-color-pink: #e49c9f;
$header-background-image: '../../projects/kustrix/img/header-bg.png';

@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
$primary-font-family:'Pinyon Script', cursive;

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
$secondary-font-family: 'Playfair Display', serif;
//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color-light;

}
h2 {
	color: $primary-color-light;
	//font-family: $primary-font-family;
}
h3 {
	color: $primary-color-light;
	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color-pink;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-second;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
	font-size: 151px;
	font-weight:400;
	top:9px;
}

.tm-title-caption {
	font-size: 40px;
	top: 200px;
	font-family: $secondary-font-family;
    color: $primary-color-light;
    line-height: 36px;
    width: 481px;
}
@media (max-width: 1600px) and (min-width: 1440px){
	.tm-title-caption {	
		width:220px;
	}
}
@media (max-width: 1800px) and (min-width: 1601px){
	.tm-title-caption {	
		width:300px;
	}
}
.rd-mobilemenu {
	.logo{
		background-color: $primary-color;
	}
}

.toTop {
	background-color: $primary-color-second;
	&:hover {
    	background: lighten($primary-color-light, 20%);
	}
}