@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,bold,);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700,italic,);
h1 {
  font-family: "Titillium Web", sans-serif;
  color: #313537; }

h4 {
  color: #000; }

.page-content.active .rd-mobilepanel {
  background-position: 62% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 48% bottom; } }

.rd-mobilepanel {
  background-color: #e8e8e8;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/blazingnews/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #ec4d94; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #ec4d94; }

.rd-mobilepanel_title {
  font-size: 60px;
  font-weight: 900;
  top: 237px;
  left: 41px;
  width: 500px;
  letter-spacing: 5px;
  font-style: bold; }

.tm-title-caption {
  font-size: 23px !important;
  top: 308px;
  font-family: "Noto Serif", serif;
  color: #000;
  line-height: 36px;
  width: 481px;
  left: 41px;
  font-style: italic; }

.rd-mobilepanel.fixed .rd-mobilepanel_title {
  -webkit-transform: translateY(50.25px);
      -ms-transform: translateY(50.25px);
          transform: translateY(50.25px);
  bottom: 61px;
  top: -40px;
  left: 56px; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 74px; }

  .tm-title-caption {
    top: 140px;
    left: 104px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 93px;
    left: 97px; }

  .tm-title-caption {
    top: 180px;
    width: 193px;
    left: 101px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 85px;
    left: 98px; }

  .tm-title-caption {
    top: 180px;
    width: 269px;
    left: 117px; } }
.rd-mobilemenu .logo {
  background-color: #fff; }

.rd-mobilemenu_ul ul a.focus {
  color: #ec4d94; }

.toTop {
  background-color: #ec4d94;
  color: #ffffff; }
  .toTop:hover {
    background-color: #b5b5b5; }
