h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	&:last-child {
		margin-bottom: 0;
	}
}

h1{
	margin: 0;
	#woo-main & {
		margin-bottom: 15px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 35px;
		}
	}
}

h2 {
	margin: 0 0 15px;
}

h3 {
	margin: 0 0 15px;
}

h4 {
	margin: 0 0 20px;
}

h5 {
	margin: 0 0 14px;
}

h6 {
	margin: 0 0 7px;
}

p {
	& + h1,
	& + h2 {
		margin-top: 28px;
	}
	& + h3 {
		margin-top: 42px;
	}
	& + h4 {
		margin-top: 45px;
	}
	& + h5 {
		margin-top: 48px;
	}
	& + h6 {
		margin-top: 50px;
	}
}