<div class='team-item_content'>
	%%PHOTO wrap="div" class="team-listing_photo"%%
	<div class='team-listing_inner'>
		%%NAME wrap="h4" class="team-listing_name" link="true"%%
		%%POSITION wrap="small" class="team-listing_position"%%
		%%EXCERPT wrap="div" class="team-listing_desc"%%
		%%SOCIALS wrap="div" class="team-listing_socials"%%
	</div>
</div>