<div class="team-header">
	<div class="team-photo">
		%%PHOTO size="medium" link="false"%%
	</div>
	<div class="team-meta">
		<h1>%%NAME%%</h1>
		%%POSITION%%
		%%LOCATION%%
		%%PHONE%%
		%%SOCIALS%%
	</div>
</div>
<div class="team-content">
	%%CONTENT%%
	%%SKILLS%%
</div>
