<div class="team-item_wrapper">
	<div class="team-listing_image">
		%%PHOTO wrap="div" class="team-listing_photo" link="false"%%
		%%SOCIALS wrap="div" class="team-listing_socials"%%
	</div>
	%%NAME wrap="h5" class="team-listing_name" link="true"%%
	%%POSITION wrap="small" class="team-listing_position"%%
	%%EXCERPT wrap="div" class="team-listing_desc"%%
</div>
