<div class="team-photo">
	%%PHOTO size="medium" link="false"%%
</div>
%%NAME wrap="h1" class="team-name"%%
<div class="team-meta">
	%%POSITION wrap="h5"%%
	%%LOCATION wrap="h5"%%
	%%PHONE wrap="h5"%%
</div>
<hr>
<div class="team-content">
	%%CONTENT%%
</div>
%%SOCIALS%%
%%SKILLS%%