<div class="team-photo">
	%%PHOTO size="medium" link="false"%%
</div>
%%NAME wrap="h3" class="team-name"%%
<div class="team-meta">
	%%POSITION%%
	%%LOCATION%%
	%%PHONE%%
</div>
<div class="team-content">
	%%CONTENT%%
</div>
%%SOCIALS%%
%%SKILLS%%