.site-header.style-2 .header-container:not(.transparent):after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	box-shadow: 0 -2px 14px 0 rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid $color__background-hr;
}