blockquote {
	margin-top: 32px;
	margin-bottom: 32px;
	.single-post .post > .entry-content &,
	.page > .entry-content & {
		text-align: left;
	}

	.entry-content & cite {
		@include font-size(18/16);
		margin-top: 13px;
	}

	&::before {
		font-style: normal;
		line-height: 32px;
	}

	p + & {
		margin-top: 52px;
	}
}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
@import "page-preloader";

/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
@import "totop-button";
