//========================================================
//                     Variables
//========================================================

$primary-color: #2aa5ab;
$primary-color-light: #fff;
$primary-color-second: #ff2512;

$header-background-image: '../../projects/niceinn/img/header-bg.png';

@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One:400,700);
$primary-font-family: 'Pathway Gothic One', sans-serif;


//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color;

}
h2 {
	//font-family: $primary-font-family;
}
h3 {
	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color-second;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-light;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}
.rd-mobilepanel_toggle {
	span{
		background-color: $primary-color;
		&:before, &:after{
			background-color: $primary-color;
		}
	}
	
}

.rd-mobilepanel_title {
	font-size: 74px;
	font-weight:100;
	top:213px;
	width: 400px;
	line-height: 105px;
}

.tm-title-caption {
	font-size: 30px;
	top: 294px;
	font-family: $primary-font-family;
    color: $primary-color;
    line-height: 36px;
    width: 481px;
}
@media (max-width: 1439px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
	}
}
@media (max-width: 1600px) and (min-width: 1440px){
	.rd-mobilepanel_title{
		top:83px
	}
	.tm-title-caption {	
		top:83px;
		width:198px;
	}
}
@media (max-width: 1800px) and (min-width: 1601px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
		width:300px;
	}
}
.rd-mobilemenu {
	.logo{
		background-color: $primary-color-light;
	}
}
.rd-mobilemenu_ul{
	ul{
		a{
			&.focus{
				color: $primary-color-second;
			}
		}
	}
} 

.rd-mobilepanel.fixed .rd-mobilepanel_title {
    transform: translateY(50.25px);
    bottom: 61px;
    top: -75px;
} 

.toTop {
	background-color: $primary-color;
	color: #ffffff;
	&:hover {
    	background-color:darken($primary-color-second,20%);
	}
}