blockquote {
	text-align: left;
	position: relative;
	padding-left: 29px;
	text-transform: uppercase;
	@include media-breakpoint-up(sm) {
		padding-left: 37px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 12px;
		bottom: 12px;
		left: 0;
		border-left-width: 4px;
		border-left-style: solid;
	}

	.tm-testi & {
		&::before {
			border: none;
		}
	}

	cite {
		padding-bottom: 6px;
		text-transform: capitalize;
		letter-spacing: .2em;
	}

	article & cite {
		@include font-size(14/16);
	}

	.single .format-quote .entry-content & {
		padding: 0 0 0 29px;
		@include media-breakpoint-up(sm) {
			padding: 0 0 0 37px;
		}
		> * {
			max-width: none;
		}
	}
}

/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
@import "page-preloader";

/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
@import "totop-button";
