.post-password-form {
	text-align: center;
	@include media-breakpoint-up(md) {
		text-align: left;
	}
	label {
		display: inline-block;
		vertical-align: top;
		margin: 5px 0;

		& + input[type="submit"] {
			margin: 5px 0;
		}
	}
}