ul:not([class]):not([id]),
#tm_builder_outer_content .tm_pb_module ul:not([class]){
	list-style-type: none;
		li {
			padding-left: 15px;
			position: relative;

			& + li {
				margin-top: 8px;
			}

			&:before {
				position: absolute;
				left: 0;
				top: 13px;
				display: inline-block;
				content: '';
				width: 6px;
				height: 6px;
				border-radius: 50%;
			}
		}
	}

#tm_builder_outer_content .tm_pb_contact_form .tm-pb-contact-message{
	ul{
		li:before{
			display: none;
		}
		li + li{
			margin-top: 0;
			&:before{
				display: none;
			}
		}
	}
}


/* List (no marker) */
.entry-content ul.list {
	li {
		& + li,
		> ul li,
		> ol li {
			margin-top: 21px;
		}
	}
}
