blockquote {
	text-align: left;
	padding-left: 40px;
	border-left: 3px solid;

	.tm-testi & {
		border-left: none;
		padding-left: 0;
	}
	cite {
		display: block;
		margin-top: 7px;
		&:before {
			content: "— ";
		}
	}
	&:after {
		content: "";
		position: absolute;
		width: 1px;
		left: 2px;
		top: 0;
		bottom: 0;
		.tm-testi & {
			content: none;
		}
	}

	&:before {
		content: none;
	}

	.single .format-quote .entry-content & {
		@include border-radius($border__radius);
		padding: 0 0 0 40px;

		> * {
			max-width: inherit;
		}
	}
	.single.single-format-quote .format-quote .entry-content & {
		background: none;
	}
}

hr:not(.tm_pb_module) {
	height: auto;
	margin: 40px 0 45px;
	padding-bottom: 3px;
	width: 40px;
	position: relative;
	border-top: 3px solid;
	background: transparent;
	&:after {
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		border-top: 1px solid;
	}
	&:last-child {
		margin-bottom: 0;
	}
}


/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
@import "page-preloader";

/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
@import "totop-button";
