@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates:700);
h1 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #FFFFFF; }

h2 {
  color: #7d16ee; }

h3 {
  color: #323137; }

h4 {
  color: #7d16ee; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% top; } }

.rd-mobilepanel {
  background-color: #323137;
  background-position: right top;
  transition-property: height;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px top; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/stylepark/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 62px; }

.tm-title-caption {
  font-size: 32px;
  top: 200px;
  font-family: "Montserrat Alternates", sans-serif;
  color: #FFFFFF;
  line-height: 36px;
  width: 430px; }

.rd-mobilemenu .logo {
  background-color: #7d16ee; }

.toTop {
  background-color: #7d16ee; }
  .toTop:hover {
    background: #b275f5; }
