@import url(//fonts.googleapis.com/css?family=Racing+Sans+One);
h1 {
  font-weight: normal;
  color: #F7E549;
  font-family: 'Racing Sans One', cursive; }

h2 {
  color: #ec4040; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #303F9F;
  background-position: right top; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/fitnesys/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel:not(.fixed) .rd-mobilepanel_title {
  font-size: 82px; }

.tm-title-caption {
  font-size: 32px;
  top: 200px;
  color: #FFFFFF;
  line-height: 36px;
  width: 430px; }

@media (max-width: 1600px) and (min-width: 1400px) {
  .rd-mobilepanel_title {
    top: 44px; }

  .tm-title-caption {
    top: 155px;
    width: 200px; } }
.rd-mobilemenu .logo {
  background-color: #FFFFFF; }
  .rd-mobilemenu .logo a {
    display: inline-block; }

.toTop {
  background-color: #303F9F; }
  .toTop:hover {
    background: #6573d0; }
