.site-header.style-6 {
	.site-branding {
		text-align: center;
	}

	.main-navigation {
		@include media-breakpoint-up(md) {
			width: 100%;
			margin-top: 20px;

			.menu {
				justify-content: center;
			}
		}
	}
	.header-btn {
		margin-top: 25px;
		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}
	}

	.header-btn-wrap {
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: right;
		}
	}
}