.site-logo {
	margin: 0;
	line-height: 1;
	&__link {
		text-decoration: none;
		line-height: 1;
	}
}
.site-description {
	@include font-size(.75);
	.site-header.style-6 &,
	.site-header.style-7 &{
		text-align: center;
	}
}