//========================================================
//                     Variables
//========================================================

$primary-color: #ffffff;
$primary-color-second: #3e3e3e;
$primary-color-dark: #000000;
$header-background-image: '../../projects/mohican/img/header-bg.png';

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
$primary-font-family:   'Work Sans', sans-serif;

//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color-dark;

}
h2 {
	color: $primary-color-second;
	//font-family: $primary-font-family;
}
h3 {
	color: $primary-color-dark;
	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color-second;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-second;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
	font-size: 61px;
	font-weight: 700;
	top:175px;
	color: $primary-color;
	text-transform:uppercase;
}

.tm-title-caption {
	font-size: 30px;
	top: 268px;
	font-family: $primary-font-family;
    color: $primary-color;
    line-height: 48px;
    width: 500px;
}

.rd-mobilemenu {
	.logo{
		background-color: $primary-color;
	}
}

.toTop {
	background-color: $primary-color-second;
	&:hover {
    	background: lighten($primary-color-second, 20%);
	}
}
.bold_text{
font-weight: 600;
}
.it_text{
font-weight: 400;
font-style: italic;
}
@media (max-width: 1439px){
	.rd-mobilepanel_title {
		top:52px;
	}
	.tm-title-caption {	
		width:259px;
		top:158px;
		text-align: left;
	}
}
@media (max-width: 1600px) and (min-width: 1440px){
	.rd-mobilepanel_title {
		top:52px;
	}
	.tm-title-caption {	
		width:259px;
		top:158px;
		text-align: left;
	}
}
@media (max-width: 1800px) and (min-width: 1601px){
	.rd-mobilepanel_title {
		top:52px;
	}
	.tm-title-caption {	
		width:300px;
		top:158px;
	}
}
@media (max-width: 1900px) and (min-width: 1801px){
	.tm-title-caption {	
		width:300px;
	}
}