.widget-about {
	&__logo {
		margin-bottom: 33px;

		.footer-area & {
			margin-bottom: 27px;
		}
		&-img {
			@include image-border();

			.footer-area & {
				border: none;
			}
		}
		&-wrap {
			display: inline-block;
			vertical-align: top;
		}
	}
	&__tagline {
		text-transform: uppercase;
		letter-spacing: .5em;
		text-align: center;
		margin: 5px 0 0;
	}
	&__content {
		font-size: .77em;
		line-height: 1.42;
		margin-top: 20px;

		.footer-area & {
			font-size: 1em;
		}
	}
	&__social {
		margin-top: 35px;
		margin-bottom: -10px;

		.social-list .social-list__items {
			margin: 0;
		}
		ul {
			li.menu-item {
				@include social-style();
			}
		}
	}
}
