.about-author {
	&_avatar {
		margin-bottom: 33px;

		.footer-area & {
			margin-bottom: 27px;
		}
	}
	&_img {
		border-radius: 0;
		@include image-border();

		.footer-area & {
			border: none;
		}
	}
	&_description {
		font-size: .77em;
		line-height: 1.57;
		margin-top: 20px;

		.footer-area & {
			font-size: 1em;
		}
	}
	&_btn {
		i {
			display: none;
		}
	}
}
