.swiper-button-prev,
.swiper-button-next {
	border-radius: 50%;
	right: 45px;
	transition: 333ms all;

	.swiper-container.swiper-container-horizontal & {
		border-radius: 50%;
		right: 45px;
	}
	&:after {
		content: 'keyboard_arrow_right';
		@include material-icon();

		font-size: 24px;
		line-height: 50px;
	}
	i {
		display: none;
	}
}
.swiper-button-prev {
	right: auto;
	left: 45px;

	.swiper-container.swiper-container-horizontal & {
		right: auto;
		left: 45px;
	}
	&:after {
		content: 'keyboard_arrow_left';
	}
}
.swiper-slide {
	.carousel__more-btn {
		i {
			display: none;
		}
	}
}
.tm_products_carousel_widget .swiper-button-prev,
.widget_product_categories_image .swiper-button-prev,
.related .swiper-button-prev {
	right: 40px;
}
