.contact-information-widget {
	.icon {
		&.fa {
			&[class*="linearicon"] {
				&:before {
					font-family: 'linearicon';
				}
			}
		}
	}
	.contact-information-widget__inner {
		.icon {
			font-size: 14px;
			margin-right: 8px;
		}
		li {
			font-size: .9em;

			& + li {
				margin-top: 17px;
			}
		}
	}
}
