// Categories
.widget_categories {
	ul {
		li {
			padding: 0;

			&:after {
				display: none;

				.tm_pb_column_1_3 &,
				.tm_pb_column_1_4 & {
					display: none;
				}
			}
		}
	}
}

// Comments
.widget_recent_comments {
	ul {
		li.recentcomments {
			font-style: normal;
			font-size: .66em;
			color: inherit;

			&:not(:first-child) {
				margin-top: 21px;
			}
			a {
				&:before {
					margin-top: 9px;
				}
			}
		}
	}
}

// Calendar
.widget_calendar {
	.calendar_wrap {
		margin: 0 -2px;

		@include media-breakpoint-up(lg) {
			margin: 0 -10px;
		}

		tbody {
			td {
				border-radius: 0;

				&:not(.pad) {
					background: none;
				}
				a {
					border: none;
				}
				&.pad {
					line-height: 1;
				}
				&#today {
					background: none;
				}
			}
		}
	}
	table {
		margin-bottom: 0;
		border-collapse: separate;
		position: relative;
		border-spacing: 2px;

		@include media-breakpoint-up(lg) {
			border-spacing: 10px;
		}
	}
	caption {
		margin: 0 2px;
		padding: 13px 10px;
		background: $color__lighter-gray-2;
		position: relative;
		z-index: 10;
		text-align: center;
		font-weight: bold;

		@include media-breakpoint-up(lg) {
			margin: 0 10px;
		}
	}
	thead,
	tbody {
		th,
		td {
			text-align: center;
		}
	}
	thead {
		th {
			padding-top: 13px;
		}
	}
	tbody {
		position: relative;

		@include media-breakpoint-up(xl) {
			top: -13px;
		}
		td {
			padding: 4px 0;

			a {
				margin: 0;
				display: block;
				padding: 2px;
				border: none;
				border-radius: 0;
				top: 2px;
			}
		}
	}
	tfoot {
		@include media-breakpoint-up(xl) {
			position: absolute;
			top: 0;
			width: 100%;
		}
		td {
			padding: 0;
		}
		tr {
			@include media-breakpoint-up(xl) {
				position: absolute;
				width: 100%;
			}
		}
	}
	#prev, #next{
		font-size: 1rem;
		top: 0;
		height: 50px;
		z-index: 15;

		@include media-breakpoint-up(xl) {
			position: absolute;
		}
		a {
			text-indent: -9999px;
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
			width: 50px;
			height: 50px;
			color: rgba(0, 0, 0, 0);

			&:before{
				@include material-icon();
				width: 50px;
				height: 50px;
				line-height: 50px;
				margin: 0;
				top: 0;
				left: 0;
				text-indent: 0;
				text-align: center;
				display: block;
				font-size: 24px;
				transition: 333ms all;

				@include media-breakpoint-up(xl) {
					position: absolute;
				}
			}
		}
	}
	#prev{
		left: 0;

		a {
			&:before{
				content: "keyboard_arrow_left";
			}
		}
	}
	#next{
		right: 20px;

		a {
			&:before{
				content: "keyboard_arrow_right";
			}
		}
	}
}

// Recent Entries
.widget_recent_entries {
	ul {
		li {
			display: flex;
			flex-direction: column;

			.footer-area--3-cols &,
			.footer-area--4-cols & {
				@include media-breakpoint-up(xl) {
					width: 80%;
				}
			}
			a {
				order: 2;

				.footer-area & {
					font-family: inherit;
					font-weight: bold;
					font-size: .93em;
					line-height: 1.57;
				}
			}
			.post-date {
				order: 1;
				font-style: normal;
				font-size: .8em;
				color: inherit;
				margin: 0 0 6px;

				.footer-area & {
					margin-bottom: 0;
				}
			}
			& + li {
				margin-top: 28px;

				.footer-area & {
					margin-top: 18px;
				}
			}
		}
	}
}

// Tags
.tagcloud {
	margin: 0;

	a {
		padding: 0;
		border: none;

		.widget_tag_cloud & {
			background: none;
		}
	}
}
