.widget-instagram {
	#tm_builder_outer_content .tm_pb_module.tm_pb_widget_area & {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.widget-title {
		padding-left: 10px;
		padding-right: 10px;
	}
	* + .instagram__date,
	* + .instagram__caption {
		margin-top: 0;

		&:not(:empty) {
			margin: 5px 0;
		}
	}
}
.instagram {
	&__item {
		padding: 0;

		.before-content-area &,
		.after-content-area &,
		.footer-area--fullwidth &,
		.tm_pb_column_4_4 & {
			@include media-breakpoint-up(xl) {
				flex-basis: 12.5%;
			}
		}
	}
	&__img,
	&__cover {
		border-radius: 0;
	}
}
