// Rooms widget
#tm_builder_outer_content .tm_pb_column_4_4 .tm_pb_widget_area,
.full-width-header-area,
.after-content-full-width-area {
	.widget_mphb_rooms_widget.widget {
		.mphb_widget_rooms-wrapper {
			margin-left: $grid-gutter-width / -2;
			margin-right: $grid-gutter-width / -2;
			display: flex;
			flex-wrap: wrap;

			.mphb-room-type {
				padding-left: $grid-gutter-width / 2;
				padding-right: $grid-gutter-width / 2;
				margin-top: 1em;
				margin-bottom: 1em;
				flex: 1 0 100%;
				max-width: 100%;

				@include media-breakpoint-up(md) {
					flex: 1 0 50%;
					max-width: 50%;
				}
				@include media-breakpoint-up(lg) {
					flex: 1 0 33.3333%;
					max-width: 33.3333%;
				}
			}
		}
	}
}
.widget_mphb_rooms_widget.widget {
	.mphb_widget_rooms-wrapper {
		.mphb-room-type {}
	}
	.mphb-widget-room-type-featured-image {
		a {
			display: inline-block;
			vertical-align: top;
			@include image-border-pseudo;
		}
	}
	.mphb-widget-room-type-title {
		position: relative;
		z-index: 10;
		margin: 2px 0 0;

		a {
			font-weight: normal;
		}
	}
	.mphb-widget-room-type-attributes {
		li {
			&:before {
				content: '•';

				#tm_builder_outer_content .tm_pb_module.tm_pb_widget_area & {
					content: '•';
				}
			}
			& + li {
				margin: 0;

				#tm_builder_outer_content .tm_pb_module.tm_pb_widget_area & {
					margin-top: 0;
				}
			}
		}
	}
	.mphb-widget-room-type-price {
		margin: 0 0 1.2em;

		.mphb-price {
			display: block;
			font-weight: normal;

			&-wrapper {
				margin-top: -.07em;
			}
		}
	}
	.mphb-widget-room-type-book-button {
		margin: 32px 0 0;
	}
	.mphb-book-button {
		border: none;
	}
}
