.breadcrumbs {
	padding: 0;

	.site-content & {
		background-color: $color__lighter-gray;
	}
	&:before {
		display: none;
	}
	&__title {
		order: 2;
	}
	&__items {
		order: 1;
	}
	&__wrap {
		margin: 13px 0;
		display: flex;
	}
	&__item {
		display: block;

		&-sep {
			margin: 0 8px;
			color: $color__light-gray;
		}
	}
}
