.pagination {
	padding: 25px 0 5px;
	margin-bottom: 60px;
	border-color: $color__background-hr;

	.nav-links {
		a,
		span {
			background-color: transparent;
		}
	}
}
.site-content .page-numbers,
#tm_builder_outer_content .pagination .page-numbers {
	line-height: 1.2;
	min-width: inherit;
	height: auto;
	margin: 0 10px 5px 0;
	border: none;
	text-align: left;
	padding: 5px;
	border-radius: 0;
	background-color: transparent;

	&.next,
	&.prev {
		min-width: inherit;

		i {
			font-size: 24px;
		}
	}
}

/*Page links*/
.page-links {
	.site-content & {
		margin: 0;
	}
	a,
	> .page-links__item {
		.site-content & {
			line-height: 1.2;
			min-width: inherit;
			height: auto;
			margin: 0 10px 5px 0;
			text-align: left;
			text-decoration: none;
			border: none;
			padding: 0 5px;
		}
		.site-content .entry-content & {
			background-color: transparent;
		}
	}
	a {
		text-decoration: none;
	}
}

.site-content .page-links a:hover,
.site-content .page-links > .page-links__item{
	background-color: transparent;
	border-color: transparent;
}
