/*--------------------------------------------------------------
### Hentry (WordPress native CSS-class for post/page article)
--------------------------------------------------------------*/
.hentry {

	.posts-list & {
		margin-bottom: 70px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 80px;
		}
	}

	.posts-list--default & {
		margin-bottom: 70px;

		& + .hentry {
			padding-top: 80px;
			border-top: 1px solid $color__background-hr;
		}
	}
}
/*--------------------------------------------------------------
### Entry (header, content, footer)
--------------------------------------------------------------*/
.entry {
	&-header {
		.posts-list & {
			margin-bottom: 14px;
		}
		.posts-list--default & {
			margin-bottom: 14px;
		}
	}
	&-title {
		.format-link & {
			margin-bottom: 10px;
		}
	}
	&-meta {
		> *:not(:last-child) {
			position: relative;
			&:after {
				content: '';
				width: 2px;
				height: 14px;
				background: $color__bg-meta-divider;
				position: absolute;
				top: 50%;
				margin-top: -7px;
				right: -3px;
			}
		}
	}
	&-summary,
	&-content {
		.posts-list:not(.posts-list--default) &,
		.search.search-results & {
			> *:first-child{
				margin-top: 0;
			}
		}
	}
	&-footer {
		.posts-list--default:not(.content-none) & {
			margin-top: 8px;
		}

		.posts-list:not(.posts-list--default) &{
			> * {
				margin-top: 40px;
				&:first-child {
					margin-top: 20px;
				}
			}
		}

		.posts-list--default & {
			> * {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
}
/*--------------------------------------------------------------
### Post attributes (thumbnail, meta)
--------------------------------------------------------------*/
.post {
	&__category {
		display: block;
		margin: 0 -3px 20px;
		a {
			@include terms-style();
		}

	}
	&-thumbnail {
		&--fullwidth {
			.posts-list & {
				@include media-breakpoint-up(lg) {
					margin-top: 1.1em;
					margin-bottom: 1.3em;
				}
			}
			.posts-list.content-none & {
				@include media-breakpoint-up(lg) {
					margin-bottom: 1em;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
### Related posts
--------------------------------------------------------------*/
.single .related-posts.posts-list{
	.entry-content {
		> *:first-child {
			margin-top: 18px;
		}
	}
}
/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
@import "sticky";