//========================================================
//                     Variables
//========================================================

$primary-color: #212129;
$primary-color-second: #121212;
$primary-color-light: #ffffff;
$primary-color-yellow: #ffcc42;
$header-background-image: '../../projects/finestgame/img/header-bg.png';

@import url(https://fonts.googleapis.com/css?family=Rubik);
$primary-font-family:'Rubik', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
$secondary-font-family: 'Ubuntu Mono', ;

//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color-light;

}
h2 {
	color: $primary-color-yellow;

}
h3 {
	color: $primary-color;

}
h4 {
	color: $primary-color-yellow;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			background-position: 66% top;
			@media (max-width: 1440px) {
    			background-position: 100% bottom;
			}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-second;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 60% auto;
	    	background-position: 600px top;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
 	font-size: 50px;
	font-weight:400;
	text-transform: uppercase;
	top:185px;
}

.tm-title-caption {
	font-size: 14px;
	top: 256px;
	font-family: $secondary-font-family;
    color: $primary-color-light;
    line-height: 36px;
    width: 481px;
}

@media (max-width: 1439px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
	}
}
@media (max-width: 1600px) and (min-width: 1440px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
		width:198px;
	}
}
@media (max-width: 1800px) and (min-width: 1601px){
	.rd-mobilepanel_title{
		top:100px
	}
	.tm-title-caption {	
		top:180px;
		width:300px;
	}
}
.rd-mobilemenu {
	.logo{
		background-color: $primary-color;
	}
}

.toTop {
	background-color: $primary-color;
	&:hover {
    	background: lighten($primary-color, 20%);
	}
}