// Options
$enable-rounded: false !default;

$border__radius:     3px;
$box__shadow:        0 8px 16px rgba(186,186,213,0.57);
$box__shadow_mobile: 0 4px 8px rgba(186,186,213,0.57);

$box__shadow_banner: 6px 8px 16px rgba(186,186,213,0.57);
$box__shadow_banner_mobile: 3px 4px 8px rgba(186,186,213,0.57);

$size__site-main:    100%;
$size__site-sidebar: 25%;

$input__indents_y: 9px;
$input__indents_x: 20px;

$button__indents_y:     13px;
$button__indents_x:     25px;
$button__indents:       $button__indents_y $button__indents_x;
$button__border-radius: $border__radius;
$button__border:        1px solid;
$button__box-shadow:    2px 3px 0 0 #000;

$embed__ratio: 75.395%;  //  thumbnail height / thumbnail width