.format-audio {
	.post-featured-content {
		.posts-list & {
			padding: 0;
		}
	}
}

.format-quote {
	.post-featured-content {
		.posts-list & {
			padding: 0;
			blockquote {
				max-width: 100%;
				text-align: left;
			}
		}
	}

	.entry-content blockquote {
		.single .site-main & {
			background: transparent;
		}
	}
}

.format-audio,
.format-quote {
	.post-featured-content {
		.posts-list & {
			background: transparent;
		}
	}
}

.post-format-link {
	&::before {
		display: none;
	}
}