@import url(https://fonts.googleapis.com/css?family=Syncopate:400,700,bold,);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,);
h1 {
  font-family: "Syncopate", sans-serif;
  color: #313b4b; }

h4 {
  color: #000; }

.page-content.active .rd-mobilepanel {
  background-position: 62% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 48% bottom; } }

.rd-mobilepanel {
  background-color: #f8f4f3;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/cupojava/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_toggle span {
  background-color: #c3917d; }
  .rd-mobilepanel_toggle span:before, .rd-mobilepanel_toggle span:after {
    background-color: #c3917d; }

.rd-mobilepanel_title {
  font-size: 43px;
  font-weight: 600;
  top: 237px;
  left: 118px;
  width: 500px;
  letter-spacing: 5px; }

.tm-title-caption {
  font-size: 24px !important;
  top: 308px;
  font-family: "Raleway", sans-serif;
  color: #313b4b;
  line-height: 36px;
  width: 481px;
  left: 123px;
  letter-stacing: 5px; }

@media (max-width: 1439px) {
  .rd-mobilepanel_title {
    top: 74px; }

  .tm-title-caption {
    top: 140px;
    left: 104px; } }
@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 93px;
    left: 97px; }

  .tm-title-caption {
    top: 180px;
    width: 198px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .rd-mobilepanel_title {
    top: 104px;
    left: 98px; }

  .tm-title-caption {
    top: 180px;
    width: 269px;
    left: 117px; } }
.rd-mobilemenu .logo {
  background-color: #313b4b; }

.rd-mobilemenu_ul ul a.focus {
  color: #c3917d; }

.toTop {
  background-color: #c3917d;
  color: #ffffff; }
  .toTop:hover {
    background-color: #d2b9b3; }
