.footer-area:not(.footer-area--fullwidth) .widget .textwidget {
	line-height: 1.78;
}

.footer-area {
	.widget_recent_comments ul li + li {
		margin-top: 15px;
	}

	.contact-information-widget {
		li + li {
			margin-top: 15px;
		}
	}
}

@import "footer/layout-default";
@import "footer/layout-style-2";