.footer-area {
	padding-top: 20px;
	padding-bottom: 0;
	.before-full-width-area & {
		padding-top: 40px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 1.5625rem;
			right: 1.5625rem;
			border-top: 1px solid $color__background-hr;
		}
	}

	&-wrap {
		padding-top: 50px;
	}

	.widget {
		margin-bottom: 30px;
	}
}

@import "footer/layout-default";
@import "footer/layout-centered";