//========================================================
//                     Variables
//========================================================

$primary-color: #FFFFFF;
$primary-color-second: #69ca9d;
$primary-color-dark: #292b2f;
$third-color: #ec3642;
$primary-color-light: #000;
$header-background-image: '../../projects/helpinghand/img/header-bg.png';

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');



$primary-font-family: 'Merriweather Sans', sans-serif;

$secondary-font-family: 'Merriweather Sans', sans-serif;

//========================================================
//                     Color & Styles
//========================================================

h1 {
	font-family: $primary-font-family;
	color: $primary-color;
}	
h2 {
	color: $primary-color-light;
	//font-family: $primary-font-family;
}
h3 {
	color: $primary-color-light;
	//font-family: $primary-font-family;
}
h4 {
	color: $primary-color-light;
}

.page-content {
	&.active {
		.rd-mobilepanel{
			@media (max-width: 1600px) and (min-width: 1400px) {
    			background-position: 100% bottom !important;
    		}
			background-position: 66% top !important;
			@media (max-width: 1440px) {
    			background-position: 150% bottom !important;
    		}
    		@media (max-width: 1200px) and (min-width: 976px) {
    			background-position: 185% bottom !important;
    		}
		}
	}
}
	.rd-mobilepanel {
		background-color: $primary-color-second;
		background-position: right top;
		transition-property: height;
	    transition-duration: 2s;
	    transition-timing-function: linear;
	    transition-delay: 1s;
		@media (max-width: 1440px) {
	    	background-size: 81% auto;
	    	background-position: 600px bottom;
		}
	}

[data-section="introduction"] {
	.rd-mobilepanel {
		background-image: url($header-background-image);
		height: 600px;
		&.fixed {
    		height: 56px;
    		background-image: none;
    		transition: top 1s ease-out 0.5s;
    	}
	}
}
body:not([data-section="introduction"]) {
	.tm-title-caption {
		display: none;
	}
}

 .rd-mobilepanel_title {
	font-size: 50px;
	top:220px;
	font-style: bold;
		&:before{
			content: '';
		    position: absolute;
		    background-image: url(../../projects/helpinghand/img/im.png);
		    background-size: contain;
		    background-repeat: no-repeat;
		    display: block;
		    width: 80px;
		    height: 115px;
		    left: -75px;
		    top: -4px;
		}
}

.tm-title-caption {
	font-size: 50px;
	top: 330px;
	font-family: $secondary-font-family;
    color: $third-color;
    line-height: 36px;
    width: 365px;
    font-style: italic;
    text-align: center;
}

.rd-mobilemenu {
	.logo{
		background-color: $primary-color-dark;
	}
}
.toTop {
	background-color: $primary-color-second;
	&:hover {
    	background: lighten($third-color, 20%);
	}
}

@media (max-width: 1600px) and (min-width: 976px){
	.rd-mobilepanel_title {
		top: 298px;
		bottom: 130px;
	}
	.tm-title-caption {	
		width:259px;
		top: 176px;
		text-align: left;
		font-size: 38px;
	}
}
@media (max-width: 1800px) and (min-width: 1601px){
	.rd-mobilepanel_title {
		top: 183px;
	}
	.tm-title-caption {	
		width:300px;
		top: 176px;
	}
}

.rd-mobilepanel_toggle span{
	background-color: $primary-color;
		&:before, &:after{
			background-color: $primary-color;
		}
}

.rd-mobilepanel.fixed .rd-mobilepanel_title{
	&:before{
		display: none;
	}
}