.top-panel .top-panel__top,
.top-panel .top-panel__bottom,
.top-panel{
	border: none;
}

.top-panel .top-panel__top + .top-panel__bottom{
	border-top: 1px solid $color__background-hr;
}

.top-panel.invert .top-panel__top + .top-panel__bottom{
	border-top: 1px solid rgba($color__background-hr, 0.2);
}