/*!
Skin Name: Skin 7
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Grid
# Typography
# Elements
	## Lists
	## Tables
	## Preloader
	## ToTop button
# Forms
# Navigation
	## Links
	## Top Menu
	## Main Menu
	## Footer Menu
	## Paginations
	## Breadcrumbs
	## Social List
# Modules
	## Accessibility
	## Alignments
	## Clearings
	## Comments
	## Swiper
	## Author Bio
	## Share Buttons
	## Magnific Popup
# Components
	## Card
# Content
	## Layout
	## Header
	## Posts and pages
	## Post Formats
	## Footer
	## 404
# Widgets
	## Defaults
	## About author
	## About Monstroid2
	## Banner
	## Carousel
	## Contact Information
	## Custom Posts
	## Featured Posts Block
	## Instagram
	## Image Grid
	## News Smart Box
	## Playlist Slider
	## Smart Slider
	## Subscribe
	## Taxonomy Tiles
# Media
	## Captions
	## Galleries
	## Embeds
# Plugins
	## BuddyPress
	## Events
	## Booked
	## Timeline
	## Events Schedule
	## Contact Form 7
	## Power Builder
	## Cherry Team Members
	## Cherry Testimonials
	## Cherry Project
	## Mega menu
# Woocommerce Part

--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Lists
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Tables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## ToTop button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn {
  letter-spacing: .1em;
}

/*--------------------------------------------------------------
## Fields
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Search-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comment-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Password-form
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Top Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Main Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Vertical menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Paginations
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Social List
--------------------------------------------------------------*/
.site-footer .social-list .social-list__items .menu-item a:before {
  font-size: 21px;
  font-size: 1.3125rem;
}

/*--------------------------------------------------------------
## Toggle buttons
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Modules
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Swiper
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Suthor-bio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Share
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Magnific Popup
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header.default .header-container.header-btn-visibility {
  padding: 36px 0;
}
.site-header.default .header-container:after {
  display: none;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Sticky Post
--------------------------------------------------------------*/
.posts-list--default .sticky__label {
  margin-top: 2px;
}

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer-area {
  padding-top: 20px;
  padding-bottom: 0;
}
.before-full-width-area .footer-area {
  padding-top: 40px;
  position: relative;
}
.before-full-width-area .footer-area::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1.5625rem;
  right: 1.5625rem;
  border-top: 1px solid #ECECEE;
}
.footer-area-wrap {
  padding-top: 50px;
}
.footer-area .widget {
  margin-bottom: 30px;
}

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.after-content-full-width-area {
  padding-top: 90px;
  padding-bottom: 12px;
}
.after-content-full-width-area .widget:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
## Defaults
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## About author
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## About Monstroid2
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Banner
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Carousel
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Information
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Custom Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Featured Posts Block
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Instagram
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Image Grid
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## News Smart Box
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Playlist Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Smart Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Subscribe
--------------------------------------------------------------*/
.after-content-full-width-area .subscribe-block__form {
  max-width: 652px;
}
.subscribe-block__input-wrap i {
  display: none;
}
.subscribe-block__input[type='email'] {
  padding-left: 24px;
  padding-right: 24px;
}
.after-content-full-width-area .subscribe-block__input[type='email'] {
  background: #fff;
  border-color: #ECECEE;
}
.after-content-full-width-area .subscribe-block__input[type='email'].error {
  border-color: #FF596D;
}
.subscribe-block__message {
  margin-bottom: 5px;
}

/*--------------------------------------------------------------
## Taxonomy Tiles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## bbPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Events
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Booked
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Timeline
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Events Schedule
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Form 7
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Power Builder
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Misc
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Typography
--------------------------------------------------------------*/
.tm_builder_outer_content h3 {
  margin-bottom: 35px;
}
.tm_builder_outer_content h3 + hr {
  display: block;
  width: 78px;
  height: 3px;
  margin-top: 35px;
  margin-bottom: 38px;
}
.tm_builder_outer_content .tm_pb_text_align_center h3 + hr,
.tm_builder_outer_content .tm_pb_brands_showcase_module__title::after {
  margin-left: auto;
  margin-right: auto;
}
.tm_builder_outer_content .tm_pb_text a[href^='tel:']:before {
  content: '\e76a';
  font-family: 'Linearicon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: .08em;
  margin-right: .37em;
}

/*--------------------------------------------------------------
### Accordion
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_toggle.tm_pb_toggle_open {
  background: transparent;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_toggle,
#tm_builder_outer_content .tm_pb_module.tm_pb_accordion .tm_pb_toggle {
  padding: 24px 0;
}

/*--------------------------------------------------------------
# Audio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Blurb
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm_pb_main_blurb_image {
  margin-bottom: 16px;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm-pb-icon {
  font-size: 64px;
  font-size: 4rem;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module .tm-pb-icon-circle {
  font-size: 44px;
  font-size: 2.75rem;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module.tm_pb_blurb_position_left {
  margin-bottom: 11px;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module.tm_pb_blurb_position_left .tm_pb_main_blurb_image {
  padding-top: 0;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module.tm_pb_blurb_position_left .tm_pb_blurb_container {
  padding-left: 36px;
}
#tm_builder_outer_content .tm_pb_blurb.tm_pb_module.tm_pb_blurb_position_top .tm_pb_blurb_container h4 {
  margin-bottom: 7px;
}
#tm_builder_outer_content .tm_pb_blurb_position_left .tm-pb-icon:not(.tm-pb-icon-circle) {
  font-size: 32px;
  font-size: 2rem;
}

/*--------------------------------------------------------------
### Brands Showcase
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Carousel
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Circle Counter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Contact-form
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_contact_form .tm_pb_contact_submit {
  margin-top: 20px;
}

/*--------------------------------------------------------------
### Countdown Timer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Counters
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Icon
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Map
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Number Counter
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Person
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Posts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Pricing Table
--------------------------------------------------------------*/
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_table {
  padding-bottom: 4px;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_table_button {
  margin-bottom: 43px;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_heading {
  padding-top: 42px;
  padding-bottom: 4px;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_heading .tm_pb_best_value {
  font-size: 14px;
  font-size: 0.875rem;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_title {
  position: relative;
  padding-bottom: 39px;
  margin-bottom: 24px;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: #ECECEE;
  height: 1px;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_tm_price .tm_pb_dollar_sign {
  font-size: 32px;
  font-size: 2rem;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_content_top {
  padding-bottom: 14px;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_content_top .tm_pb_sum {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.1667;
}
#tm_builder_outer_content .tm_pb_module.tm_pb_pricing .tm_pb_pricing_content li {
  padding-left: 0;
  padding-bottom: 16px;
}

/*--------------------------------------------------------------
### Promo (Call to action)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Sidebar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Slider
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Social Media Follow
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Tabs
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Taxonomy
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Testimonial
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Toggle
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Video
--------------------------------------------------------------*/
/*--------------------------------------------------------------
### Video slider
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Team Members
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Testimonials
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Cherry Project
--------------------------------------------------------------*/
/*-------------------------------------------------------------
## Mega Menu
--------------------------------------------------------------*/
