<div class="project-media">
	%%FEATUREDIMAGE size="post-thumbnail"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	%%TITLE%%
	%%CONTENT number_of_words="15"%%
</div>
