<div class="project-media grid-default-skin1">
	<div class="project-media-front">
		%%FEATUREDIMAGE size="monstroid2-thumb-m-2"%%
	</div>
	<div class="project-media-back">
		%%FEATUREDIMAGE size="monstroid2-thumb-m-2"%%
		<div class="hover-content invert">
			<div class="project-meta entry-meta">
				%%TERMSLIST type="projects_tag"%%
			</div>
			%%TITLE%%
			%%CONTENT number_of_words="20"%%
			%%ZOOMLINK%%
		</div>
	</div>
</div>