<div class="images-post-template-skin1">
	<div class="cherry-projects-single__header">
		%%TITLE%%
		<div class="cherry-projects-single-meta entry-meta">
			%%DATE%%
			%%AUTHOR%%
		</div>
	</div>
	%%IMAGELIST crop="true" crop_width="660" crop_height="500"%%
	<div class="cherry-projects-single__content">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-xl-5">
					%%DETAILSLIST%%
					%%SKILLSLIST%%
				</div>
				<div class="col-xs-12 col-md-12 col-xl-7">
					%%CONTENT%%
				</div>
			</div>
	</div>
</div>