<div class="project-media">
	%%FEATUREDIMAGE%%
	<div class="hover-content column-format invert invert_primary">
		<div class="project-meta entry-meta">
			%%TERMSLIST type="projects_category"%%
			%%TERMSLIST type="projects_tag"%%
		</div>
		%%TITLE%%
	</div>
</div>