<div class="standard-post-template-skin1">
	<div class="cherry-projects-single__header">
		%%TITLE%%
		<div class="cherry-projects-single-meta entry-meta">
			%%DATE%%
			%%AUTHOR%%
		</div>
	</div>
	<div class="cherry-projects-single__media">
		%%FEATUREDIMAGE size="monstroid2-thumb-1355-1020"%%
	</div>
	<div class="cherry-projects-single__content">
		<div class="row">
			<div class="col-xs-12 col-md-12 col-xl-5">
				%%DETAILSLIST%%
				%%SKILLSLIST%%
			</div>
			<div class="col-xs-12 col-md-12 col-xl-7">
				%%CONTENT%%
			</div>
		</div>
	</div>
</div>