<div class="terms-grid-skin1_1">
	<div class="project-terms-media">
		%%TERMIMAGE crop="true" crop_width="890" crop_height="670"%%
	</div>
	<div class="project-terms-content">
		%%TERMNAME%%
		%%TERMDESCRIPTION number_of_words="25"%%
		%%TERMPERMALINK text_visible="true"%%
	</div>
</div>
