<div class="terms-grid-skin6-tmpl">
	<div class="project-terms-media">
		%%TERMIMAGE crop="true" crop_width="600" crop_height="600"%%
		<div class="hover-content column-format invert">
			%%TERMNAME%%
			%%TERMDESCRIPTION number_of_words="15"%%
			<hr>
		</div>
	</div>
</div>