<div class="project-terms-media terms-grid-skin1">
	<div class="project-terms-media-front">
		%%TERMIMAGE size="post-thumbnail"%%
		<div class="hover-content column-format invert">
			%%TERMNAME%%
		</div>
	</div>
	<div class="project-terms-media-back">
		%%TERMIMAGE size="post-thumbnail"%%
		<div class="hover-content column-format invert">
			%%TERMNAME%%
			%%TERMDESCRIPTION number_of_words="15"%%
			%%TERMPERMALINK text_visible="true"%%
		</div>
	</div>
</div>