<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__header">
		%%TITLE%%
		<div class="cherry-projects-single-meta entry-meta">
			%%DATE%%
			%%AUTHOR%%
			%%COMMENTS prefix=""%%
			%%TERMSLIST type="projects_category"%%
			%%TERMSLIST type="projects_tag"%%
		</div>
	</div>
	<div class="cherry-projects-single__media">
		%%FEATUREDIMAGE size="monstroid2-thumb-l"%%
	</div>
	%%VIDEOLIST width="886" height="668"%%
	<div class="cherry-projects-single__content">
		%%CONTENT%%
		%%DETAILSLIST%%
		%%SKILLSLIST%%
		%%SHAREBUTTONS%%
	</div>
</div>
