.btn,
.link,
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	@include font-size(14/16);
	text-transform: none;
	letter-spacing: .2em;
}

.btn {
	padding-top: 22px;
	padding-bottom: 22px;

	.before-loop-area &,
	.after-loop-area &,
	.before-content-area &,
	.after-content-area &,
	.full-width-header-area &,
	.after-content-full-width-area &,
	.footer-area--fullwidth &,
	.tm_pb_column_4_4 & {
		padding-left: 49px;
		padding-right: 49px;
	}
}

