@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:500");
@import url("https://fonts.googleapis.com/css?family=Hind+Siliguri:500");
h1 {
  font-family: "Libre Franklin", sans-serif;
  color: #ffffff; }

h2 {
  color: #303030; }

h3 {
  color: #303030; }

h4 {
  color: #303030; }

.page-content.active .rd-mobilepanel {
  background-position: 66% top; }
  @media (max-width: 1440px) {
    .page-content.active .rd-mobilepanel {
      background-position: 100% bottom; } }

.rd-mobilepanel {
  background-color: #ff6a28;
  background-position: right top;
  -webkit-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 1s;
          transition-delay: 1s; }
  @media (max-width: 1440px) {
    .rd-mobilepanel {
      background-size: 60% auto;
      background-position: 600px bottom; } }

.video-wrap {
  padding-bottom: 100px; }

[data-section="introduction"] .rd-mobilepanel {
  background-image: url("../../projects/woostroid/img/header-bg.png");
  height: 600px; }
  [data-section="introduction"] .rd-mobilepanel.fixed {
    height: 56px;
    background-image: none;
    -webkit-transition: top 1s ease-out 0.5s;
            transition: top 1s ease-out 0.5s; }

body:not([data-section="introduction"]) .tm-title-caption {
  display: none; }

.rd-mobilepanel_title {
  font-size: 42px;
  font-weight: 400;
  top: 201px;
  color: #ffffff; }

.tm-title-caption {
  font-size: 20px;
  top: 274px;
  font-family: "Hind Siliguri", sans-serif;
  color: #ffffff;
  line-height: 36px;
  width: 385px; }

.rd-mobilemenu .logo {
  background-color: #ffffff; }

.rd-mobilemenu_ul ul a.focus {
  color: #ff6a28; }

.toTop {
  background-color: #ff6a28; }
  .toTop:hover {
    background: #ff7132; }

.bold_text {
  font-weight: 600; }

.it_text {
  font-weight: 400;
  font-style: italic; }

@media (max-width: 1600px) and (min-width: 1440px) {
  .rd-mobilepanel_title {
    top: 56px;
    left: 37px; }

  .tm-title-caption {
    width: 259px;
    top: 125px;
    text-align: left;
    left: 37px; } }
@media (max-width: 1800px) and (min-width: 1601px) {
  .tm-title-caption {
    width: 300px; } }
