.comment {
	&-list {
		.children {
			> .comment {
				margin-top: 35px;
			}
		}
		> .comment,
		> .ping {
			& + .comment,
			& + .ping {
				margin-top: 40px;
			}
		}
	}
	&-body {
		.fn {
			display: inline-block;
			margin-bottom: 0;
			position: relative;
			margin-right: 20px;
			&:after {
				content: '';
				width: 2px;
				height: 14px;
				background: $color__bg-meta-divider;
				position: absolute;
				top: 50%;
				margin-top: -7px;
				right: -16px;
			}
		}
		.reply {
			margin-left: auto;
		}
	}
	&-content-wrap {
		@include border-radius();
		padding: 0;
		margin-top: -5px;
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-up(lg) {
			margin-top: -10px;
		}
		.site & {
			background-color: transparent;
		}

		&:before {
			content: none;
		}
	}
	&-meta {
		order: -1;
		margin-right: 15px;
	}
	&-content {
		width: 100%;
		order: 5;
		p {
			line-height: 2;
			.site .comment & {
				@include font-size(1);
			}
		}
	}
	&-reply-link {
		letter-spacing: 2.5px;
		text-transform: uppercase;
		.site & {
			@include font-size(1);
		}
	}
	&-date {
		display: inline-block;
	}
}