.share-btns {
	&__list {
		margin-left: -12px;
		margin-right: -12px;
	}
	&__item {
		padding-left: 12px;
		padding-right: 12px;
	}
	&__link {
		@include font-size(1.25);

		.single &{
			@include font-size(1.25);
		}
	}
}